<%= simple_form_for @collection, html: { class: 'prevent-enter-submit', multipart: true } do |f| %>

    <%= render partial: 'common/error_summary', locals: { resource: @collection } %>

    <%= f.input :title %>

    <%= f.input :description, as: :markdown_area, input_html: { rows: '10' } %>

    <div class="form-group">
      <%= render partial: 'common/image_form', locals: { form: f } %>
    </div>

  <%= f.input :public,
              hint: "Un-ticking this box will hide this collection from anyone who isn't the creator or a collaborator." %>

    <%= f.multi_input :keywords %>

    <%= render partial: 'collections/collection_items_form',
               locals: { f: f, field_name: 'materials', url: materials_path,
                         items: @collection.items.where(resource_type: 'Material') } %>

    <%= render partial: 'collections/collection_items_form',
               locals: { f: f, field_name: 'events', url: events_path(include_expired: true, sort: 'late'),
                         items: @collection.items.where(resource_type: 'Event'),
                         group_by: 'group', transform_function: 'events' } %>

    <div class="form-group actions">
      <%= f.submit ( f.object.new_record? ? "Create" : "Update") + " collection", :class => 'btn btn-primary' %>
      <%= link_to 'Back', collections_path, class: 'btn btn-default' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  collections_path, :class => 'btn btn-default' %>
    </div>
<% end %>
