<div class="wrapper">

  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <div class="row">
        <%= render partial: "search/common/facet_sidebar", locals:  { resources: @collections_results, resource_type: Collection } %>
      </div>
    </div>
  <% end %>

  <div id="content">
    <div class="row">

      <h2>Collections</h2>
    </div>
    <div class="row">
      <%= link_to new_collection_path, :class=>"btn btn-default" do %>
          Create collection
      <% end %>
        <%= info_button("") do %>
          <%= render_markdown(CollectionsHelper::COLLECTIONS_INFO) %>
        <% end %>
    </div>

    <% if TeSS::Config.solr_enabled %>
        <div class="row">
          <%= render partial: "search/common/search_box", locals: { resource_path: collections_path } %>
          <%= render partial: "search/common/search_info", locals: { resources: @collections_results, resource_type: 'collection' } %>
          <%= render partial: "search/common/search_filters", locals: { resources: @collections_results } %>

          <button class="btn btn-default" id="sidebar-toggle" type="button" autocomplete="off">
            <i class="fa fa-filter"></i> Filters
          </button>
        </div>
    <% end %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @collections } %>

    <%= render partial: 'common/masonry_grid', locals: { objects: @collections } %>
  </div>

</div>
