<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <%= render partial: "search/common/facet_sidebar",
                 locals:  { resources: @collections_results, resource_type: Collection } %>
    </div>
  <% end %>

  <div id="content">
    <h2><%=t("features.collections.long")%></h2>
    <% content_for :buttons do %>
      <%= link_to new_collection_path, class: 'btn btn-primary' do %>
        <%= t('register.buttons.collections') %>
      <% end %>
      <%= info_button("What are collections in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
        <%= render_markdown(CollectionsHelper::COLLECTIONS_INFO) %>
      <% end %>
    <% end %>

    <%= render partial: "search/common/search_panel", locals: { resources: @collections_results,
                                                                resource_type: Collection } %>

    <%= render partial: 'common/masonry_grid', locals: { objects: @collections } %>

    <%= render partial: 'search/common/pagination_bar', locals: { resources: @collections } %>
  </div>

</div>
