<div class="wrapper collapsing-wrapper">
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'collections/partials/collection_info', locals: { collection: @collection } %>
  </div>

  <div id="content">
    <div class="content-actions">
      <div class="content-manager-actions">
        <% if policy(@collection).manage? %>
          <%= render partial: 'collaborations/collaborators_button', locals: { resource: @collection } %>
        <% end %>
        <% if !current_user.nil? and policy(@collection).curate? and TeSS::Config.feature['events'] %>
          <%= link_to t('.curate_events', default: [:'helpers.links.events', 'events']),
                      curate_events_collection_path(@collection), :class => 'btn btn-default' %>
        <% end %>
        <% if !current_user.nil? and policy(@collection).curate? and TeSS::Config.feature['materials'] %>
          <%= link_to t('.curate_materials', default: [:'helpers.links.materials', 'materials']),
                      curate_materials_collection_path(@collection), :class => 'btn btn-default' %>
        <% end %>
        <%= edit_button(@collection) if policy(@collection).update? %>
        <%= delete_button(@collection) if policy(@collection).destroy? %>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <%= tab('Materials', icon_class_for_model('materials'), 'materials',
                active: @collection.materials.any? || @collection.events.none?,
                disabled: { check: @collection.materials.none?, message: 'No associated training materials' },
                count: @collection.materials.count) %>

        <%= tab('Events', icon_class_for_model('events'), 'events', active: @collection.materials.none? && @collection.events.any?,
                disabled: { check: @collection.events.none?, message: 'No associated events' },
                count: @collection.events.count) %>
      </ul>
    </div>

    <div class="tab-content">
      <div id="materials" class="tab-pane fade <%= 'in active' if @collection.materials.any? || @collection.events.none? %>">
        <div class="row">
          <div class="search-results-count">
            <%= pluralize(@collection.materials.count, 'training material') %> found
          </div>

          <%= render partial: 'common/masonry_grid', locals: { objects: @collection.materials } %>
        </div>
      </div>
      <div id="events" class="tab-pane fade <%= 'in active' if @collection.materials.none? && @collection.events.any? %>">
        <div class="row">
          <div class="search-results-count">
            <%= pluralize(@collection.events.count, 'event') %> found
          </div>

          <%= render partial: 'common/masonry_grid', locals: { objects: @collection.events } %>
        </div>
      </div>
      <%= render partial: 'activities/activity_log_button', locals: { resource: @collection } %>
    </div>
  </div>
</div>
