<div class="wrapper collapsing-wrapper">
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'collections/partials/collection_info', locals: { collection: @collection } %>
  </div>

  <div id="content">
    <%= unverified_notice(@collection) if @collection.from_unverified_or_rejected? %>
    <div class="content-actions">
      <div class="content-manager-actions">
        <% if policy(@collection).manage? %>
          <%= render partial: 'collaborations/collaborators_button', locals: { resource: @collection } %>
        <% end %>
        <% if TeSS::Config.feature['collection_curation'] && current_user && policy(@collection).curate? %>
          <% if feature_enabled?('events') %>
            <%= link_to t('.curate_events', default: [:'helpers.links.events', 'events']),
                        curate_events_collection_path(@collection), class: 'btn btn-default' %>
          <% end %>
          <% if feature_enabled?('materials') %>
            <%= link_to t('.curate_materials', default: [:'helpers.links.materials', 'materials']),
                        curate_materials_collection_path(@collection), class: 'btn btn-default' %>
          <% end %>
        <% end %>
        <%= edit_button(@collection) if policy(@collection).update? %>
        <%= delete_button(@collection) if policy(@collection).destroy? %>
      </div>
    </div>
    <div class="my-3">
      <% materials = @collection.material_items %>
      <% materials_count = materials.count %>
      <% event_items = @collection.event_items %>
      <% e = @collection.events.from_verified_users.not_disabled %>
      <% events_count = e.count %>
      <% not_finished_events_count = e.not_finished.count %>
      <% activator = tab_activator %>
      <ul class="nav nav-tabs">
        <% if feature_enabled?('materials') %>
          <%= tab('Materials', icon_class_for_model('materials'), 'materials', activator: activator,
                  disabled: { check: materials_count.zero?, message: 'No registered training materials' },
                  count: materials_count) %>
        <% end %>
        <% if feature_enabled?('events') %>
          <%= tab('Events', icon_class_for_model('events'), 'events', activator: activator,
                  disabled: { check: events_count.zero?, message: 'No associated events' },
                  count: not_finished_events_count.zero? && events_count.positive? ? '0*' : not_finished_events_count) %>
        <% end %>
      </ul>
    </div>

    <div class="tab-content ml-3">
      <% if feature_enabled?('materials') %>
        <%= render partial: 'common/associated_resources',
                   locals: { model: Material,
                             total_count: materials_count,
                             resources: materials,
                             activator: activator,
                             view_all_link: materials_path(collections: @collection.title) } %>
      <% end %>

      <% if feature_enabled?('events') %>
        <%= render partial: 'common/associated_events',
                   locals: { total_count: events_count,
                             resources: event_items,
                             activator: activator,
                             view_all_link: events_path(collections: @collection.title, include_expired: true) } %>
      <% end %>
    </div>

    <%= render partial: 'activities/activity_log_button', locals: { resource: @collection } %>
  </div>
</div>
