<div class="wrapper collapsing-wrapper">
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'collections/partials/collection_info', locals: { collection: @collection } %>
  </div>

  <div id="content">
    <div class="content-actions">
      <div class="content-manager-actions">
        <% if policy(@collection).manage? %>
          <%= render partial: 'collaborations/collaborators_button', locals: { resource: @collection } %>
        <% end %>
        <% if !current_user.nil? and policy(@collection).curate? and TeSS::Config.feature['events'] %>
          <%= link_to t('.curate_events', default: [:'helpers.links.events', 'events']),
                      curate_events_collection_path(@collection), :class => 'btn btn-default' %>
        <% end %>
        <% if !current_user.nil? and policy(@collection).curate? and TeSS::Config.feature['materials'] %>
          <%= link_to t('.curate_materials', default: [:'helpers.links.materials', 'materials']),
                      curate_materials_collection_path(@collection), :class => 'btn btn-default' %>
        <% end %>
        <%= edit_button(@collection) if policy(@collection).update? %>
        <%= delete_button(@collection) if policy(@collection).destroy? %>
      </div>
    </div>
    <div class="row">
      <% materials = @collection.materials %>
      <% materials_count =  @collection.materials.count %>
      <% events = @collection.events %>
      <% events_count =  @collection.events.count %>
      <% activator = tab_activator %>
      <ul class="nav nav-tabs">
        <%= tab('Materials', icon_class_for_model('materials'), 'materials', activator: activator,
                disabled: { check: materials_count.zero?, message: 'No associated training materials' },
                count: materials_count) %>

        <%= tab('Events', icon_class_for_model('events'), 'events', activator: activator,
                disabled: { check: events_count.zero?, message: 'No associated events' },
                count: events_count) %>
      </ul>
    </div>

    <div class="tab-content">
      <% if TeSS::Config.feature['materials'] %>
        <%= render partial: 'common/associated_resources',
                   locals: { model: Material,
                             total_count: materials_count,
                             resources: materials,
                             activator: activator,
                             view_all_link: materials_path(collections: @collection.title) } %>
      <% end %>

      <% if TeSS::Config.feature['events'] %>
        <%= render partial: 'common/associated_events',
                   locals: { total_count: events_count,
                             resources: events,
                             activator: activator,
                             view_all_link: events_path(collections: @collection.title, include_expired: true) } %>
      <% end %>
    </div>

    <%= render partial: 'activities/activity_log_button', locals: { resource: @collection } %>
  </div>
</div>
