<div class="wrapper">
  <div id="sidebar" class="popout-sidebar">
    <% if @leaderboard %>
      <%= render :partial => 'leaderboard', :locals => {:leaderboard => @leaderboard} %>
    <% end %>
  </div>

  <div id="content">
    <div class="pull-right">
      <%= info_button("How to curate topics in #{TeSS::Config.site['title_short']}") do %>
        <%= render_markdown(MaterialsHelper::TOPICS_INFO) %>
      <% end %>
    </div>
    <h3>Displaying all <%= pluralize @suggestions.count, 'topic suggestion' %></h3>
    <% @suggestions.each do |suggestion| %>
      <% resource = suggestion.suggestible %>
      <%= render layout: 'common/mixed_resources', locals: {resource: resource} do%>
        <%= render partial: 'common/approve_term_suggestions', locals: { suggestion: suggestion } %>
      <% end %>
    <% end %>
  </div>
</div>

