
<div class="wrapper">
  <div id="sidebar" class="popout-sidebar">

    <h3 class="nav-heading" id="sidebar-header">
      Blah
    </h3>
    <% if @leaderboard %>
        <%= render :partial => 'leaderboard', :locals => {:leaderboard => @leaderboard} %>
    <% end %>
  </div>

  <div id="content">
    <div class="row">
      <h3>Displaying all <%= pluralize @suggestions.count, 'topic suggestion' %></h3>
      <div class="pull-right">
        <%= info_button('How to curate topics in TeSS') do %>
            <%= render_markdown(MaterialsHelper::TOPICS_INFO) %>
        <% end %>
      </div>
    </div>
    <% @suggestions.each do |suggestion| %>
        <% resource = suggestion.suggestible %>
        <%= render layout: 'common/mixed_resources', locals: {resource: resource} do%>
        <%= render partial: 'common/approve_term_suggestions', locals: { suggestion: suggestion } %>
        <% end %>
    <% end %>

  </div>
</div>




