<% filter_params = {} %>
<% filter_params[:role] = params[:role] if params.key?(:role) %>
<% filter_params[:with_content] = params[:with_content] if params.key?(:with_content) %>
<% filter_params[:max_age] = params[:max_age] if params.key?(:max_age) %>

<div class="page-header">
    <h2><%= t('curation.users.title') %></h2>

    <div class="form-inline">
      <% if current_user.is_admin? %>
        <div class="form-group">
          <%= label_tag('role_id', t('curation.users.filters.with_role.title')) %>
          <%= select_tag('role_id', role_options(@role),
                         onchange: "Curation.applyParam(this, 'role')",
                         title: t('curation.users.filters.with_role.hint'),
                         autocomplete: 'off', class: 'form-control') %>
        </div>
      <% end %>

      <div class="form-group">
        <%= label_tag('max_age', t('curation.users.filters.max_age.title')) %>
        <%= select_tag('max_age', max_age_options(filter_params[:max_age]),
                       onchange: "Curation.applyParam(this, 'max_age')",
                       title: t('curation.users.filters.max_age.hint'),
                       autocomplete: 'off', class: 'form-control') %>
      </div>

      <div class="checkbox btn btn-default<%= ' active' if params[:with_content] -%>" title="<%= t('curation.users.filters.with_content.hint') %>">
        <%= label_tag do %>
          <%= check_box_tag :with_content, true, params[:with_content], autocomplete: 'off',
                            data: { url: url_for(params[:with_content] ? filter_params.except(:with_content) : filter_params.merge({ with_content: true })) },
                            onchange: "window.location = $(this).data('url');" %>
          <%= t('curation.users.filters.with_content.title') %>
        <% end %>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-push-8">
    <div class="panel panel-default" id="recent-user-curation-activity">
      <div class="panel-heading"><%= t('curation.users.recent_activity.title') %></div>
      <div class="panel-body">
        <% activities = recent_approvals %>
        <% if activities.any? %>
          <ul class="recent-approvals">
            <% activities.each do |activity| %>
              <li>
                <strong><%= link_to activity.trackable.name, activity.trackable, target: '_blank' -%></strong> -
                <%= approval_message(activity.parameters[:new]) -%>
                <%= t('curation.users.activity.info',
                      curator: activity.owner.try(:username),
                      time: time_ago_in_words(activity.created_at)) -%>
              </li>
            <% end %>
          </ul>
        <% else %>
          <span class="muted"><%= t('curation.users.recent_activity.empty') %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-8 col-sm-pull-4">
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="panel panel-default curate-user">
          <div class="panel-heading">
            <%= link_to user.name, user, target: '_blank' %>

            <% if user.banned? %>
              <span class="text-danger">(<%= user.shadowbanned? ? 'shadowbanned' : 'banned'-%>)</span>
            <% end %>

            <div class="pull-right curate-user-buttons" data-action-url="<%= user_path(user) -%>">
              <%= link_to('Approve', '#', class: 'btn btn-xs btn-success', 'data-role-id' => Role.approved.id ) %>
              <%= link_to('Reject', '#', class: 'btn btn-xs btn-danger', 'data-role-id' => Role.rejected.id ) %>
            </div>
          </div>
          <div class="panel-body">
            <i><%= t('curation.users.list.registered_time', time: time_ago_in_words(user.created_at)) -%></i><br/>

            <strong><%= Profile.human_attribute_name(:email) %>:</strong>
            <% if user.profile.email.blank? %>
              <span class="empty"><%= t('curation.users.list.blank_attribute') %></span>
            <% else %>
              <%= mail_to user.profile.email %>
            <% end %><br/>

            <strong><%= User.human_attribute_name(:website) %>:</strong>
            <% if user.profile.website.blank? %>
              <span class="empty"><%= t('curation.users.list.blank_attribute') %></span>
            <% else %>
              <%= link_to user.profile.website, user.profile.website, rel: 'nofollow' %>
            <% end %><br/>

            <% User::CREATED_RESOURCE_TYPES.each do |type| %>
              <% count = user.send(type).count %>
              <% if count > 0 %>
                <% resources = user.send(type).order(created_at: :desc).first(3) %>
                <strong><%= resources.first.class.model_name.human -%></strong>
                <ul>
                  <% resources.each do |resource| %>
                    <li>
                      <%= link_to resource.title, resource, target: '_blank' %>
                      <% if resource.respond_to?(:url) %>
                        <br/>
                        URL: <%= link_to resource.url, resource.url, target: '_blank', rel: 'nofollow noreferrer noopener' -%>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
                <% if count > 3 %>
                  <%= link_to "See all #{pluralize(count, resources.first.class.model_name.human)}",
                              polymorphic_path(type, user: user.username), target: '_blank' -%><br/>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= render partial: 'search/common/pagination_bar', locals: { resources: @users } %>
    <% else %>
      <%= t('curation.users.list.empty', role: @role.title.downcase.pluralize)-%>
    <% end %>
  </div>
</div>
