<div class="list-card">
  <%= link_to(material.title, material, class: 'list-card-heading') %>
  <div class="dont-break-out">
    <p class>
      <%= scrape_status_icon(material) if current_user and current_user.is_admin? %>
      <%= missing_icon(material) if current_user and current_user.is_admin? %>
      <%= suggestion_icon(material) if current_user and current_user.is_admin? -%>
      <%= truncate(material.short_description, length: 300, separator: ' ') %>
    </p>
    <div class="row" style="margin: 0px;">
      <% if controller_name != 'content_providers' %>
          <div class="col-md-9" style="padding: 0px;">
            <%= display_attribute(material, :scientific_topics){|values| values.map{|x| x.preferred_label}.join(', ')} %>
            <%= display_attribute(material, :operations){|values| values.map{|x| x.preferred_label}.join(', ')} %>
            <%= display_attribute(material, :keywords){|values| values.join(', ')} %>
            <%= display_attribute(material, :resource_type){|values| values.join(', ')} %>

            <% if policy(material).update? && material.edit_suggestion %>
                <%= render partial: 'common/approve_term_suggestions', locals: { suggestion: material.edit_suggestion } %>
            <% end %>
          </div>
          <div class="col-md-3">
            <% if material.content_provider %>
              <%= link_to material.content_provider, :class=>"pull-right" do %>
                  <%= image_tag(material.content_provider.image.url, :class => "small-content-provider-logo") %>
              <% end %>
            <% end %>
            <%# TODO Add node logo as well, if material's provider  belongs to a node %>
          </div>
      <% else %>
          <div class="col-md-12" style="padding: 0px;">
            <%= display_attribute(material, :scientific_topics){|values| values.map{|x| x.preferred_label}.join(', ')} %>
            <%= display_attribute(material, :keywords){|values| values.join(', ')} %>
            <%= display_attribute(material, :resource_type){|values| values.join(', ')} %>
          </div>
      <% end %>
    </div>
  </div>
  <%= render :partial => 'materials/partials/material_schemaorg', :locals => {:material => material} %>
</div>

