<div class="wrapper collapsing-wrapper">
  <%# SIDEBAR %>
  <div class="collapsing-sidebar" id="sidebar">
    <%= render :partial => "content_providers/partials/content_provider_info", :locals => {:content_provider => @material.content_provider} %>
    <%= render partial: "nodes/partials/associated_node_info", locals: { associated_nodes: @material.associated_nodes } %>
  </div>
  <div id="content">
    <div class="row">
      <%= star_button(@material) if user_signed_in? %>

      <div class="content_action">
        <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-info'  %>

        <%= render partial: 'common/identifiers_dot_org_button', locals: { resource: @material } if TeSS::Config.identifiers_prefix %>

        <% if !current_user.nil? and policy(@material).update? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_material_path(@material), :class => 'btn btn-primary' %>
        <% end %>

        <% if !current_user.nil? and policy(@material).destroy? %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        material_path(@material),
                        :method => 'delete',
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger' %>
        <% end %>
        <a href="<%= @material.url %>" target="_blank" class="btn btn-success"><span class="fa fa-external-link"></span> View material</a>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <%= tab('Material', icon_class_for_model('materials'), 'home', active: true) %>

        <%= tab('Activity log', icon_class_for_model('activity_logs'), 'activity_log',
                disabled: { check: @material.activities.none?, message: 'No activities recorded' }) %>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="row">
            <div class="text-justify">
              <h2>
                <%=t '.title', :default => @material.title %>
                <%= scrape_status_icon(@material, 'large') if current_user and current_user.is_admin? %>
                <%= missing_icon(@material, 'large') if current_user and current_user.is_admin? %>
                <%= suggestion_icon(@material, 'large') if current_user and current_user.is_admin? -%>
              </h2>
              <p>
                <div class="url-wrap">
                  <%= link_to @material.url, @material.url, :class =>'h5', :target => "_blank" %>
                </div>
              </p>
              <% if not @material.long_description.blank? %>
                  <p><%= render_markdown(@material.long_description) %></p>
              <% elsif not @material.short_description.blank? %>
                  <p><%= render_markdown(@material.short_description)%></p>
              <% end %>
            </div>
            <div class="dont-break-out">
              <%= render partial: 'common/extra_metadata', locals: { resource: @material } %>

              <% if policy(@material).update? && @material.edit_suggestion %>
                <%= render partial: 'common/approve_term_suggestions', locals: { suggestion: @material.edit_suggestion } %>
              <% end %>

              <% if @material.events.any? %>
                  <div>
                    <b>Related events: </b>
                    <ul>
                      <% @material.events.not_finished.each do |event| %>
                        <li><%= link_to event.title, event %></li>
                      <% end %>
                      <% @material.events.finished.each do |event| %>
                          <li><%= link_to event.title, event %> (ended)</li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div>
                <% if @material.external_resources.any? %>
                    <b>External resources: </b>
                    <%= render partial: 'common/external_resources_list', locals: { external_resources: @material.external_resources} %>
                <% end %>
              </div>

              <%= render :partial => 'materials/partials/material_schemaorg', :locals => {:material => @material} %>
              <%= render :partial => 'materials/partials/twitter_card', :locals => {:material => @material} %>
            </div>
          </div>
        </div>
        <div id="activity_log" class="tab-pane fade" data-activity-path="<%= material_activities_path(@material) -%>">
          <%= image_tag('ajax-loader.gif') %>
        </div>
      </div>
    </div>
  </div>
</div>
