{{#if html_description}}
     {{{html_description}}}
{{else}}
    <p class="muted">No description provided</p>
{{/if}}

{{#if associatedResources}}
    {{#if_any associatedResources "type" "materials"}}
        <h4 class="nav-heading-darker">Training materials</h4>
        {{#each_when associatedResources "type" "materials"}}
        <div class="resourceCard">
            <a href="{{this.url}}" target="_blank" rel="nofollow noopener" class="h4">
                <i class="fa fa-external-link"></i> {{this.title}}
            </a>
        </div>
        {{/each_when}}
    {{/if_any}}

    {{#if_any associatedResources "type" "events"}}
        <h4 class="nav-heading-darker">Training events</h4>
        {{#each_when associatedResources "type" "events"}}
        <div class="resourceCard">
            <a href="{{this.url}}" target="_blank" rel="nofollow noopener" class="h4">
                <i class="fa fa-external-link"></i> {{this.title}}
            </a>
        </div>
        {{/each_when}}
    {{/if_any}}

    {{#if_any associatedResources "type" "tools"}}
        <h4 class="nav-heading-darker">Tools</h4>
        {{#each_when associatedResources "type" "tools"}}
        <div class="resourceCard">
            <a href="{{this.url}}" target="_blank" rel="nofollow noopener" class="h4">
                <i class="fa fa-external-link"></i> {{this.title}}
            </a>
        </div>
        {{/each_when}}
    {{/if_any}}

    {{#if_any associatedResources "type" "policies"}}
    <h4 class="nav-heading-darker">Policies</h4>
        {{#each_when associatedResources "type" "policies"}}
        <div class="resourceCard">
            <a href="{{this.url}}" target="_blank" rel="nofollow noopener" class="h4">
                <i class="fa fa-external-link"></i> {{this.title}}
            </a>
        </div>
        {{/each_when}}
    {{/if_any}}
{{/if}}

{{#if ontologyTerms}}
    <h4 class="nav-heading-darker">Terms</h4>
    <ul>
        {{#each ontologyTerms}}
        <li>{{this.label}}</li>
        {{/each}}
    </ul>
{{/if}}
