<div class="control-group">
  <%= f.label :content_provider, :class=> 'control-label' %>
  <div class="controls">
    <% content_provider = material.content_provider %>
    <% if content_provider.nil? %>
        <%= f.select "content_provider_id", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(ContentProvider.all, "id", "title") %>
    <% else %>
        <a href="<%=url_for content_provider %>">
          <%= content_provider.title %>
          <img src="<%= content_provider.logo_url %>"/>
        </a>
    <% end %>
  </div>
</div>