<!--
material - Material object
f - form object
field_name - The name of the attribute
 -->

<div class="form-group">
  <%= f.label :packages %>
  <!-- have one empty one so something is always passed when the event listener triggers -->
  <input name="material[package_ids][]" value="" style="display:none"/>
  <div class="controls" data-field="package">
    <div class="package multiple-input-list">
      <% material.packages.each do |package| %>
          <div class="multiple-list-item">
            <input type="text" class="multiple-input form-control" data-field='package' name="material[package_ids][]"
                   value="<%=package.name%>" readonly="readonly" disabled="disabled" />
            <input type="hidden" data-field='package' name="material[package_ids][]"
                   value="<%=package.id%>" />
            <input type="button" value="<%= "&times;".html_safe %>" class="dropdown-option-delete" data-field="package"
                   data-value="<%= package.id %>" data-name="<%=package.name%>"/>
          </div>
      <% end %>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Add package
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu package-options" data-field="package" id="material_packages" aria-labelledby="dropdownMenu1">
        <% available_packages_for(@material).each do |package| %>
            <li class="dropdown-option" id="package-id-<%=package.id%>" value="<%=package.id%>"><a><%= package.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%#= error_span(material[:packages]) %>
</div>