<div class="row wrapper">

  <%- model_class = Profile -%>

  <!-- SIDEBAR -->
  <div id="sidebar" class="col-md-3 col-xs-3" style="padding: 15px;">

    <div id="gravatar_image">
      <%= image_tag @user.gravatar_url %>
    </div>
    <hr/>
    <p>
      <strong><%= model_class.human_attribute_name(:firstname) %></strong>
      <br>
      <% if @profile.firstname.blank? %>
        <p class="empty">None specified</p>
      <% else %>
        <%= @profile.firstname %>
      <% end %>
    </p>
    <p>
      <strong><%= model_class.human_attribute_name(:surname) %></strong>
      <br>
      <% if @profile.surname.blank? %>
        <p class="empty">None specified</p>
      <% else %>
        <%= @profile.surname %>
      <% end %>
    </p>
    <% if current_user == @user -%>
        <p>
          <strong><%= model_class.human_attribute_name(:email) %></strong>
          <br>
          <% if @profile.email.blank? %>
            <p class="empty">None specified</p>
          <% else %>
            <%= mail_to @profile.email %>
          <% end %>
        </p>
    <% end %>
    <p>
      <strong><%= model_class.human_attribute_name(:website) %></strong>
      <br>
      <% if @profile.website.blank? %>
        <p class="empty">None specified</p>
      <% else %>
        <%= link_to @profile.website %>
      <% end %>
    </p>
    <p>
      <% if current_user == @user -%>
        <p><strong>Authentication token</strong><br><span style=" font-style: italic;">(keep it secret)</span>
          <br>
          <%= @user.authentication_token %>
        </p>
      <% end %>
    </p>
  </div>

  <div class="col-md-9 col-xs-9">
    <div class="page-header">
      <h2><%= "Profile for user #{@user.username}" %></h2>
    </div>

    <div class="row">
      <div class="content_action">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    users_path, :class => 'btn btn-info' %>
        <% if !current_user.nil? and (current_user.is_admin? or current_user == @user) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_profile_path(@profile), :class => 'btn btn-primary' %>
            <%= link_to "Change your password", edit_user_registration_path, :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#home"><i class="<%= icon_class_for_model('materials') %>"></i> Materials</a></li>
      <li>
        <a data-toggle="tab" href="#packages"><i class="<%= icon_class_for_model('packages') %>"></i> Packages</a>
      </li>
      <li>
        <a data-toggle="tab" href="#packages"><i class="<%= icon_class_for_model('workflows') %>"></i> Workflows</a>
      </li>
      <li>
        <a data-toggle="tab" href="#activity_log"><i class="<%= icon_class_for_model('activity_logs') %>"></i> Activity
          log</a>
      </li>
    </ul>

    <p class="empty" style="margin-top: 10px;">This part is still under construction.</p>

  </div>
</div>

