<div class="page-header">
  <%= page_title 'Resend confirmation instructions' %>
</div>
<div class="col-md-6">
  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages!('There was a problem resending your confirmation instructions:') %>

      <%= f.input :email, autofocus: true,
                  input_html: { value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) } %>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions",:class => 'btn btn-primary' %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
