<%= simple_form_for @source, html: { class: 'source', multipart: true } do |f| %>

  <%= render partial: 'common/error_summary', locals: { resource: @source } %>

  <% if @content_provider.nil? %>
    <%= f.input :content_provider_id,
                collection: current_user.get_editable_providers,
                label_method: :title,
                value_method: :id,
                include_blank: false %>
  <% else %>
    <h4>Provider: <%= @content_provider.title %></h4>
    <%= f.hidden_field :content_provider_id, value: @content_provider.id %>
  <% end %>

  <%= render partial: 'common/url_checker',
             locals: { f: f, url: sources_check_exists_path, title: '' } %>

  <%= f.input :method, label: 'Ingestion Method',
              collection: source_methods_options_for_select,
              include_blank: false %>

  <%= f.input :resource_type, label: 'Resource Type',
              collection: source_resources_options_for_select,
              include_blank: false %>

  <%= f.input :token, label: 'Authentication Token' %>

  <div class="form-group">
    <%= f.label :enabled, :class=>"checkbox inline" %>
    <%= f.check_box :enabled %>
  </div>

  <div class="form-group actions">
    <%= f.submit (f.object.new_record? ? "Create" : "Update") + " source",
                 :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sources_path, :class => 'btn btn-default' %>
  </div>

<% end %>
