<%= simple_form_for (@content_provider ? [@content_provider, @source] : @source), html: { class: 'source', multipart: true } do |f| %>
  <%= render partial: 'common/error_summary', locals: { resource: @source } %>

  <% unless @content_provider %>
    <%= f.input :content_provider_id,
                collection: current_user.get_editable_providers,
                label_method: :title,
                value_method: :id,
                include_blank: false %>
  <% end %>

  <%= render partial: 'common/url_checker',
             locals: { f: f, url: sources_check_exists_path, title: t('sources.hints.url') } %>


  <%= f.input :method, label: 'Ingestion Method',
              hint: t('sources.hints.method'),
              as: :grouped_select,
              group_method: :last,
              collection: grouped_ingestor_options_for_select,
              include_blank: false %>

  <%= f.input :token, hint: t('sources.hints.token'), label: 'Authentication Token' %>

  <%= f.input :default_language,
              collection: LanguageDictionary.instance.options_for_select,
              prompt: t('sources.prompts.default_language'), include_blank: true,
              hint: t('sources.hints.default_language') %>

  <%= f.input :enabled, hint: t('sources.hints.enabled') %>

  <% if policy(@source).approve? %>
    <%= f.input :approval_status,
                label: 'Approval Status',
                collection: approval_options_for_select,
                include_blank: false %>
  <% end %>

  <%= f.input :keyword_filter, hint: 'Comma separated list of keywords that must be present. Leave empty to disable filter.', label: 'Keyword Filter' %>

  <h3><%= t('sources.headings.filters') %></h3>

  <h4><%= t('sources.headings.allow_list') %></h4>
  <span class="help-block"><%= t('sources.hints.allow_list') %></span>
  <div class="form-group" id="source-filters">
    <div id="source-filter-list">
      <% f.object.source_filters.allow.each do |filter| %>
        <%= f.simple_fields_for :source_filters, filter, child_index: filter.id do |ff| %>
          <%= render partial: 'source_filter_form', locals: { f: ff } %>
        <% end %>
      <% end %>
    </div>

    <a href="#" id="add-source-filter-btn" class="btn btn-icon">
      <i class="icon icon-h4 plus-icon"></i>
    </a>
    <span id="add-source-filter-btn-label" class="help-inline-block help-block"><%= t('sources.hints.add_filter') %></span>
  </div>

  <h4><%= t('sources.headings.block_list') %></h4>
  <span class="help-block"><%= t('sources.hints.block_list') %></span>
  <div class="form-group" id="source-block-filters">
    <div id="source-block-list">
      <% f.object.source_filters.block.each do |filter| %>
        <%= f.simple_fields_for :source_filters, filter, child_index: filter.id do |ff| %>
          <%= render partial: 'source_filter_form', locals: { f: ff } %>
        <% end %>
      <% end %>
    </div>

    <a href="#" id="add-source-block-filter-btn" class="btn btn-icon">
      <i class="icon icon-h4 plus-icon"></i>
    </a>
    <span id="add-source-block-filter-btn-label" class="help-inline-block help-block"><%= t('sources.hints.add_filter') %></span>
  </div>


  <div class="form-group actions">
    <%= f.submit(class: 'btn btn-primary') %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                sources_path, class: 'btn btn-default' %>
  </div>

  <template id="source-filter-template" style="display: none">
    <%= f.simple_fields_for :source_filters, SourceFilter.new(filter_mode: 'allow'), child_index: "REPLACE_ME" do |ff| %>
      <%= render partial: 'source_filter_form', locals: { f: ff } %>
    <% end %>
  </template>

<% end %>
