<div class="masonry-brick media-item long">
  <%= link_to source, class: 'link-overlay' do %>
    <h3 class="media-heading">
      <%= source.title %>
      <%= enabled_icon source %>
    </h3>
    <div class="url-wrap">
      URL: <%= source.url %>
    </div>
    <%= source_approval_badge(source.approval_status) %>
    <% unless source.finished_at.nil? %>
      <div style="word-break: break-word;">
        Finished at: <%= source.finished_at.strftime('%H:%M on %A, %d %B %Y (UTC)') %>
      </div>
    <% end %>
  <% end %>
</div>