<% sample_size ||= 20 %>

<h4>Last Test Results</h4>
<p>
  <strong>Finished:</strong> <%= time_ago_in_words(test_results[:finished_at]) %> ago
  (<%= test_results[:finished_at]&.strftime('%A, %d %B %Y @ %H:%M') %>)
</p>
<p>
  <strong>Run time:</strong> <%= test_results[:run_time]&.round(2) || '?' %>s
</p>
<% unless test_results[:messages].blank? %>
  <h5>Log</h5>
  <div class="markdown source-log">
    <%= render_markdown(test_results[:messages].join("\n\n")) %>
  </div>
<% end %>

<h5>Resources found:</h5>
<% results_count = 0 %>
<% ['events', 'materials'].each do |type| %>
  <% resources = test_results[type.to_sym] || [] %>
  <% results_count += resources.count %>
  <% sample = resources.sample(sample_size) %>
  <% next if resources.none? %>

  <%= collapsible_panel(pluralize(resources.count, type.singularize), type) do %>
    <% if sample.count < resources.count %>
      Showing <%= pluralize(sample.count, 'sample') %>
    <% end %>
    <% sample.each do |resource_params| %>
      <% resource = Source.get_test_resource(type, resource_params, user: User.get_default_user,
                                                                    content_provider: @content_provider) %>
      <%= render partial: 'sources/test_resource', locals: { resource: resource } %>
    <% end %>
  <% end %>
<% end %>
<% if results_count == 0 %>
  <span class="muted">No resources were found</span>
<% end %>
