<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <%= render partial: "search/common/facet_sidebar",
                 locals: { resources: @sources_results, resource_type: Source } %>
    </div>
  <% end %>

  <div id="content">
    <% content_for :buttons do %>
      <% if @content_provider %>
        <%= link_to 'Back', @content_provider, class: 'btn btn-default' %>
      <% end %>
    <% end %>

    <%= render partial: "search/common/search_panel", locals: { resources: @sources_results, resource_type: Source } %>

    <!-- %= render partial: 'search/common/pagination_bar', locals: { resources: @sources } % -->
    <hr>
    <%= render partial: 'common/masonry_grid', locals: { objects: @sources } %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @sources } %>
  </div>

</div>
