<div class="wrapper collapsing-wrapper">

  <%# SIDEBAR %>
  <div class="collapsing-sidebar" id="sidebar">
    <%= render :partial => "content_providers/partials/content_provider_info",
               :locals => { :content_provider => @source.content_provider } %>
  </div>

  <div id="content">
    <div class="row">
      <div class="content_action">
        <%= link_to 'Back',
                    sources_path(content_provider: @source.content_provider.title),
                    :class => "btn btn-info" %>

        <% if !current_user.nil? and policy(@source).update? %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_source_path(@source), :class => 'btn btn-primary' %>
        <% end %>

        <% if !current_user.nil? and policy(@source).destroy? %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      source_path(@source),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
        <% end %>
        <a href="<%= @source.url %>" target="_blank" class="btn btn-success">
          <span class="fa fa-external-link"></span>
          View URL</a>
      </div>
    </div>

    <div class="row">
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="row">
            <div class="text-justify">

              <h4>Source Details</h4>

              <!-- Field: URL -->
              <p>
              <div class="url-wrap">
                <strong>URL:&nbsp;</strong><%= @source.url %>
              </div>
              </p>

              <!-- Field: method -->
              <p><strong>Method:&nbsp;</strong>
                <%= IngestorFactory.get_method_value @source.method %>
              </p>

              <!-- Field: resource type -->
              <p><strong>Resource Type:&nbsp;</strong>
                <%= IngestorFactory.get_resource_value @source.resource_type %>
              </p>

              <p><strong>Created at:&nbsp;</strong>
                <%= @source.created_at.strftime('%H:%M on %A, %d %B %Y (UTC)') %>
              </p>

              <hr/>


              <% if @source.results.nil? or @source.results.last.nil? %>
                <h4><%= "No results found" %></h4>
                <% else %>
                <h4><%= "#{pluralize(@source.results, 'result', plural: 'results')} found" %></h4>
                <%# show last results %>
                <h5>Last Run:</h5>
                <p>TBA...</p>
              <% end %>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

