<div class="wrapper collapsing-wrapper">

  <%# SIDEBAR %>
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: "content_providers/partials/content_provider_info",
               locals: { content_provider: @source.content_provider } %>
  </div>

  <div id="content">
    <div class="content-actions">
      <div class="content-viewer-actions">
        <%= external_link_button 'View URL', @source.url if @source.url.present? %>
      </div>
      <div class="content-manager-actions">
        <%= edit_button(@source) if policy(@source).update? %>
        <%= delete_button(@source) if policy(@source).destroy? %>
      </div>
    </div>

    <div class="my-3">
      <ul class="nav nav-tabs">
        <%= tab('Source', icon_class_for_model('source'), 'home', active: true) %>
        <%= tab('Testing', icon_class_for_model('testing'), 'testing') %>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="my-3">
            <div>
              <h4>Source Details</h4>

              <!-- Field: URL -->
              <p class="url-wrap">
                <strong>URL:</strong>
                <%= link_to @source.url, @source.url, target: '_blank', rel: 'noopener' %>
              </p>

              <!-- Field: method -->
              <p><strong>Method:</strong>
                <%= @source.ingestor_title %>
              </p>

              <!-- Field: created at -->
              <p><strong>Created at:</strong>
                <%= @source.created_at.strftime('%A, %d %B %Y @ %H:%M') %>
              </p>

              <!-- Field: token -->
              <% if current_user && (current_user.is_curator? || current_user.is_admin?) %>
                <p><strong>Token:</strong>
                  <%= @source.token %>
                </p>
              <% end %>

              <!-- Field: enabled -->
              <p>
                <strong>Source is:</strong>
                <%= source_enabled_badge(@source.enabled) %>
              </p>

              <% if TeSS::Config.feature['user_source_creation'] %>
                <p>
                  <strong>Approval status:</strong>
                  <%= source_approval_badge(@source.approval_status) %>
                </p>

                <% if policy(@source).update? && !@source.approval_requested? && !@source.approved? %>
                  <%= link_to 'Request Approval', request_approval_source_path(@source),
                              data: { confirm: 'Are you sure you wish to submit this source for approval? You will not be able to modify it afterwards.'},
                              method: :post, class: 'btn btn-primary' %>
                <% end %>

                <% if policy(@source).approve? && !@source.approved? %>
                  <%= link_to 'Approve', source_path(@source, source: { approval_status: 'approved' }),
                              method: :put, class: 'btn btn-success' %>
                <% end %>
              <% end %>

              <hr/>

              <%# Show details of last run %>
              <div>
                <h4>Last Run</h4>
                <% if @source.finished_at.nil? %>
                  <p><strong>No results found</strong></p>
                <% else %>
                  <p>
                    <strong>Finished:</strong> <%= time_ago_in_words(@source.finished_at) %> ago
                    (<%= @source.finished_at.strftime('%A, %d %B %Y @ %H:%M') %>)
                  </p>
                  <strong>Resources:</strong>
                  <ul>
                    <li>Added: <span class="text-success"><%= @source.resources_added %></span></li>
                    <li>Updated: <span class="text-warning"><%= @source.resources_updated %></span></li>
                    <li>Rejected: <span class="text-danger"><%= @source.resources_rejected %></span></li>
                  </ul>
                <% end %>

                <%# Show details of log %>
                <% unless @source.log.nil? %>
                  <h5>Log</h5>
                  <div class="markdown source-log">
                    <%= render_markdown(@source.log.html_safe) %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <%= render partial: 'activities/activity_log_button', locals: { resource: @source } %>
        </div>
        <div id="testing" class="tab-pane">
          <div class="my-3">
            <%= render partial: 'sources/test' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

