<%# Node  %>
<h4 class="nav-heading">ELIXIR node</h4>
<div class="nav-block">
  <% if node.home_page.present? %>
    <p>
      <%= link_to node.home_page, class: 'h5', target: '_blank', rel: 'noopener' do %>
        <%= image_tag(get_image_url_for(node), class: 'medium-content-provider-logo') %>
      <% end %>
    </p>

    <p>
      <%= link_to node.home_page, node.home_page, class: 'h5', target: '_blank', rel: 'noopener' %>
    </p>
  <% else %>
    <p>
      <%= image_tag(get_image_url_for(node), class: 'medium-content-provider-logo') %>
    </p>
  <% end %>

  <% unless node.twitter.blank? %>
    <p><%= twitter_link node.twitter %></p>
  <% end %>

  <% unless node.description.blank? %>
    <p class="minimise"><%= node.description %></p>
  <% end %>
</div>

<h4 class="nav-heading">Country</h4>
<div class="nav-block">
  <%= country_flag(node.country_code, class: 'small-flag') %>
  <%= Node::COUNTRIES[node.country_code] %>
</div>

<h4 class="nav-heading">Status</h4>
<div class="nav-block">
  <%= node.member_status %>
</div>

<% training_coordinators = node.staff.training_coordinators %>
<h4 class="nav-heading"><%= 'Training coordinator'.pluralize(training_coordinators.count) -%></h4>
<div class="nav-block">
  <%= node_staff_list(training_coordinators, false) %>
</div>

<% other_staff = node.staff.other_roles %>
<% if other_staff.any? %>
  <h4 class="nav-heading">Staff</h4>
  <div class="nav-block">
    <%= node_staff_list(other_staff) %>
  </div>
<% end %>
