<% per_slide = 3 %>
<% return unless TeSS::Config.feature['content_providers'] %>
<% provider_ids = TeSS::Config.site.dig('home_page', 'featured_providers') %>
<% provider_ids = ContentProvider.from_verified_users.
  where.not(image_file_size: nil).
  last(TeSS::Config.site['n_provider_ids']).pluck(:id) if provider_ids.nil? %>
<% return if provider_ids.blank? %>
<% providers = ContentProvider.where(id: provider_ids) %>
<% return if providers.none? %>

<% cache(['home', 'provider-carousel', providers]) do %>
  <section id="providers">
    <h2 class="text-center"><%= link_to(t('home.providers.title'), content_providers_path, class: 'home-title-link' ) %></h2>
    <div class="carousel slide multi-item-carousel" id="providers-carousel">
      <div class="carousel-inner">
        <%
          active = true
          count = providers.length
          provider_pages = providers.to_a.cycle.each_cons(per_slide)
          count.times do %>
          <div class="item<%= ' active' if active -%>">
            <% provider_pages.next.each do |p| %>
              <div class="col-xs-4">
                <%= link_to(image_tag(p.image.url, class: 'img-responsive'), p, title: p.title) %>
              </div>
            <% end %>
          </div>
          <% active = false %>
        <% end %>
      </div>
      <a class="left carousel-control" href="#providers-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <a class="right carousel-control" href="#providers-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>

    <div class="text-center font-size-lg">
      <%== t 'home.providers.content' %>
      <p>
        <%= link_to t('home.providers.button_text'), registering_resources_path, class: 'btn btn-primary' %>
      </p>
    </div>
  </section>
<% end %>
