<ul class="promo-blocks">
  <li>
    <%= image_tag(asset_path("modern/icons/nonprofit-icon.svg")) %>
    <h4 class="text-primary"><%== raw t 'home.nonprofit_title' %></h4>
    <p><%== raw t 'home.nonprofit_description' %></p>
  </li>
  <li>
    <%= image_tag(asset_path("modern/icons/community-icon.svg")) %>
    <h4 class="text-primary"><%== raw t 'home.expert_title' %></h4>
    <p><%== raw t 'home.expert_description' %></p>
  </li>
  <li>
    <%= image_tag(asset_path("modern/icons/sustainable-icon.svg")) %>
    <h4 class="text-primary"><%== raw t 'home.sustainable_title' %></h4>
    <p><%== raw t 'home.sustainable_description' %></p>
  </li>
  <li>
    <%= image_tag(asset_path("modern/icons/microscope-icon.svg")) %>
    <h4 class="text-primary"><%== raw t 'home.ls_title' %></h4>
    <p><%== raw t 'home.ls_description' %></p>
  </li>
</ul>