<ul class="promo-blocks" id="promo-blocks">
  <li>
    <%= image_tag(asset_path("modern/icons/nonprofit-icon.svg")) %>
    <h4 class="text-primary"><%== raw t 'home.promo.nonprofit.title' %></h4>
    <p><%== raw t 'home.promo.nonprofit.description' %></p>
  </li>
  <li>
    <%= image_tag(asset_path("modern/icons/community-icon.svg")) %>
    <h4 class="text-primary"><%== raw t 'home.promo.community.title' %></h4>
    <p><%== raw t 'home.promo.community.description' %></p>
  </li>
  <li>
    <%= image_tag(asset_path("modern/icons/sustainable-icon.svg")) %>
    <h4 class="text-primary"><%== raw t 'home.promo.sustainable.title' %></h4>
    <p><%== raw t 'home.promo.sustainable.description' %></p>
  </li>
  <li>
    <%= image_tag(asset_path("modern/icons/microscope-icon.svg")) %>
    <h4 class="text-primary"><%== raw t 'home.promo.domain.title' %></h4>
    <p><%== raw t 'home.promo.domain.description' %></p>
  </li>
</ul>