<div class="page-header">
  <h2>Edit Account Details</h2>
</div>
<div class="col-md-6">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, class: "form-control" %><br />
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: false, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => 'btn btn-primary' %>
      </div>
      <%= link_to 'Regenerate API Key', change_token_path(resource), :method => :patch,  :class => 'btn btn-info', data: { confirm: 'Are you sure?' }  %>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-default' %></p>

  <%= link_to "Back", :back, :class => 'btn btn-info' %>
</div>
