<div class="row wrapper">
  <div class="col-md-12">
    <div class="page-header">
      <%= page_title 'Registration' %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Registration is currently disabled</h3>
          </div>
          <div class="panel-body">
            <p>Please email <a href="mailto:tess-support@googlegroups.com">tess-support@googlegroups.com</a> to request an account.</p>
            <p>In your email please include the following information:</p>
            <ul>
              <li>Full name</li>
              <li>Email address</li>
              <li>Institution/Organisation</li>
              <li>Brief description of why you would like an account and/or the type of materials/events you would like to add</li>
            </ul>
            <p>Sorry for any inconvenise caused,</p>
            <p>The TeSS Team</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row hidden">
      <div class="col-md-6">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <%= f.input :username, autofocus: true %>

            <%= f.input :email, required: true %>

            <%= f.input :publicize_email, as: :boolean, label: 'Make my email publicly visible' %>

            <%= f.input :password, required: true, input_html: { autocomplete: 'off' },
                        hint: "(#{@minimum_password_length} characters minimum)" if @minimum_password_length %>

            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: 'off' } %>

            <% unless Rails.application.secrets.recaptcha[:sitekey].blank? -%>
                <div class="form-group">
                  <%= recaptcha_tags ajax: true %>
                </div>
            <% end -%>

            <%= f.input :processing_consent, as: :boolean, input_html: { autocomplete: 'off' },
                        label: "I have read and understood the #{link_to('privacy policy', privacy_path, target: :_blank)} and consent to TeSS processing my data.".html_safe %>

            <div class="actions">
              <%= f.submit "Register", :class => 'btn btn-primary' %>
            </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
      <div class="col-md-6" id="why-register">
        <h4>Registering on TeSS allows you to...</h4>
        <ul>
          <li>Subscribe to updates of upcoming events and new training materials in your fields of interest.</li>
          <li>Register your organization's training materials and events and increase their discoverability.</li>
          <li>Create training workflows to break down complex topics into separate steps.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

