<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :member_status %><br />
    <%= f.text_field :member_status %>
  </div>
  <div class="field">
    <%= f.label :country_code %><br />
    <%= f.text_field :country_code %>
  </div>
  <div class="field">
    <%= f.label :home_page %><br />
    <%= f.text_field :home_page %>
  </div>
  <div class="field">
    <%= f.label :institutions %><br />
    <%= f.text_field :institutions %>
  </div>
  <div class="field">
    <%= f.label :trc %><br />
    <%= f.text_field :trc %>
  </div>
  <div class="field">
    <%= f.label :trc_email %><br />
    <%= f.text_field :trc_email %>
  </div>
  <div class="field">
    <%= f.label :trc %><br />
    <%= f.text_field :trc %>
  </div>
  <div class="field">
    <%= f.label :staff %><br />
    <%= f.text_field :staff %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :carousel_images %><br />
    <%= f.text_field :carousel_images %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
