<%= simple_form_for(@node) do |f| %>

    <%= render partial: 'common/error_summary', locals: { resource: @node } %>

    <%= f.input :name %>

    <%= f.input :country_code, label: 'Country', collection: countries_options_for_select %>

    <%= f.input :member_status, collection: Node::MEMBER_STATUS %>

    <%= f.input :home_page %>

    <%= f.input :description, as: :markdown_area, input_html: { rows: '10' } %>

    <%= f.input :twitter %>

    <%#= render :partial => 'common/multiple_input', :locals => {:field_name => 'institutions',
                                                                :resource => @node,
                                                                :f => f} %>
    <%#= render :partial => 'common/multiple_input', :locals => {:field_name => 'carousel_images',
                                                                :resource => @node,
                                                                :f => f} %>

    <label>Staff</label><br/>
    <%= add_node_staff_button(f, '#staff-list') %>
    <div class="staff-form" id="staff-list">
      <% @node.staff.each do |staff_member| %>
          <%= render partial: 'staff_form', locals: {form: f, staff_member: staff_member} %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit ( f.object.new_record? ? "Register" : "Update") + " node", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  @node.new_record? ? nodes_path : node_path(@node), :class => 'btn btn-default' %>
    </div>
<% end %>
