<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
      <div id="sidebar" class="popout-sidebar">
        <%#= render partial: "nodes/partials/sidebar" %>
        <%= render partial: "search/common/facet_sidebar", locals:  { resources: @nodes_results, resource_type: Node } %>
      </div>
  <% end %>

  <div id="content">
    <div class="row">
      <% if policy(:node).create? %>
        <%= link_to new_node_path, class: 'btn btn-primary' do %>
          <i class="fa fa-plus-square"></i> Create node
        <% end %>
      <% end %>
      <div class="pull-right">
        <%= info_button('What are ELIXIR nodes?') do %>
            <%= render_markdown(NodesHelper::NODES_INFO) %>
        <% end %>
      </div>
    </div>

    <% if TeSS::Config.solr_enabled %>
        <div class="row">
          <%= render partial: "search/common/search_box", locals: { resource_path: nodes_path } %>
          <button class="btn btn-default" id="sidebar-toggle" type="button" autocomplete="off">
            <i class="fa fa-filter"></i> Filters
          </button>
          <%= render partial: "search/common/search_info", locals: { resources: @nodes_results, resource_type: 'node' } %>
          <%= render partial: "search/common/search_filters", locals: { resources: @nodes_results } %>
        </div>
    <% end %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @nodes } %>

    <hr>

    <%= render partial: 'common/masonry_grid', locals: { objects: @nodes } %>
  </div>
</div>
