<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <%= render partial: "search/common/facet_sidebar", locals:  { resources: @nodes_results, resource_type: Node } %>
    </div>
  <% end %>

  <div id="content">
    <h2><%=t("features.nodes.long")%></h2>
    <% content_for :buttons do %>
      <% if policy(:node).create? %>
        <%= link_to new_node_path, class: 'btn btn-primary' do %>
          Create node
        <% end %>
      <% end %>
      <%= info_button("What are ELIXIR nodes?", hide_text: true) do %>
        <%= render_markdown(NodesHelper::NODES_INFO) %>
      <% end %>
    <% end %>

    <%= render partial: "search/common/search_panel", locals: { resources: @nodes_results, resource_type: Node } %>

    <%= render partial: 'common/masonry_grid', locals: { objects: @nodes } %>

    <%= render partial: 'search/common/pagination_bar', locals: { resources: @nodes } %>
  </div>

</div>
