<div class="wrapper">
  <% if SOLR_ENABLED %>
      <div id="sidebar">
        <%= render partial: "search/common/facet_sidebar", locals:  { resources: @nodes_results, resource_type: 'node' } %>
      </div>
  <% end %>

  <div id="content">
    <div class="row">
      <%= link_to new_node_path, class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i> Create node
      <% end %>
      <div class="pull-right">
        <%= info_button('What are ELIXIR Nodes?') do %>
            ELIXIR is a pan-European research infrastructure consisting of the Hub and a number of, primarily,
            national nodes that provide services to their local communities.
            Select a node to find out more about its training events, training provision, staff and member institutions.
        <% end %>
      </div>
    </div>

    <% if SOLR_ENABLED %>
        <div class="row">
          <%= render partial: "search/common/search_box", locals: { resource_path: nodes_path } %>
          <button class="btn btn-default" id="sidebar-toggle" type="button" autocomplete="off">
            <i class="fa fa-filter"></i> Filters
          </button>
          <%= render partial: "search/common/search_info", locals: { resources: @nodes_results, resource_type: 'node' } %>
          <%= render partial: "search/common/search_filters", locals: { resources: @nodes_results } %>
        </div>
    <% end %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @nodes } %>

    <hr>

    <%= render partial: 'common/masonry_grid', locals: { objects: @nodes } %>
  </div>
</div>
