<!--<p id="notice"><%#= notice %></p>-->

<!-- SIDEBAR | RESULTS -->
<div class="row wrapper">
  <% if SOLR_ENABLED %>

      <!-- SIDEBAR -->
      <div class="col-md-3" id="sidebar">
        <%= render :partial => "search/common/facet_sidebar", :locals => {:resources => @nodes, :resource_type => 'node'} %>
      </div>

      <!-- RESULTS -->
      <div class="col-md-9">
        <!-- SEARCH BAR -->

        <div class="row">
          <%= link_to new_node_path, :class=>"btn btn-primary" do %>
              <i class="fa fa-plus"></i> Create node
          <% end %>
        </div>

        <%= render :partial=> "search/common/search_box", :locals=>{:resource_path => nodes_path} %>

        <%= render :partial => "search/common/search_info", :locals=>{:resources=>@nodes, :resource_type => 'node'}  %>

        <%= render :partial => "search/common/search_filters", :locals => {:resources => @nodes} %>

        <%= render :partial=> "search/common/pagination_bar", :locals=>{:resources=>@nodes} unless (@nodes.blank? or @nodes.results.blank?) %>

        <hr>
        <!-- RESULTS -->
        <% @nodes = @nodes.results unless @nodes.blank? %>
  <% end %>

  <!-- ACTUAL RESULTS LIST -->
  <% unless @nodes.blank? %>
      <ul class="masonry media-grid">
        <% @nodes.each do |node| %>
            <%= render node %>
        <% end %>
      </ul>
  <% end %>
  </div>
</div>
