<div class="wrapper collapsing-wrapper">
  <%# SIDEBAR %>
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'nodes/partials/node_info', locals: { node: @node } %>
  </div>

  <div id="content">
    <div class="content-actions">
      <div class="content-viewer-actions">
        <%= external_link_button 'View home page', @node.home_page if @node.home_page.present? %>
      </div>
      <div class="content-manager-actions">
        <%= edit_button(@node) if policy(@node).update? %>
        <%= delete_button(@node) if policy(@node).destroy? %>
      </div>
    </div>
    <div class="row">
      <% if @node.content_providers.any? %>
        <h2>Content Providers</h2>
        <%= render @node.content_providers %>
      <% end %>
    </div>
    <div class="row">
      <% resource_limit = 30 %>
      <% materials = @node.materials.limit(resource_limit) %>
      <% materials_count =  @node.materials.count %>
      <% upcoming_events = @node.events.not_finished %>
      <% past_events = @node.events.finished %>
      <% events = upcoming_events.limit(resource_limit) %>
      <% events_count =  @node.events.count %>
      <% activator = tab_activator %>
      <ul class="nav nav-tabs">
        <% if TeSS::Config.feature['materials'] %>
          <%= tab('Materials', icon_class_for_model('materials'), 'materials', activator: activator,
                  disabled: { check: materials_count.zero?, message: 'No registered training materials' },
                  count: materials_count) %>
        <% end %>
        <% if TeSS::Config.feature['events'] %>
          <%= tab('Events', icon_class_for_model('events'), 'events', activator: activator,
                  disabled: { check: events_count.zero?, message: 'No registered events' },
                  count: events_count) %>
        <% end %>
      </ul>

      <div class="tab-content">
        <% if TeSS::Config.feature['materials'] %>
          <%= render partial: 'common/associated_resources',
                     locals: { model: Material,
                               total_count: materials_count,
                               limit: resource_limit,
                               resources: materials,
                               activator: activator,
                               view_all_link: materials_path(node: @node.name) } %>
        <% end %>

        <% if TeSS::Config.feature['events'] %>
          <%= render partial: 'common/associated_events',
                     locals: { total_count: upcoming_events.count,
                               past_count: past_events.count,
                               limit: resource_limit,
                               resources: events,
                               activator: activator,
                               view_all_link: events_path(node: @node.name),
                               inc_expired_link: events_path(node: @node.name, include_expired: true) } %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'activities/activity_log_button', locals: { resource: @node } %>
  </div>
</div>
