<div class="wrapper collapsing-wrapper">
  <%# SIDEBAR %>
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'nodes/partials/node_info', locals: { node: @node } %>
  </div>

  <div id="content">
    <div class="content-actions">
      <div class="content-viewer-actions">
        <%= external_link_button 'View home page', @node.home_page if @node.home_page.present? %>
      </div>
      <div class="content-manager-actions">
        <%= edit_button(@node) if policy(@node).update? %>
        <%= delete_button(@node) if policy(@node).destroy? %>
      </div>
    </div>
    <div class="row">
      <% if @node.content_providers.any? %>
        <h2>Content Providers</h2>
        <%= render @node.content_providers %>
      <% end %>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <%= tab('Materials', icon_class_for_model('materials'), 'materials', active: true,
                disabled: { check: @node.materials.none?, message: 'No registered training materials' },
                count: @node.materials.count) %>

        <%= tab('Events', icon_class_for_model('events'), 'events',
                disabled: { check: @node.events.none?, message: 'No registered events' },
                count: @node.events.count) %>
      </ul>

      <div class="tab-content">
        <div id="materials" class="tab-pane fade in active">
          <div class="row">
            <% materials_for_node = @node.materials %>
            <% materials = materials_for_node.count > 30 ? materials_for_node.first(30) : materials_for_node %>
            <div class="search-results-count">
              <%= (materials.count > 0 ? "Showing" : "Found") + " #{pluralize(materials.count, "material")}#{(materials_for_node.count > 30) ? " out of #{materials_for_node.count}" : ''}." %>
              <%= link_to "View all results.", :controller => 'materials', :content_provider => @node.content_providers.map{ |x| x.title} if (materials_for_node.count > 30) %>
            </div>

            <% materials.each do |material| %>
                <%= render material %>
            <% end %>
          </div>
        </div>
        <div id="events" class="tab-pane fade">
          <div class="row">
            <% events_for_node = @node.events %>
            <% upcoming_events = events_for_node.not_finished %>
            <% past_events = events_for_node.finished %>

            <div class="row">
              <% events = upcoming_events.count > 30 ? upcoming_events.first(30) : upcoming_events %>
              <div class="search-results-count">
                <%= (upcoming_events.count > 0 ? "Showing" : "Found") + " #{pluralize(events.count, "event")}#{(upcoming_events.count > 30) ? " out of #{upcoming_events.count}" : ''}." %>
                <%= "Found #{pluralize(past_events.count, "past event")}." %>
                <%= link_to "View all results.", :controller => 'events', :content_provider => @node.content_providers.map{ |x| x.title} if (upcoming_events.count > 30 || past_events.count > 0) %>
              </div>
              <% if upcoming_events.count > 0 %>
                  <ul class="masonry media-grid" style="margin-top: 15px;">
                    <% upcoming_events.each do |upcoming_event| %>
                        <%= render upcoming_event %>
                    <% end %>
                  </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'activities/activity_log_button', locals: { resource: @node } %>
  </div>
</div>
