<!--<p id="notice"><%#= notice %></p>-->

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Member status:</strong>
  <%= @node.member_status %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @node.country_code %>
</p>

<p>
  <strong>Home page:</strong>
  <%= @node.home_page %>
</p>

<p>
  <strong>Institutions:</strong>
  <%= @node.institutions %>
</p>

<p>
  <strong>Trc:</strong>
  <%= @node.trc %>
</p>

<p>
  <strong>Trc email:</strong>
  <%= @node.trc_email %>
</p>

<p>
  <strong>Trc:</strong>
  <%= @node.trc %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @node.staff %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @node.twitter %>
</p>

<p>
  <strong>Carousel images:</strong>
  <%= @node.carousel_images %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
