<p id="notice"><%= notice %></p>

<h1> Search </h1>
<%= render partial: 'search/bar' %>

<%= render partial: 'search/tab_headings', :locals=>{:results => @results, :selected_tab => @results.keys.first}%>
<div class="listing-container">
<% if !@results.nil? %>
  <% @results.each do |model, model_results| %>
  	  <div class="tab-content" id="<%=model%>-content"> 
		<% model_results.results.each do |object| %>
	       <p><%= render partial: object %> </p>
  		<% end %>
  	  </div>
  	<% end %>
<% else %>
  No results found
<% end %>
</div>
