<p id="notice"><%= notice %></p>

<h1> Search </h1>
<%= render partial: 'search/bar' %>

<% if !@results.nil? %>
  <% @results.each do |model, model_results| %>
    <% if model_results.total > 0 %>
      <span class="h1"> <%= model.capitalize -%> </span> has <b> <%= model_results.total%> </b>
 	<%if model_results.total > 1%><%="result".pluralize%><%else%>result<%end%>.
	<% model_results.results.each do |object| %>
	      <p> <%= render partial: object %> </p>
	<% end %>
    <% end %>
  <% end %>
<% else %>
  No results found
<% end %>


