<script>
	$(document).ready(function () {
		reposition_tiles('masonry', 'masonry-brick');
	})
</script>

<!--<p id="notice"><%#= notice %></p>-->
<div class="row wrapper">
	<!--&lt;!&ndash; SIDEBAR &ndash;&gt;-->
	<!--<div class="col-md-3" id="sidebar">-->
	<!--<p class="alert alert-info empty" style="margin: 10px;">-->
	<!--We need some filtering facilities here - e.g. common filter categories for events and materials: keywords, EDAM topics, ...  or separate filtering per tab.-->
	<!--</p>-->
	<!--&lt;!&ndash;<%#= render :partial => "search/common/facet_sidebar", :locals => {:resources => @materials} %>&ndash;&gt;-->
	<!--</div>-->

	<div class="col-md-12">
		<h2 class="module-heading">Search results</h2>

		<!-- SEARCH BAR -->
		<div class="row" style="padding-top: 10px;">
			<%= render :partial => "search/common/search_box", :locals => {:resource_path => search_path} %>
		</div>

		<div class="row" style="padding-top: 10px;">
			<% tabs = @results.keys %>
			<ul class="nav nav-tabs">
				<% tabs.each_with_index do |tab, index| %>
						<li class="<%= index == 0 ? 'active' : ''%>" >
							<a data-toggle="tab" href="#<%= tab %>"><i class="<%= icon_class_for_model(tab) %>"></i> <%= tab.to_s.humanize.capitalize %> (<%= @results[tab].total%>)</a>
						</li>
				<% end %>
			</ul>
		</div>

		<div class="row" style="padding-top: 5px;">
			<% if !@results.nil? %>
					<div class="tab-content">
						<% @results.each do |model, results_for_model| %>
                          		<% if model.to_s == 'materials' %>
										<div class="tab-pane fade in active" id="<%= model %>">
											<div class="search-results-count"> 
                                                <%= "Showing #{pluralize(results_for_model.results.count, "#{model.to_s.humanize.singularize.downcase} result")}#{(results_for_model.total > 30) ? " of #{results_for_model.total}" : ''}." %>
											</div>
                                           <%= link_to "View more #{model.to_s.humanize.singularize.downcase} results", :controller => model, :q => params[:q] %><br>
											<% results_for_model.results.each do |result| %>
												<%= render partial: result %>
											<% end %>
										</div>
								<% else %>
										<div class="tab-pane fade" id="<%= model %>">
											<div class="search-results-count"> 
                                              <%= "Showing #{pluralize(results_for_model.results.count, "#{model.to_s.humanize.singularize.downcase} result")}#{(results_for_model.total > 30) ? " of #{results_for_model.total}" : ''}." %>
											</div>
                                            <%= link_to "View more #{model.to_s.humanize.singularize.downcase} results", :controller => model, :q => params[:q] %><br>
											<div class="media-grid">
												<% results_for_model.results.each do |result| %>
														<%= render partial: result %>
												<% end %>
											</div>
										</div>
								<% end %>
						<% end %>
						</div>
			<% else %>
					<p class="alert alert-info empty" style="margin: 10px;">
						No results found
					</p>
			<% end %>
			</div>
		</div>
	</div>
</div>