<div class="row wrapper">
  <div class="col-md-12">
    <%= page_title 'Search results', class: 'module-heading' %>

    <%# SEARCH BAR %>
    <div class="row" style="padding-top: 10px;">
      <%= render :partial => "search/common/search_box", :locals => {:resource_path => search_path} %>
    </div>

    <div class="row" style="padding-top: 10px;">
      <% if @results.blank? %>
          <p class="empty">No results found</p>
      <% else %>
          <% tabs = @results.keys.sort {|a,b| a <=> b } %>
          <ul class="nav nav-tabs">
            <% tabs.each_with_index do |tab, index| %>
                <li class="<%= index == 0 ? 'active' : '' %>">
                  <a data-toggle="tab" href="#<%= tab %>"><i class="<%= icon_class_for_model(tab) %>"></i> <%= tab.to_s.humanize.capitalize %>
                    (<%= @results[tab].total %>)</a>
                </li>
            <% end %>
          </ul>

          <div class="row" style="padding-top: 5px;">
            <div class="tab-content">
              <% @results.each do |model, results_for_model| %>
                  <div class="tab-pane fade in <%= 'active'.html_safe if model == tabs.first %>" id="<%= model %>">
                    <div class="search-results-count">
                      <%= "Showing #{pluralize(results_for_model.results.count, "#{model.to_s.humanize.singularize.downcase}")}#{(results_for_model.total > 30) ? " out of #{results_for_model.total}" : ''}." %>
                      <%= link_to "View all results.", :controller => model, :q => params[:q] if (results_for_model.total > 30) %>
                    </div>
                    <% if results_for_model.results.count > 0 %>
                        <% if model == :materials or model == :trainers %>
                            <% results_for_model.results.each do |result| %>
                                <%= render partial: result %>
                            <% end %>
                        <% else %>
                            <ul class="masonry media-grid" style="margin-top: 15px;">
                              <% results_for_model.results.each do |result| %>
                                  <%= render partial: result %>
                              <% end %>
                            </ul>
                        <% end %>
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
