<%# Sidebar containing filterable facets.

Parameters:
- resources     - SOLR object containing results and metadata about search as returned from materials#index

Variable that should be available
- @facet_params  - The facet filters the user has applied
%>
<h3 class="nav-heading" id="sidebar-header">
  Filters
  <button href="#" class="btn btn-link pull-right" id="sidebar-close"><i class="icon-lg icon cross-icon"></i></button>
</h3>

<%
  extras = if resource_type.name == 'Event'
             [['Earliest', 'early'], ['Latest', 'late'], ['Most recent', 'new']]
           elsif resource_type.name == 'Source'
             [['Most recent', 'new'], ['Last finished', 'finished']]
           else
             [['Most recent', 'new']]
           end %>

<%= render partial: 'search/common/sort_by', locals: { resources: resource_type, extras: extras } %>

<ul class="unstyled nav-simple">
  <li>
    <h4 class="nav-heading">
      Filter
      <% if @facet_params.present? %>
        <%= link_to clear_filters_path, class: 'btn btn-xs btn-secondary font-size-sm clear-filters-btn' do %>
          Clear filters <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      <% end %>
    </h4>
  </li>

  <% boolean_facets, regular_facets = available_facets(resources).partition { |f| f.field_name == :online } %>

  <% if resource_type.name == 'Event' %>
    <%= render partial: 'search/common/facet_sidebar_date_filter', locals: { facet_field: 'start' } %>
  <% end %>

  <%# We ignore the start facet, since this needs to be always available, not just when there are records%>
  <% regular_facets.reject{ |f| f.field_name.to_s == 'start' }.each do |facet| %>
    <%= render partial: 'search/common/facet_sidebar_filter', locals: { facet: facet, resources: resources } %>
  <% end %>

  <% boolean_facets.each do |facet| %>
    <%= render partial: 'search/common/facet_sidebar_boolean_filter', locals: { facet: facet, resources: resources } %>
  <% end %>

  <% if resource_type.name == 'Event' %>
    <%= render partial: 'search/common/facet_sidebar_boolean_filter', locals: { facet_field: 'include_expired',
                                                                                count: '-',
                                                                                enable_text: 'Show past events',
                                                                                disable_text: 'Hide past events' } %>
    <%= render partial: 'search/common/facet_sidebar_boolean_filter', locals: { facet_field: 'include_disabled',
                                                                                count: '-',
                                                                                enable_text: 'Show disabled events',
                                                                                disable_text: 'Hide disabled events' } %>
  <% elsif resource_type.name == 'Material' || resource_type.name == 'LearningPath' %>
    <% resource_name = resource_type.model_name.human.downcase.pluralize %>
    <%= render partial: 'search/common/facet_sidebar_boolean_filter', locals: { facet_field: 'include_archived',
                                                                                count: '-',
                                                                                enable_text: "Show archived #{resource_name}",
                                                                                disable_text: "Hide archived #{resource_name}" } %>
  <% end %>

  <% if TeSS::Config.facets_max_age_list.include?(resource_type.name) %>
    <%= render partial: 'search/common/facet_sidebar_max_age' %>
  <% end %>
</ul>

<% if current_user && (current_user.is_curator? || current_user.is_admin?) %>
  <%= render partial: 'search/common/facet_sidebar_curation', locals: { resource_type: resource_type } %>
<% end %>
