<%# Sidebar containing filterable facets.

Parameters:
- resources     - SOLR object containing results and metadata about search as returned from materials#index

Variable that should be available
- @facet_fields  - List of all facets supported by this resource type
- @facet_params  - The facet filters the user has applied
%>

<% local_assigns.fetch :resource_type, 'result' %>

<% if resources.blank? or resources.results.blank? %>
    <p class="alert alert-info empty" style="margin: 10px;">
      No <%= resource_type.humanize.pluralize.downcase %> to filter
    </p>
<% else %>
    <ul class="unstyled nav-simple">
      <% @facet_fields.each do |facet_field| %>
          <% if resources.facet(facet_field).rows.count > 0 %>
              <!-- Title -->
              <li><h4 class="nav-heading"><%= facet_field.humanize %></h4></li>

              <!-- Select first 10 or all filters-->
              <% showing_all = false %>
              <% if params.include?("#{facet_field}_all") %>
                  <% showing_all = true %>
                  <% filters_to_show = resources.facet(facet_field).rows %>
              <% else %>
                  <% filters_to_show = resources.facet(facet_field).rows.first(10) %>
              <% end %>

              <!-- Display all filter links -->
              <% filters_to_show.each do |facet| %>
                  <% if facet.value and !facet.value.empty?  %>
                      <% if @facet_params.include?(facet_field) and @facet_params[facet_field].include?(facet.value) %>
                          <li class="nav-item active">
                            <%= remove_filter_link(facet_field, facet.value)%>
                          </li>
                      <% else %>
                          <li class="nav-item"><%= filter_link(facet_field, facet.value)%></li>
                      <% end %>
                  <% end %>
              <% end %>

              <!-- Display 'show more' link -->
              <% if !showing_all and filters_to_show.count >= 10 %>
                  <li class="nav-item">
                    <%= show_more_link(facet_field) %>
                  </li>
              <% end %>
              <% if showing_all and filters_to_show.count >= 10 %>
                  <li class="nav-item">
                        <%= show_less_link(facet_field) %>
                  </li>
              <% end %>
          <% end %>
      <% end %>
    </ul>
<% end %>
