<% facet_field = facet.field_name.to_s %>
<% lb, ub = params[facet_field]&.split('..') %>
<li class="sidebar-group mt-4">
  <ul>
    <li>
      <div class="nav-heading filter-heading">
        <span class="icon icon-lg events-icon"></span>
        <span><%= t("facets.titles.#{facet_field}", default: facet_field.humanize.singularize) %></span>
        <div class="pull-right filter-expand"><i class="icon icon-md expand-icon"></i></div>
      </div>
    </li>

    <li class="nav-item active" style="display: none; font-size: 15px; text-align: center;">
      <input type="date" name="<%= facet_field %>_lb" value="<%= lb %>" style="width: 47%;" onchange="redirect_with_updated_search('<%= facet_field %>', this.value + '..' + '<%= ub %>');">
       - 
      <input type="date" name="<%= facet_field %>_ub" value="<%= ub %>" style="width: 47%;" onchange="redirect_with_updated_search('<%= facet_field %>', '<%= lb %>' + '..' + this.value);">
    </li>
  </ul>
</li>
