<%# displays the facet title as a header
     followed by the first 10 facet values as clickable links;
      or a remove button if link is already selected %>
<%# Select first 10 or all filters%>
<% max_display = 10 %>
<% facet_field = facet.field_name.to_s %>
<% facet_rows = facet.rows.reject { |f| f.value.to_s.blank? || f.count < 1 } %>

<div class="sidebar-group mt-4">
<% if facet_rows.any? %>
  <%# Title %>
  <li>
    <div class="nav-heading filter-heading"><span class="icon icon-md filter-icon"></span>

      <span>
      <%= case facet_field
          when 'user'
            'Owner'
          when 'organizer'
            'Organiser'
          else
            facet_field.humanize.singularize
          end -%>
      </span>

      <div class="pull-right filter-expand"><i class="icon icon-md expand-icon"></i></div>
    </div>
  </li>

    <%# Display all filter links - active first %>
    <% facet_rows.each_with_index do |facet, index| %>
      <%# if there's a facet already selected %>
      <% if @facet_params.include?(facet_field) && Array.wrap(@facet_params[facet_field]).include?(facet.value.to_s) %>
        <li class="nav-item active
        <% if index >= 0 -%><%= facet_field -%>-expanding
        <% end -%>"
            <% if index >= 0 -%>style="display: none;"
            <% end -%>
            >
          <%= remove_filter_link(facet_field, facet.value.to_s) %>
        </li>
      <% end %>
    <% end %>

  <%# Display all other filter links %>
  <% facet_rows.each_with_index do |facet, index| %>
    <%# if there's a facet already selected %>
    <% if @facet_params.include?(facet_field) && Array.wrap(@facet_params[facet_field]).include?(facet.value.to_s) %>
    <% else %>
      <li class="nav-item
        <% if index >= 0 -%><%= facet_field -%>-expanding
        <% end -%>"
          <% if index >= 0 -%>style="display: none;"
      <% end -%>>
        <%= filter_link(facet_field, facet.value.to_s, facet.count) %>
      </li>
    <% end %>
  <% end %>

    <li class="expand-filters" style="display:none;">
      <a href="#">Show N_FILTERS more</a>
    </li>

<% end %>
</div>