<!-- displays the facet title as a header
     followed by the first 10 facet values as clickable links;
      or a remove button if link is already selected -->

<% if resources.facet(facet_field).rows.count > 0 %>
    <!-- Title -->
    <li><h4 class="nav-heading"><%= (facet_field.humanize == 'User') ? 'Owner' : facet_field.humanize %></h4>
    </li>

    <!-- Select first 10 or all filters-->
    <% showing_all = false %>
    <% if params.include?("#{facet_field}_all") %>
        <% showing_all = true %>
        <% filters_to_show = resources.facet(facet_field).rows %>
    <% else %>
        <% filters_to_show = resources.facet(facet_field).rows.first(10) %>
    <% end %>

    <!-- Display all filter links -->

    <% filters_to_show.each do |facet| %>
        <% if !facet.value.to_s.blank? %> <!-- if there's a facet already selected -->
            <% if @facet_params.include?(facet_field) and @facet_params[facet_field].include?(facet.value.to_s) %>
                <li class="nav-item active">
                  <%= remove_filter_link(facet_field, facet.value.to_s) %>
                </li>
            <% else %>
                <li class="nav-item"><%= filter_link(facet_field, facet.value.to_s) %></li>
            <% end %>
        <% end %>
    <% end %>

    <!-- Display 'show more' link -->
    <% unless resources.facet(facet_field).rows.count == 10 %>
        <% if !showing_all and filters_to_show.count >= 10 %>
            <li class="nav-item">
              <%= show_more_link(facet_field) %>
            </li>
        <% end %>
        <% if (showing_all and filters_to_show.count >= 10) %>
            <li class="nav-item">
              <%= show_less_link(facet_field) %>
            </li>
        <% end %>
    <% end %>
<% end %>