<%# Sidebar containing filterable facets.

Parameters:
- resources     - SOLR object containing results and metadata about search as returned from materials#index

Variable that should be available
- @facet_fields  - List of all facets supported by this resource type
- @facet_params  - The facet filters the user has applied
%>
<div>
  <table class="table table-striped">
  <% @facet_fields.each do |facet_field| %>
    <% if resources.facet(facet_field).rows.count > 0 %>
            <!-- Title -->
             <tr><td class="h4"><%= facet_field.humanize %></td><td></td></tr>

            <!-- Select first 10 or all filters-->
            <% showing_all = false %>
            <% if params.include?("#{facet_field}_all") %>
                <% showing_all = true %>
                <% filters_to_show = resources.facet(facet_field).rows %>
            <% else %>
                <% filters_to_show = resources.facet(facet_field).rows.first(10) %>
            <% end %>


            <!-- Display all filter links -->
            <% filters_to_show.each do |facet| %>
                <% if @facet_params.include?(facet_field) and @facet_params[facet_field].include?(facet.value) %>
                    <tr style="background-color:lightgray">
                    <td > <%= remove_filter_link(facet_field, facet.value)%></td>
                <% else %>
                    <tr><td><%= filter_link(facet_field, facet.value) %></td>
                <% end %>
                <td><%= facet.count %></td>
                </tr>
            <% end %>

            <!-- Display 'show more' link -->
            <% if !showing_all and filters_to_show.count >= 10 %>
               <tr><td><strong><%= show_more_link(facet_field) %></strong></td> </tr>
            <% end %>
            <% if showing_all and filters_to_show.count >= 10 %>
                <tr><td><strong><%= show_less_link(facet_field) %></strong></td> </tr>
            <% end %>
      <% end %>
  <% end %>
  </table>
</div>