<li data-id="{{ item.uri }}">
    <input type="hidden" name="{{ prefix }}[]" value="{{ item.uri }}" />
    {{ item.preferred_label }} <span class="muted">{{ item.uri }}</span>
    <a href="#" class="delete-list-item">&times;</a>
</li>
