<div class="container">
  <h3 style="text-align: Left;"> <%= image_tag(asset_path("scilifelab/guidesicon-black.png"), alt: "guides", size: "40x40") %> Content Guides</h3>
  <br>
  <p>Browse our library of guidelines and best practices for developing and 
  delivering training. Check back as we add more resources!</p>

  <div class="row">
    <br>
    <% t('guides').with_indifferent_access.each do |key, entry| %>
      <%= link_to entry['url'], target: '_blank' do %>
        <div class="col-md-3 mb-5">
          <div class="guide-box text-center d-flex flex-column p-3">
            <p style="font-size:20px;"><b><%= entry['name'] %></b></p>
            <%= image_tag(asset_path(entry['image']), alt: 'guide', size: '140x140') %>
            <p id="guide-type" class="mt-auto"><%= entry['type'] %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  
</div>