<div class="container mt-4">
  <h3 style="text-align: Left;"> <%= image_tag(asset_path("scilifelab/supporticon-black.png"), alt: "community", size: "40x40") %> Pedagogic support</h3>
  <br>
  <p>
    The SciLifeLab Training Hub provides assistance in training co-creation and delivery to ensure 
    knowledge transfer at SciLifeLab is engaging, effective, Open and FAIR, and creates 
    sustainable and  lasting learning.
  </p>
  <p>
    Connect with us if you are planning a course, looking to upskill your user or stakeholder 
    groups, interested in partnerships or external collaboration! We can assist with the following:
  </p>
  <br>
</div>

<div class="container">
  <br>
  <div class="col-md-4 mb-5">
    <div class="support-box text-left d-flex flex-column p-3">
      <%= image_tag(asset_path("scilifelab/lightbulb.png"), alt: 'icon', height: '40px') %>
      <h5 style="color:black;">
        Needs assessment & training program development
      </h5>
      <p style="font-size:15px;">
        We offer assessments for determining skills gaps and help develop 
        training programs that enable team science.
      </p>
    </div>
  </div>

  <div class="col-md-4 mb-5">
    <div class="support-box text-left d-flex flex-column p-3">
      <%= image_tag(asset_path("scilifelab/lightbulb.png"), alt: 'icon', height: '40px') %>
      <h5 style="color:black;">
        Career development & lifelong learning initiatives
      </h5>
      <p style="font-size:15px;">
        We can co-create skills workshops  and learning paths so  you and  your 
        team stay competitive with the pace of technology- and data-driven life science.
      </p>
    </div>
  </div>

  <div class="col-md-4 mb-5">
    <div class="support-box text-left d-flex flex-column p-3">
      <%= image_tag(asset_path("scilifelab/lightbulb.png"), alt: 'icon', height: '40px') %>
      <h5 style="color:black;">
        Engagement & catalytic learning
      </h5>
      <p style="font-size:15px;">
        We offer strategies for ensuring your knowledge is getting across to your 
        learners and igniting further exploration, tailored around your expertise.
      </p>
    </div>
  </div>

  <div class="col-md-4 mb-5">
    <div class="support-box text-left d-flex flex-column p-3">
      <%= image_tag(asset_path("scilifelab/lightbulb.png"), alt: 'icon', height: '40px') %>
      <h5 style="color:black;">
        Pedagogic best practices
      </h5>
      <p style="font-size:15px;">
        We advise on  frameworks and best practices that are supported by 
        current research from  the field of teaching. 
      </p>
    </div>
  </div>

  <div class="col-md-4 mb-5">
    <div class="support-box text-left d-flex flex-column p-3">
      <%= image_tag(asset_path("scilifelab/lightbulb.png"), alt: 'icon', height: '40px') %>
      <h5 style="color:black;">
        Collaborative learning & learning culture
      </h5>
      <p style="font-size:15px;">
        We provide advice and training for creating a culture of learning and 
        collaboration  in your team or organization.
      </p>
    </div>
  </div>

  <div class="col-md-4 mb-5">
    <div class="support-box text-left d-flex flex-column p-3">
      <%= image_tag(asset_path("scilifelab/lightbulb.png"), alt: 'icon', height: '40px') %>
      <h5 style="color:black;">
        Tools & technical support
      </h5>
      <p style="font-size:15px;">
        Access to our suite of educational tools, platforms, and technology 
        for setting up and delivering training.
      </p>
    </div>
  </div>

  <div class="row text-center">
    <br>
    <p>Need help? Have an idea? Connect at <%= mail_to(TeSS::Config.contact_email) %>
    </p>
  </div>

</div>


