<div class="container mt-4">
  <h3 style="text-align: Left;"> <%= image_tag(asset_path("scilifelab/transfericon-black.png"), alt: "community", size: "30x30") %> Training Community</h3>
  <br>
  <p>We are developing and connecting our community spaces, events, and programs 
  to foster knowledge transfer and networking amongst experts at SciLifeLab.</p>
</div>

<!-- Content Box -->
<div class="community-box">
  <div class="row">
    <!-- Image Section -->
    <div class="col-md-2">
      <%= image_tag(asset_path("scilifelab/traininghub-bookshelf.png"), alt: 'guide', size: '80x100') %>
    </div>
    <!-- Text Section -->
    <div class="col-md-10">
      <b>SciLifeLab Training Hub Drop-in Fika</b>
      <br>
      <ul>
        <li> Drop by in person at Campus Solna or online everywhere every other week for feedback on training and learning </li>
        <li> Ask about effective seminars, teaching short form courses, training formats, and more! </li>
      </ul>
    </div>
  </div>
</div>

<div class="community-box">
  <div class="row">
    <!-- Image Section -->
    <div class="col-md-2">
      <%= image_tag(asset_path("scilifelab/ELIXIRcommunities.png"), alt: 'guide', size: '80x100') %>
    </div>
    <!-- Text Section -->
    <div class="col-md-10">
      <b>ELIXIR Focus Groups and Communities</b>
      <br>
      <ul>
        <li>
          <%= link_to "Join focus groups", "https://elixir-europe.org/what-we-offer/work-together", target: "_blank", rel: "noopener noreferrer" %>
          on 
          <%= link_to "Learning Paths", "https://elixir-europe.org/focus-groups/learning-paths", target: "_blank", rel: "noopener noreferrer" %>
          or
          <%= link_to "FAIR Training", "https://elixir-europe.org/focus-groups/fair-training", target: "_blank", rel: "noopener noreferrer" %>
          to take part in building European training
        </li>
        <li> 
          Join the
          <%= link_to "Life Science Trainers Slack", "https://lifescitraining.slack.com/join/shared_invite/enQtNDc2NDk2NzMyNjkyLTA0Zjk5YzAwN2RlMTQyODg3NWJhMzhlY2NkY2I3MzBkZDhlOTY4OTIxYWFjNjQ2MjQ1N2VhYTFhYmU1ZDJiOTc#/shared-invite/email", target: "_blank", rel: "noopener noreferrer" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Content Box -->
<div class="community-box">
  <div class="row">
    <!-- Image Section -->
    <div class="col-md-2">
      <%= image_tag(asset_path("scilifelab/traininghub-bookshelf.png"), alt: 'guide', size: '80x100') %>
    </div>
    <!-- Text Section -->
    <div class="col-md-10">
      <b>SciLifeLab Training Hub Seminar Series</b>
      <br>
      <ul>
        <li> Join the Training Hub for discussions about what makes effective knowledge transfer </li>
        <li> Schedule coming in 2024! </li>
      </ul>
    </div>
  </div>
</div>

<div class="row text-center">
<br>
<p>For more updates, subscribe to the Training Hub Newsletter!</p>
</div>


