<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <%= render partial: "search/common/facet_sidebar",
                 locals: { resources: @workflows_results, resource_type: Workflow } %>
    </div>
  <% end %>

  <div id="content">
    <h2><%=t("features.workflows.long")%></h2>
    <% content_for :buttons do %>
      <%= link_to new_workflow_path, class: 'btn btn-primary' do %>
        <%= t('register.buttons.workflows')%>
      <% end %>
      <%= info_button("What are workflows in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
        <%= render_markdown(WorkflowsHelper::WORKFLOWS_INFO) %>
      <% end %>
    <% end %>

    <%= render partial: "search/common/search_panel", locals: { resources: @workflows_results,
                                                                resource_type: Workflow } %>

    <%= render partial: 'common/masonry_grid', locals: { objects: @workflows } %>

    <%= render partial: 'search/common/pagination_bar', locals: { resources: @workflows } %>
  </div>
</div>
