<div class="wrapper">

  <div id="content">
    <div class="row">

      <h2>Workflows</h2>
    </div>
    <div class="row">
      <%= link_to new_workflow_path, class: 'btn btn-primary' do %>
        <i class="fa fa-plus-square"></i> Create workflow
      <% end %>
      <div class="pull-right">
        <%= info_button("What are workflows in #{TeSS::Config.site['title_short']}?") do %>
            <%= render_markdown(WorkflowsHelper::WORKFLOWS_INFO) %>
        <% end %>
      </div>
    </div>


    <% if false && TeSS::Config.solr_enabled %>
        <div class="row">
          <%= render partial: "search/common/search_box", locals: {resource_path: workflows_path} %>
          <%= render partial: "search/common/search_info", locals: {resources: @workflows_results, resource_type: 'workflow'} %>
        </div>
    <% end %>
    <div class="row">
    <%= render partial: "search/common/search_filters", locals: {resources: @workflows_results} %>
      <button class="btn btn-default" id="sidebar-toggle" type="button" autocomplete="off">
        <i class="fa fa-filter"></i> Filters
      </button>
    </div>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @workflows } %>

    <hr>

    <%= render partial: 'common/masonry_grid', locals: { objects: @workflows } %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @workflows } %>
  </div>

  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <div class="row">
      <%= render partial: "search/common/facet_sidebar", locals: {resources: @workflows_results, resource_type: Workflow} %>
      </div>
    </div>
  <% end %>

</div>
