<div class="wrapper">

  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <div class="row">
        <%= render partial: "search/common/facet_sidebar", locals: {resources: @workflows_results, resource_type: Workflow} %>
      </div>
    </div>
  <% end %>

  <div id="content">
    <div class="row">
      <h2>Workflows</h2>
    </div>
    <% content_for :buttons do %>
      <%= link_to new_workflow_path, class: 'btn btn-primary' do %>
        Create workflow
      <% end %>
      <%= info_button("What are workflows in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
        <%= render_markdown(WorkflowsHelper::WORKFLOWS_INFO) %>
      <% end %>
    <% end %>

    <% if TeSS::Config.solr_enabled %>
      <%= render partial: "search/common/search_panel", locals: { resources: @workflows_results,
                                                                  resource_type: Workflow } %>
    <% end %>

    <%= render partial: 'common/masonry_grid', locals: { objects: @workflows } %>

    <%= render partial: 'search/common/pagination_bar', locals: { resources: @workflows } %>
  </div>
</div>
