<div class="wrapper collapsing-wrapper">
  <div id="content">
    <div class="content-actions">
      <div class="content-viewer-actions">
        <%= render partial: 'common/identifiers_dot_org_button', locals: { resource: @workflow } if TeSS::Config.identifiers_prefix %>
        <%= render partial: 'workflows/embed_button' if @workflow.public? %>
        <%= star_button(@workflow) if user_signed_in? %>
      </div>
      <div class="content-manager-actions">
        <%= link_to 'Fork', fork_workflow_path(@workflow), class: 'btn btn-default' unless current_user.nil? %>
        <%= render partial: 'collaborations/collaborators_button', locals: { resource: @workflow } if policy(@workflow).manage? %>
        <%= edit_button(@workflow) if policy(@workflow).update? %>
        <%= delete_button(@workflow) if policy(@workflow).destroy? %>
      </div>
    </div>
    <div id="workflow">
      <h2><%= t '.title', :default => title_with_privacy(@workflow) %></h2>

      <% content_for :sidebar_title do %>
        <i class="fa fa-sitemap"></i> <%= @workflow.title %>
      <% end %>
      <% content_for :sidebar_description do %>
        <% if @workflow.description.present? %>
          <%= render_markdown(@workflow.description) %>
        <% else %>
          <p class="muted">No description provided</p>
        <% end %>
        <%= render partial: 'common/extra_metadata', locals: { resource: @workflow } %>
        <% if policy(@workflow).update? && @workflow.edit_suggestion %>
          <%= render partial: 'common/approve_term_suggestions', locals: { suggestion: @workflow.edit_suggestion } %>
        <% end %>
      <% end %>
      <%= render partial: 'workflows/workflow_diagram', locals: { workflow: @workflow } %>
    </div>
    <%= render partial: 'activities/activity_log_button', locals: { resource: @workflow } %>
  </div>
</div>
