<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @user, html: { class: "form-horizontal profile" } do |user_f| %>
      <%= user_f.simple_fields_for :profile do |f| %>

        <h3>User Details</h3>
        <hr>

        <p><i class="fa fa-exclamation-triangle"></i>&nbsp;<%= t 'profile.user.disclaimer' %></p>

        <%= render partial: 'common/error_summary', locals: { resource: @user.profile } %>

        <%= f.input :firstname, as: :string %>

        <%= f.input :surname, as: :string %>

        <%= f.input :website, as: :string, input_html: { title: t('profile.hints.website') } %>

        <%= f.input :orcid, as: :string, label: 'ORCID', input_html: { title: t('profile.hints.orcid') } %>

        <%= f.input :email, as: :string, label: 'Contact email address',
                    input_html: { title: t('profile.hints.email') } %>

        <p>
          <%= t 'profile.trainer.gravitar.help' %>
          <a href="<%= t 'profile.trainer.gravitar.url' %>" target='_blank'>
            <%= t 'profile.trainer.gravitar.url' %>
          </a>
        </p>

        <% if policy(@user).change_role? %>
          <%= user_f.input :role_id, collection: Role.all, label_method: :title, include_blank: false %>
        <% end %>

        <p><br/>

        <h3>Trainer Details</h3>
        <hr>

        <%= f.input :description, label: 'Summary', input_html: { title: t('profile.hints.description') } %>

        <%= f.input :location, input_html: { title: t('profile.hints.location') } %>

        <%= f.input :experience, collection: TrainerExperienceDictionary.instance.options_for_select,
                    label: 'Training Experience', prompt: 'Select a level of experience...',
                    input_html: { title: t('profile.hints.experience') } %>

        <%= f.dropdown :language, options: language_options_for_select(['EN', 'MI']),
                       label: 'Languages Spoken', model_name: 'user[profile_attributes]',
                       errors: @user.profile.errors[:language], title: t('profile.hints.language') %>

        <%= f.multi_input :expertise_academic, label: 'Academic expertise',
                          errors: @user.profile.errors[:expertise_academic],
                          model_name: 'user[profile_attributes]',
                          title: t('profile.hints.expertise_academic') %>

        <%= f.multi_input :expertise_technical, label: 'Technical expertise',
                          errors: @user.profile.errors[:expertise_technical],
                          model_name: 'user[profile_attributes]',
                          title: t('profile.hints.expertise_technical') %>

        <!-- Field: Fields -->
        <%= render partial: 'common/tree',
                   locals: { f: f,
                             resource: @user.profile,
                             model_name: 'user[profile_attributes]',
                             field_name: 'fields',
                             field_label: 'Fields of Research',
                             button_label: 'FoR Codes',
                             title: t('profile.hints.fields') } %>


        <%= f.multi_input :interest, label: 'Interests',
                          errors: @user.profile.errors[:interest],
                          model_name: 'user[profile_attributes]',
                          title: t('profile.hints.interest') %>

        <%= f.multi_input :activity, label: 'Activities',
                          errors: @user.profile.errors[:activity],
                          model_name: 'user[profile_attributes]',
                          title: t('profile.hints.activity') %>

        <%= f.multi_input :social_media, label: 'Social media links',
                          errors: @user.profile.errors[:social_media],
                          model_name: 'user[profile_attributes]',
                          title: t('profile.hints.social_media') %>

        <p><i class="fa fa-exclamation-triangle"></i>&nbsp;<%= t 'profile.trainer.disclaimer' %></p>

        <%= f.input :public, label: 'Show in Registry of Trainers?',
                    input_html: { title: t('profile.hints.public') } %>


      <% end %>

      <div class="form-group">
        <%= user_f.submit 'Update profile', class: 'btn btn-primary' %>
        <!--%= link_to 'Back', :back, class: "btn btn-info" %-->
        <%= link_to t('.cancel', default: t("helpers.links.cancel")), user_path(@user), class: 'btn btn-default' %>
      </div>
    <% end -%>
  </div>
</div>
