<div class="page-header">
  <h2><%= t '.title', default: 'Users' %></h2>
</div>

<!-- Register button -->
<% if TeSS::Config.feature['invitation'] %>
  <% if current_user.try(:is_admin?) or current_user.try(:is_curator?) %>
    <%= link_to invitees_path, class: 'btn btn-primary align-self-end' do %>Invitees<% end %>
  <% end %>
<% end %>

<div class="search-results-count">
  <%= pluralize(@users.count, 'user') %>
</div>

<%= render partial: 'common/masonry_grid', locals: { objects: @users } %>

<%= render partial: 'search/common/pagination_bar', locals: { resources: @users } %>
