<div class="row wrapper">
  <!-- SIDEBAR -->
  <div class="col-md-3 col-xs-3" id="sidebar">
    <%= render :partial => "profiles/partials/user_info", :locals => {:user => @user} %>
  </div>
  <div class=" col-md-9 col-xs-9">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#materials"><i class="<%= icon_class_for_model('materials') %>"></i> Materials</a>
        </li>
        <li class="active">
          <a data-toggle="tab" href="#packages"><i class="<%= icon_class_for_model('packages') %>"></i> Packages</a>
        </li>
        <li class="active">
          <a data-toggle="tab" href="#workflows"><i class="<%= icon_class_for_model('workflows') %>"></i> Workflows</a>
        </li>
        <li>
          <a data-toggle="tab" href="#activity_log"><i class="<%= icon_class_for_model('activity_logs') %>"></i> Activity log</a>
        </li>
      </ul>
    </div>
  </div>
</div>
