<% resource_limit = 30 %>
<div class="wrapper collapsing-wrapper-tb">
  <%- model_class = Profile -%>

  <%# SIDEBAR %>
  <div id="sidebar" class="collapsing-sidebar">
    <ul class="unstyled nav-simple">
      <li><h4 class="nav-heading">User <%= "#{@user.username}" %></h4></li>
      <li style="padding: 10px 10px;">
        <div class="row">
          <div class="col-xs-4 col-md-12">
            <div id="gravatar_image">
              <%= image_tag @user.gravatar_url, :class=>'medium-content-provider-logo' %>
            </div>
          </div>
          <div class="col-xs-8 col-md-12">
            <p>
              <strong>First name</strong><br/>
              <% if @user.profile.firstname.blank? %>
                  <span class="empty">None specified</span>
              <% else %>
                  <%= @user.profile.firstname %>
              <% end %>
            </p>

            <p>
              <strong>Surname</strong><br/>
              <% if @user.profile.surname.blank? %>
                  <span class="empty">None specified</span>
              <% else %>
                  <%= @user.profile.surname %>
              <% end %>
            </p>


            <p>
              <strong>Public email</strong><br/>
            <% if @user.profile.email.blank? %>
                <span class="empty">None specified</span>
            <% else %>
                <%= mail_to @user.profile.email %>
            <% end %>
            </p>

            <p>
              <strong><%= model_class.human_attribute_name(:website) %></strong><br/>
              <% if @user.profile.website.blank? %>
                  <span class="empty">None specified</span>
              <% else %>
                  <%= link_to @user.profile.website, @user.profile.website, rel: 'nofollow' %>
              <% end %>
            </p>

            <% if !current_user.nil? and current_user == @user %>
                <div class="row">
                  <%= link_to t('.edit', :default => 'Edit profile'), edit_user_path(@user), :class => 'btn btn-primary center-block' %>
                </div>
            <% end %>
          </div>
        </div>
      </li>
      <li><h4 class="nav-heading">Account details</h4></li>
      <li style="padding: 10px 10px;">
        <div class="row">
        <div class="col-xs-12">
          <p>
            <strong>Role</strong><br/>
            <%= @user.role.title %>
          </p>

          <% if !current_user.nil? and current_user == @user %>
              <p>
                <strong>Account email</strong><br/>
                <%= @user.email %>
              </p>

              <p>
                <strong>Authentication token</strong><span class="empty" style="font-style: italic;"> (keep it secret)</span><br/>
                <%= @user.authentication_token %>
              </p>
          <% end %>

          <% if !current_user.nil? and current_user == @user %>
              <%= link_to "Manage account", edit_user_registration_path, :class => 'btn btn-default center-block' %>
          <% end %>
        </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="content">
    <div class="row">
      <div class="content_action">
        <% if !current_user.nil? and policy(@user).update? %>
            <%= link_to t('.edit', :default => 'Edit profile'), edit_user_path(@user), :class => 'btn btn-primary' %>

            <% if current_user == @user %>
                <%= link_to "Manage account", edit_user_registration_path, :class => 'btn btn-default' %>

                <%= link_to "Manage subscriptions", subscriptions_path, :class => 'btn btn-default' %>
            <% end %>

            <% if current_user.try(:is_admin?) %>
                <% if @user.banned? %>
                    <%= link_to 'Remove ban', user_ban_path(@user),
                                data: { confirm: 'Are you sure you want to remove this ban?.' },
                                method: :delete, class: 'btn btn-danger' %>
                <% else %>
                    <%= link_to 'Ban', new_user_ban_path(@user), class: 'btn btn-danger' %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>

    <%= render(partial: 'users/partials/ban', locals: { ban: @user.ban }) if @user.banned? && current_user.try(:is_admin?) %>

    <div class="row">
      <% materials = @user.materials.limit(resource_limit) %>
      <% upcoming_events = @user.events.not_finished %>
      <% past_events = @user.events.finished %>
      <% events = upcoming_events.limit(resource_limit) %>
      <% workflows = @user.workflows.visible_by(current_user) %>

      <ul class="nav nav-tabs">
        <%= tab('Materials', icon_class_for_model('materials'), 'materials', active: true,
                disabled: { check: materials.none?, message: 'No registered training materials' },
                count: @user.materials.count) %>

        <%= tab('Events', icon_class_for_model('events'), 'events',
                disabled: { check: @user.events.count.zero?, message: 'No registered events' },
                count: @user.events.count) %>

        <%= tab('Workflows', icon_class_for_model('workflows'), 'workflows',
                disabled: { check: workflows.none?, message: 'No workflows' },
                count: workflows.count) %>
      </ul>

      <div class="tab-content">
        <div id="materials" class="tab-pane fade in active">
          <div class="row">
            <div class="search-results-count">
              <%= (materials.count > 0 ? "Showing" : "Found") + " #{pluralize(materials.count, "material")}#{(@user.materials.count > resource_limit) ? " out of #{@user.materials.count}" : ''}." %>
              <%= link_to('View all results.', materials_path(user: @user.username)) if (@user.materials.count > resource_limit) %>
            </div>

            <% materials.each do |material| %>
                <%= render material %>
            <% end %>
          </div>
        </div>
        <div id="events" class="tab-pane fade">
          <div class="row">
            <div class="search-results-count">
              <%= (upcoming_events.count > 0 ? "Showing" : "Found") + " #{pluralize(events.count, "upcoming event")}#{(upcoming_events.count > resource_limit) ? " out of #{upcoming_events.count}" : ''}." %>
              <%= "Found #{pluralize(past_events.count, "past event")}." %>
            </div>
            <ul>
              <% if upcoming_events.count > resource_limit %>
                <li><%= link_to('View all upcoming events', events_path(user: @user.username)) %></li>
              <% end %>
              <% if past_events.count > 0 %>
                <li><%= link_to('View all events', events_path(user: @user.username, include_expired: true)) %></li>
              <% end %>
            </ul>
            <% if events.count > 0 %>
                <ul class="masonry media-grid" style="margin-top: 15px;">
                  <% events.each do |event| %>
                      <%= render event %>
                  <% end %>
                </ul>
            <% end %>
          </div>
        </div>
        <div id="workflows" class="tab-pane fade">
          <div class="row">
            <div class="search-results-count">
              <%= pluralize(workflows.count, 'workflow') %> found
            </div>
            <% if workflows.any? %>
                <ul class="masonry media-grid" style="margin-top: 15px;">
                  <% workflows.each do |workflow| %>
                      <%= render workflow %>
                  <% end %>
                </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
