<div class="wrapper collapsing-wrapper-tb">
  <%- model_class = Profile -%>

  <%# SIDEBAR %>
  <div id="sidebar" class="collapsing-sidebar">
    <h4 class="nav-heading"><%= "#{@user.username}" %></h4>
    <div class="nav-block">
      <div id="gravatar_image">
        <%= image_tag @user.avatar_url, class: 'medium-avatar' %>
      </div>
      <p>
        <strong>First name</strong><br/>
        <% if @user.profile.firstname.blank? %>
          <span class="empty">None specified</span>
        <% else %>
          <%= @user.profile.firstname %>
        <% end %>
      </p>

      <p>
        <strong>Surname</strong><br/>
        <% if @user.profile.surname.blank? %>
          <span class="empty">None specified</span>
        <% else %>
          <%= @user.profile.surname %>
        <% end %>
      </p>

      <p>
        <strong>Public email</strong><br/>
        <% if @user.profile.email.blank? %>
          <span class="empty">None specified</span>
        <% else %>
          <%= mail_to @user.profile.email %>
        <% end %>
      </p>

      <p>
        <strong><%= model_class.human_attribute_name(:website) %></strong><br/>
        <% if @user.profile.website.blank? %>
          <span class="empty">None specified</span>
        <% else %>
          <%= link_to @user.profile.website, @user.profile.website, rel: 'nofollow', target: '_blank' %>
        <% end %>
      </p>

      <p>
        <strong>ORCID</strong><br/>
        <% if @user.profile.orcid.blank? %>
          <span class="empty">None specified</span>
        <% else %>
          <%= orcid_link(@user.profile) %>
        <% end %>
        <% if TeSS::Config.orcid_authentication_enabled? && current_user == @user && !@user.profile.orcid_authenticated? %>
          <%= button_to t(@user.profile.orcid.blank? ? 'orcid.link' : 'orcid.authenticate'), authenticate_orcid_path, class: 'btn btn-default' %>
        <% end %>
      </p>

      <% if feature_enabled?('trainers') %>
        <p>
          <strong>Included in Registry of Trainers:</strong>
          <% if @user.profile.public? %>
            <span style="color: green;">Yes</span>
          <% else %>
            <span style="color: red;">No</span>
          <% end %>
        </p>
      <% end %>
    </div>
    <h4 class="nav-heading">Account details</h4>
    <div class="nav-block">
      <p>
        <strong>Role</strong><br/>
        <%= @user.role.title %>
      </p>

      <% if !current_user.nil? and current_user == @user %>
        <p>
          <strong>Account email</strong><br/>
          <%= @user.email %>
        </p>

        <p>
          <strong>Authentication token</strong><br/>
          <span class="empty" style="font-style: italic;">(keep it secret)</span><br/>
          <%= @user.authentication_token %>
        </p>
      <% end %>

      <% if TeSS::Config.feature['registration'] %>
        <% if !current_user.nil? and current_user == @user %>
          <%= link_to "Manage account", edit_user_registration_path, :class => 'btn btn-default center-block' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="content">
    <div class="content-actions">
      <div class="content-viewer-actions"></div>
      <div class="content-manager-actions">
        <%= edit_button(@user, text: 'Edit profile') if policy(@user).update? %>
        <!-- Current User functions -->
        <% if current_user == @user %>
          <!-- Registration Button -->
          <% if TeSS::Config.feature['registration'] %>
            <%= link_to "Manage account", edit_user_registration_path, class: 'btn btn-default' %>
          <% end %>
          <!-- Subscriptions Button -->
          <% if TeSS::Config.feature['subscription'] %>
            <%= link_to "Manage subscriptions", subscriptions_path, class: 'btn btn-default' %>
          <% end %>
        <% end %>

        <!-- Admin User functions -->
        <% if current_user.try(:is_admin?) %>
          <% if @user.banned? %>
            <%= link_to 'Remove ban', user_ban_path(@user),
                        data: { confirm: 'Are you sure you want to remove this ban?.' },
                        method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Ban', new_user_ban_path(@user), class: 'btn btn-danger' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= render(partial: 'users/partials/ban', locals: { ban: @user.ban }) if @user.banned? && current_user.try(:is_admin?) %>

    <!-- Registrations list: Events, Materials, Collections, Workflows -->
    <%= render(partial: 'common/registrations_list', locals: { user: @user }) %>
  </div>
</div>
