<% unless TeSS::Config.feature['content_providers_disabled'].include?('type') %>
  <h4 class="nav-heading">Type</h4>
  <div class="nav-block">
    <%= content_provider.content_provider_type %>
  </div>
<% end %>
<% unless content_provider.keywords.blank? || TeSS::Config.feature['content_providers_disabled'].include?('keywords') %>
  <h4 class="nav-heading">Keywords</h4>
  <div class="nav-block">
    <%= content_provider.keywords.join(', ') %>
  </div>
<% end %>
<% unless content_provider.node.blank? || !TeSS::Config.feature['nodes'] %>
  <h4 class="nav-heading">ELIXIR node</h4>
  <div class="nav-block">
    <p>
      <%= link_to country_flag(content_provider.node.country_code, class: 'small-flag'), content_provider.node %>
      <%= link_to content_provider.node.name, content_provider.node %>
    </p>

    <p>
      <%= link_to (image_tag get_image_url_for(content_provider.node), :class => "media-image listing_image"), content_provider.node %>
    </p>
  </div>
<% end %>
<% unless @content_provider.contact.blank? || TeSS::Config.feature['content_providers_disabled'].include?('contact') %>
  <h4 class="nav-heading">Contact</h4>
  <div class="nav-block">
    <%= content_provider.contact %>
  </div>
<% end %>

<%= render partial: 'content_providers/partials/content_provider_schemaorg',
           locals: { content_provider: @content_provider } %>

<%= render partial: 'content_providers/partials/twitter_card',
           locals: { content_provider: @content_provider } %>
<% unless TeSS::Config.feature['content_providers_disabled'].include?('owner') %>
  <h4 class="nav-heading">Owner</h4>
  <div class="nav-block">
    <%= link_to content_provider.user.name, content_provider.user %>
  </div>
<% end %>
<% unless !content_provider.editors.any? || TeSS::Config.feature['content_providers_disabled'].include?('editors') %>
  <h4 class="nav-heading"><%= ContentProvider.human_attribute_name(:editors) %></h4>
  <% content_provider.editors.each do |editor| %>
    <div class="nav-block">
      <%= link_to editor.name, editor %>
    </div>
  <% end %>
<% end %>
