<li class="masonry-brick media-item long">
  <%= link_to event, class: 'link-overlay with-left-icon' do %>
    <div class="icon-container hidden-xs">
      <!--    TODO: hybrid events-->
      <% if event.online? %>
        <i class="icon icon-h2 virtual-event-icon"></i><br/>
        <span class="muted">Online</span>
      <% else %>
        <i class="icon icon-h2 onsite-event-icon"></i><br/>
        <span class="muted">Face-to-face</span>
      <% end %>
    </div>

    <div class="right-container">
      <div class="masonry-brick-heading">
        <div class="masonry-icons">
          <% if current_user&.is_admin? %>
            <%= missing_icon(event) %>
            <%= scrape_status_icon(event) %>
            <%= suggestion_icon(event) %>
          <% end %>

          <%= event_status_icon(event) %>
        </div>
        <% if event.event_types.any? %>
          <% event.event_types.each do |t| %>
            <div class="sub-heading"><%= EventTypeDictionary.instance.lookup_value(t, 'title') %></div>
          <% end %>
        <% end %>
        <h4>
          <%= event.title %>
        </h4>
      </div>

      <% if event.has_node? -%>
        <%= image_tag 'elixir/elixir_logo_orange.png', alt: 'ELIXIR node event', title: 'ELIXIR node event',
                      class: 'elixir-node-icon' %>
      <% end -%>

      <p><%= neatly_printed_date_range(event.start, event.end) %></p>

      <% if event.online? %>
          <p class="visible-xs-block">
            <i class="icon icon-md virtual-event-icon"></i> <span class="muted">Online</span>
          </p>
      <% else %>
        <% location = [event.city, event.country].reject { |field_value| field_value.blank? }.join(", ") %>
        <% if location.present? %>
          <p class="dont-break-out"><i class="fa fa-map-marker"></i> <%= location %></p>
        <% end %>
        <p class="visible-xs-block">
          <i class="icon icon-md onsite-event-icon"></i> <span class="muted">Face-to-face</span>
        </p>
      <% end %>
    </div>
  <% end %>
</li>
