<li class="masonry-brick media-item long">
  <%= link_to event, class: 'link-overlay with-left-icon' do %>
    <%= item_order_badge(collection_item) if defined? collection_item %>
    <div class="with-left-icon">
      <div class="icon-container hidden-xs">
        <i class="icon icon-h2 <%= event.presence %>-event-icon"></i><br/>
        <span class="muted"><%= t("activerecord.attributes.event.presence.#{event.presence}") %></span>
      </div>

      <div class="right-container">
        <div class="masonry-brick-heading">
          <div class="masonry-icons">
            <% if current_user&.is_admin? %>
              <%= missing_icon(event) %>
              <%= scrape_status_icon(event) %>
              <%= suggestion_icon(event) %>
            <% end %>

            <%= event_status_icon(event) %>
          </div>
          <% if event.event_types.any? %>
            <% event.event_types.each do |t| %>
              <div class="sub-heading"><%= EventTypeDictionary.instance.lookup_value(t, 'title') %></div>
            <% end %>
          <% end %>
          <h4>
            <%= event.title %>
          </h4>
        </div>

        <% if event.has_node? -%>
          <%= elixir_node_icon %>
        <% end -%>

        <p><%= neatly_printed_date_range(event.start, event.end) %></p>

        <% if event.onsite? %>
          <% location = [event.city, event.country].reject { |field_value| field_value.blank? }.join(", ") %>
          <% if location.present? %>
            <p class="dont-break-out"><i class="fa fa-map-marker"></i> <%= location %></p>
          <% end %>
        <% end %>
        <p class="visible-xs-block">
          <i class="icon icon-md <%= event.presence %>-event-icon"></i>
          <span class="muted"><%= t("activerecord.attributes.event.presence.#{event.presence}") %></span>
        </p>
      </div>
      <% if TeSS::Config.site.fetch('show_provider_logo_in_event', false) && event.content_provider&.image&.url.present? %>
        <div>
          <%= image_tag(event.content_provider.image.url, class: 'small-avatar') %>
        </div>
      <% end %>
    </div>

    <%= item_comment(collection_item) if defined? collection_item %>
  <% end %>
</li>
