<% if tooltip_titles(event).empty? -%>
<li class="masonry-brick media-item" -%>
<% else -%>
<li class="masonry-brick media-item" data-toggle="tooltip" data-placement="auto" title="<%= tooltip_titles(event) -%>">
<% end -%>
  <div id="event-title">
  <h3 class="media-heading dont-break-out" style="display: inline;">
    <%= event.title %>
  </h3>
    <%= scrape_status_icon(event) if current_user and current_user.is_admin? %>
  </div>
  <p><%= neatly_printed_date_range(event.start, event.end) %></p>
  <% if event.online? %>
      <%= content_tag(:span, :class=>'pull-right gap') do %>
          <%= icon_for(:online, :small) %>
      <% end %>
  <% else %>
    <p class="dont-break-out"><%= [event.city, event.country].reject { |field_value| field_value.blank? }.join(", ")%></p>
  <% end %>



  <% if event.started? %>
      <%= content_tag(:span, :class=>'pull-right gap') do %>
        <%= icon_for(:started, :small) %>
      <% end %>
  <% elsif event.expired? %>
      <%= content_tag(:span, :class=>'pull-right gap') do %>
          <%= icon_for(:expired, :small) %>
      <% end %>
  <% end %>
  <% if event.for_profit? %>
      <%= content_tag(:span, :class=>'pull-right gap') do %>
          <%= icon_for(:for_profit, :small) %>
      <% end %>
  <% end %>
  <% if event.has_node? -%>
    <%= content_tag(:span, :class=>'pull-right gap') do %>
        <%= image_tag 'elixir_logo_orange.png',
                      :alt => 'Elixir node event',
                      :title => 'Elixir node event',
                      :style => 'height: 20px;' %>
    <% end %>
  <% end -%>
  <%= link_to '', event, :class=>"media-view" %>
  <%= render :partial => 'events/partials/event_schemaorg', :locals => {:event => event} %>

<% if current_user and current_user.is_admin? %>
    <% unless event.edit_suggestion.nil? or event.edit_suggestion.scientific_topics.empty? %>
        <div class="suggestions" style="z-index: 3">
          <b>Add topics to this event</b>
          <% event.edit_suggestion.scientific_topics.each do |scientific_topic, i| %>
            <span class="dropdown ">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= scientific_topic.preferred_label %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu suggestion_action"
                  data-resource_type="events"
                  data-resource_id="<%=event.id%>"
                  data-topic="<%=scientific_topic.preferred_label%>"
                  aria-labelledby="dropdownMenu1">
                <li><a class="btn accept_suggestion" ><b>✓ Accept</b> <br>(This event <b>is</b> about <em><%=scientific_topic.preferred_label%></em>)</a></li>
                <li><a class="btn reject_suggestion" ><b>✗ Reject</b> <br> (This event <b>is not</b> about <em><%=scientific_topic.preferred_label%></em>)</a></li>
              </ul>
            </span>
          <% end %>
        </div>
    <% end %>
<% end %>

</li>

