<script>
    $(function(){
        if (<%=@event.online?%>){
            console.log('cockkkk')
            $('.address_content').hide()
        }
    })
  $(document).on('change', '.location', function(){
      console.log(this.value)
      if (this.value == 'true'){
          $('.address_content').hide()
      } else {
          $('.address_content').show()
      }
  })
</script>
<%= simple_form_for @event, :html => {:id => 'event_form'}  do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= label_tag('type')%> <br/>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default <%= 'active' unless @event.online? %>">
          <%= f.radio_button 'online', 'false', class: 'location', checked: !@event.online?, autocomplete: 'off' %>
          <%= icon_for(:face_to_face, :small)%> Face-to-face
        </label>
        <label class="btn btn-default <%= 'active' if @event.online? %>">
          <%= f.radio_button 'online', 'true', class: 'location', checked: @event.online?, autocomplete: 'off' %>
          <i class="fa fa-desktop" aria-hidden="true" id="online-symbol"></i> Online
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :subtitle %>
      <%= f.text_field :subtitle, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :url, label: 'URL', :class => "required" %>
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :provider, "Event host (organiser)" %>
      <%= f.text_field :provider, :class => 'form-control' %>
    </div>

    <%= render :partial => 'content_providers/partials/add_content_provider',
               :locals => {:f => f,
                           :resource => @event,
                           :label => "Content provider (where the event metadata is obtained from)"} %>

    <%= render :partial => 'common/dropdown',
               :locals => {:field_name => 'node',
                           :resource => @event,
                           :f => f,
                           :options => Node.order(:name).all,
                           :dropdown_toggle_button_name => "Associate with node"} %>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, :rows => "10", :class => 'form-control' %>
    </div>

    <%= render partial: 'common/multiple_input',
               locals: { field_name: 'field',
                         label: 'Fields',
                         resource: @event,
                         f: f,
                         suggestions: raw(TeSS::AutocompleteManager.suggestions_array_for('field').to_json)} %>

    <%= render partial: 'common/multiple_input',
               locals: { field_name: 'category',
                         label: 'Categories',
                         resource: @event,
                         f: f,
                         suggestions: raw(TeSS::AutocompleteManager.suggestions_array_for('category').to_json)} %>

    <%= render partial: 'common/multiple_input',
               locals: { field_name: 'keywords',
                         resource: @event,
                         f: f,
                         suggestions: raw(TeSS::AutocompleteManager.suggestions_array_for('keywords').to_json)} %>

    <div class="form-group">
      <%= f.label :start %>
      <%= f.datetime_select :start, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :end %>
      <%= f.datetime_select :end, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :sponsor %>
      <%= f.text_field :sponsor, :class => 'form-control' %>
    </div>

    <div class="address_content">
        <div class="form-group">
          <%= f.label :venue %>
          <%= f.text_area :venue, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :county %>
          <%= f.text_field :county, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :country %>
          <%= f.text_field :country, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :postcode %>
          <%= f.text_field :postcode, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :latitude %>
          <%= f.text_field :latitude, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :longitude %>
          <%= f.text_field :longitude, :class => 'form-control' %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label 'for_profit' %> <%= icon_for(:for_profit, :small)%>
       <%= f.check_box :for_profit %>
    </div>

    <%= render :partial => 'common/dropdown',
               :locals => {:field_name => 'package',
                           :resource => @event,
                           :f => f,
                           :options => available_packages(@event),
                           :dropdown_toggle_button_name => "Add to package"} %>

    <div class="form-group" id="external-resources">
      <%= f.label :external_resources %>

      <div id="external-resources-list">
        <% @event.external_resources.each_with_index do |external_resource, index| %>
            <%= render partial: 'common/external_resource_form',
                       locals: { form_name: 'event', index: index, external_resource: external_resource } %>
        <% end %>
      </div>

      <a href="#" id="add-external-resource-btn" class="btn btn-info">
        <i class="fa fa-plus"></i> Add external resource
      </a>
    </div>

    <div class="form-group">
      <%= f.submit ( f.object.new_record? ? "Add" : "Update") + " event", :class => 'btn btn-primary' %>
      <%= link_to 'Back', :back, :class=>"btn btn-info" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  :back, :class => 'btn btn-default' %>
    </div>
<% end %>

<div id="external-resource-template" style="display: none">
  <%= render partial: 'common/external_resource_form',
             locals: { form_name: 'event', external_resource: ExternalResource.new } %>
</div>
