<script>
  $(document).ready(function () {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      /*Load map script only once when event tab is selected*/
      if (e.target.id == 'caltab'){
        if (!loadedCalendarScript){
          $.getScript('https://www.gstatic.com/charts/loader.js', function(){drawChart()});
        }
      }
      if (e.target.id == 'maptab') {
        if (!loadedMapScript){
          $.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyCT1w2S_2I49FwJDKHGj9A9sO86Lp9nUdg&callback=initialize");
        }
      }
      reposition_tiles('masonry', 'masonry-brick');
    })
  })

</script>

<%- model_class = Event -%>
<div class="wrapper">
  <% if SOLR_ENABLED %>
      <div id="sidebar">
        <%= render partial: "search/common/facet_sidebar", locals:  { resources: @events_results, resource_type: 'event' } %>
      </div>
  <% end %>

  <div id="content">
    <% if SOLR_ENABLED %>
        <div class="row">
          <%= render partial: "search/common/search_box", locals: { resource_path: events_path } %>
          <button class="btn btn-default" id="sidebar-toggle" type="button" autocomplete="off">
            <i class="fa fa-filter"></i> Filters
          </button>
          <% include_expired = @facet_params.delete('include_expired') %>
          <% if include_expired %>
              <% button_params = params.dup %>
              <% button_params.delete(:include_expired) %>
              <% button_text = "Show" %>
          <% else %>
              <% button_text = "Hide" %>
              <% button_params = params.merge(:include_expired => true) %>
          <% end %>
          <%= link_to button_params, class: 'btn btn-default' do %>
              <i class="fa fa-clock-o"></i> <%= button_text %> past events
          <% end %>
        </div>
        <div class="row">
          <%= render partial: "search/common/sort_by",
                     locals: { resource: @events,
                               extras: [['Earliest', 'early'], ['Latest', 'late']] } %>
          <%= render partial: "search/common/search_info", locals: { resources: @events_results, resource_type: 'event' } %>
          <%= render partial: "search/common/search_filters", locals: { resources: @events_results } %>
        </div>
    <% end %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @events } %>

    <hr>

    <!-- ACTUAL RESULTS LIST -->
    <% unless @events.blank? %>

        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" id="gridtab" href="#home"><i class="fa fa-table"></i> Grid view</a></li>
          <li>
            <a data-toggle="tab" id="maptab" href="#map"><i class="fa fa-globe"></i> Map view</a></li>
          <li>
            <a data-toggle="tab" id="caltab" href="#calendar"><i class="fa fa-calendar"></i> Calendar view</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <ul class="masonry media-grid" style="margin-top: 15px;">
              <% @events.each do |event| %>
                  <%= render event %>
              <% end %>
            </ul>
          </div>
          <div id="map" class="tab-pane fade">
            <div id="map-content">
              <%= render :partial => "events/partials/events_map", :locals => {:events => @events} %>
            </div>
          </div>
          <div id="calendar" class="tab-pane fade">
            <div id="calendar-content">
              <br>
              <p class="h1">Calendar chart feature coming soon</p>
              <!--<img style="width:100%" src="http://blogs.opentext.com/wp-content/uploads/2015/03/calendar-chart-preview.png"/>-->
              <%= render :partial => "events/partials/events_calendar", :locals => { :events => @events} %>
            </div>
          </div>
        </div>

        <!--<div class="row event-grid" style="background-color: #eeeeee;">-->
        <!--&lt;!&ndash;<#%= render :partial => "tab_headings", :locals => {:selected_tab => "grid"} %>&ndash;&gt;-->
        <!--&lt;!&ndash; ACTUAL RESULTS LIST &ndash;&gt;-->
        <!--<#% @events.each do |event| %>-->
        <!--<#%= render event %>-->
        <!--<#% end %>-->
        <!--</div>-->

        <!-- Alternative Map view -->
        <!--<div id="map-content" class="tab-content">-->
        <!--<#%= render :partial => "map_view", :locals => {:events => @events} %>-->
        <!--</div>-->
    <% end %>
  </div>
</div>
