<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>

<!-- SIDEBAR | RESULTS -->
<div class="row">
  <% if SOLR_ENABLED %>
  <!-- SIDEBAR -->
  <div class="col-md-3">
    <%= render :partial=> "search/common/facet_sidebar", :locals=>{:resources=>@events} %>
  </div>

  <!-- RESULTS -->
  <div class="col-md-9">
    <!-- SEARCH BAR -->
    <div class="row">
      <%= render :partial=> "search/common/search_box", :locals=>{:resource_path => events_path} %>
    </div>
    
    <!-- APPLIED FILTERS, NUMBER OF RESULTS, PAGINATION-->
    <div class="row">
      <% include_expired = @facet_params.delete('include_expired') %>
      <%= render :partial => "search/common/search_info", :locals=>{:resource=>@events}  %>
    </div>

    <div class="row">
      <% if include_expired == true %>
          <%= link_to 'Exclude past events', events_path, :class => 'include_expired' %>
      <% else %>
          <%= link_to 'Include past events', events_path(:include_expired => true), :class => 'include_expired'%>
      <% end %>
    </div>

    <div class="row">
      <%= render :partial => "search/common/sort_by", :locals=>{:resource=>@events, :extras => [['Earliest', 'early'],
                                                                                                ['Latest', 'late']]}  %>
    </div>


    <%#= render :partial=> "search/common/pagination_bar", :locals=>{:resources=>@materials} %>
    <hr>
      <% @events = @events.results %>
    <% end %>
    <!-- ACTUAL RESULTS LIST -->
  <div class="grid js-masonry"
       data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 10 }'>
    <div class="grid-sizer"></div>
      <% @events.each do |event| %>
         <div class="grid-item"><%= render event %></div>
      <% end %>    
    </div>
  </div>
</div>
