<div class="wrapper collapsing-wrapper">
<div id="content">

<div class="row">

  <ul class="nav nav-tabs">
    <%= tab('Event', icon_class_for_model('events'), 'home', active: true) %>
    <%= tab('Activity log', icon_class_for_model('activity_logs'), 'activity_log',
            disabled: { check: @event.activities.none?, message: 'No activities recorded' }) %>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">

    
      <div class="row">
        <div class="page-header">
          <% if @event.event_types.any? %>
            <% @event.event_types.each do |t| %>
              <div class="sub-heading"><%= EventTypeDictionary.instance.lookup_value(t, 'title') %></div>
            <% end %>
          <% end %>

<!--          TODO: refactor event type using...-->
          <%#= render :partial => 'events/partials/icon_info' %>
          <h2 class="mt-0">
            <% if @event.has_node? -%>
              <%= image_tag 'elixir/elixir_logo_orange.png',
                            :alt => 'Elixir node event',
                            :title => 'Elixir node event',
                            :style => 'height: 40px;' %>
            <% end -%>

            <% if @event.online? %>
              <i class="icon icon-h2 virtual-event-icon"></i>
            <% else %>
              <i class="icon icon-h2 onsite-event-icon"></i>
            <% end %>

            <%= @event.title %>
            <%= missing_icon(@event, 'large') if current_user and current_user.is_admin? %>
            <%= scrape_status_icon(@event, 'large') if current_user and current_user.is_admin? %>
            <%= suggestion_icon(@event, 'large') if current_user and current_user.is_admin? -%>
          </h2>
          <p><%= @event.subtitle %></p>
<!--          TODO: add css pseudoclass "a.external:after" with the icon-->
          <p><%= link_to @event.url, :target => "_blank",
                         :onclick => "getOutboundLink('#{@event.url}'); return true;" do %>
              <%= @event.url %><i class="icon icon-md arrow-top-right-icon"></i>
            <% end %>

          </p>
        </div>

        <div class="md-col-12">

  <div class="content_action">
    <%= star_button(@event) if user_signed_in? %>
    <%= render partial: 'common/identifiers_dot_org_button', locals: { resource: @event } if TeSS::Config.identifiers_prefix %>
    <% if @event.start && @event.end %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add to calendar <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to google_calendar_export_url(@event), target: '_blank' do %>
              <i class="fa fa-google"></i> Google Calendar
            <% end %>
          </li>
          <li>
            <%= link_to event_path(@event, format: :ics) do %>
              <i class="<%= icon_class_for_model('events') -%>"></i> Save event (.ics file)
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
    <% if !current_user.nil? and policy(@event).update? %>
      <%= link_to 'Clone', clone_event_path(@event), :class => "btn btn-default" %>
      <%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-primary" %>
    <% end %>
    <% if !current_user.nil? and policy(@event).destroy? %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  event_path(@event),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.l inks.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>

        <div class="row">
          <%= google_maps_javascript_api_tag(@event) if @event.show_map? %>

          <!-- Field: description -->
          <% if @event.description.present? %>
            <div class="description">
              <%= render_markdown @event.description %>
            </div>
          <% end %>

          <!-- Field: start and end -->
          <% if @event.start.present? %>
            <p><strong class="text-primary">Start:</strong>
              <%= @event.start.strftime('%A, %d %B %Y @ %H:%M') %></p>
          <% end %>
          <% if @event.end.present? %>
            <p><strong class="text-primary">End:</strong>
              <%= @event.end.strftime('%A, %d %B %Y @ %H:%M') %></p>
          <% end %>

          <!-- Field: duration -->
          <%= display_attribute(@event, :duration) %>

          <!-- Field: timezone -->
          <% if @event.timezone and !@event.timezone.blank? %>
            <p><strong class="text-primary">Timezone:</strong>
              <%= @event.timezone %></p>
          <% end %>


          <!-- Field: address -->
          <!--% unless @event.online? %-->
          <%= display_attribute(@event, :venue) %>
          <%= display_attribute(@event, :city) %>
          <%= display_attribute(@event, :county) %>
          <%= display_attribute(@event, :country) %>
          <%= display_attribute(@event, :postcode) %>
          <!-- % end % -->

          <!-- Field: prerequisites -->
          <% if @event.prerequisites.present? %>
            <strong class="text-primary">Prerequisites:</strong>
            <div>
              <%= render_markdown @event.prerequisites %>
            </div>
          <% end %>

          <!-- Field: learning objectives -->
          <% if @event.learning_objectives.present? %>
            <strong class="text-primary">Learning Objectives:</strong>
            <div>
              <%= render_markdown @event.learning_objectives %>
            </div>
          <% end %>

          <!-- Field: eligibility -->
          <% if @event.eligibility.any? %>
            <strong class="text-primary">Eligibility:</strong>
            <ul>
              <% @event.eligibility.each do |e| %>
                <li><%= EligibilityDictionary.instance.lookup_value(e, 'title') %></li>
              <% end %>
            </ul>
          <% end %>

          <!-- Field: organizer -->
          <%= display_attribute(@event, :organizer) %>

          <!-- Field: contact -->
          <%= display_attribute(@event, :contact) %>

          <!-- Field: host institutions -->
          <%= display_attribute(@event, :host_institutions) { |values| values.join(', ') } %>

          <!-- Field: keywords -->
          <%= display_attribute(@event, :keywords) { |values| values.join(', ') } %>

          <!-- Field: fields -->
          <%= display_attribute(@event, :fields) { |values| values.join(', ') } %>

          <!-- Field: target audience -->
          <% unless @event.target_audience.empty? %>
            <strong class="text-primary">Target audience:</strong>
            <ul>
              <% @event.target_audience.each do |ta| %>
                <li><%= ta %></li>
              <% end %>
            </ul>
          <% end %>

          <!-- Field: capacity -->
          <%= display_attribute(@event, :capacity) %>

          <!-- Field: tech requirements -->
          <% if @event.tech_requirements.present? %>
            <strong class="text-primary">Tech Requirements:</strong>
            <div>
              <%= render_markdown @event.tech_requirements %>
            </div>
          <% end %>

          <!-- Field: recognition -->
          <% if @event.recognition.present? %>
            <p>
              <strong class="text-primary">Credit / Recognition:</strong>
              <%= @event.recognition %>
            </p>
          <% end %>

          <!-- Field: external resources -->
          <% if @event.external_resources.any? %>
            <strong class="text-primary">External resources:</strong>
            <%= render partial: 'common/external_resources_list',
                       locals: { external_resources: @event.external_resources } %>
          <% end %>

          <!-- Field: cost info -->
          <% if @event.cost_basis.present? && CostBasisDictionary.instance.lookup(@event.cost_basis) %>
            <p>
              <strong class="text-primary">Cost Basis:</strong>
              <%= CostBasisDictionary.instance.lookup(@event.cost_basis)[:title] %>
            </p>
          <% end %>

          <% if @event.cost_value.present? %>
            <p>
              <strong class="text-primary">Cost:</strong>
              <%= currency_symbol_by_iso_code @event.cost_currency %>
              <%= @event.cost_value %>
              <% if @event.cost_currency.present? %>
                (<%= @event.cost_currency %>)
              <% end %>
            </p>
          <% end %>

          <!-- Field: material -->
          <% if @event.materials.any? %>
            <div>
              <strong class="text-primary">Related training materials:</strong>
              <ul>
                <% @event.materials.each do |material| %>
                  <li><%= link_to material.title, material %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <!-- uncategorized -->

          <%= display_attribute(@event, :sponsors) { |values| values.join(', ') } %>

          <%= display_attribute(@event, :scientific_topics) { |values| values.map { |x| x.preferred_label }.join(', ') } %>

          <%= display_attribute(@event, :operations) { |values| values.map { |x| x.preferred_label }.join(', ') } %>

          <%= render :partial => 'events/partials/twitter_card', :locals => { :event => @event } %>

          <%= render partial: 'events/report' if policy(@event).view_report? %>

          <% if policy(@event).update? && @event.edit_suggestion %>
            <%= render partial: 'common/approve_term_suggestions',
                       locals: { suggestion: @event.edit_suggestion } %>
          <% end %>

        </div>
      </div>
    </div>

    <div id="activity_log" class="tab-pane fade" data-activity-path="<%= event_activities_path(@event) -%>">
      <%= image_tag('ajax-loader.gif') %>
    </div>

  </div>
</div>
</div>

  <%# SIDEBAR %>
  <div class="collapsing-sidebar" id="sidebar" style="margin-top: 105px;">
    <%= render :partial => "content_providers/partials/content_provider_info",
               :locals => { :content_provider => @event.content_provider } %>
    <%= render partial: "nodes/partials/associated_node_info", locals: { associated_nodes: @event.associated_nodes } %>
    <%= render(partial: 'users/partials/user_info', locals: { user: @event.user }) if current_user.try(:is_admin?) %>
  </div>
</div>
