<script>
    function initMap() {
        var myLatLng = {lat: <%=@event.latitude%>, lng: <%=@event.longitude%>};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            scrollwheel: true,
            zoom: 5
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
            map: map,
            position: myLatLng,
            title: '<%= @event.title %>'
        });
    }

    $(document).ready(function(){
        $.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyCT1w2S_2I49FwJDKHGj9A9sO86Lp9nUdg&callback=initMap")
    })
</script>
<script>
  $(document).ready(function () {
    reposition_tiles('masonry', 'masonry-brick');
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      reposition_tiles('masonry', 'masonry-brick');
    })
  })
</script>
<div class="wrapper collapsing-wrapper">
  <!-- SIDEBAR -->
  <div class="collapsing-sidebar" id="sidebar">
    <%= render :partial => "content_providers/partials/content_provider_info", :locals => {:content_provider => @event.content_provider} %>
    <%= render partial: "nodes/partials/associated_node_info", locals: { associated_nodes: @event.associated_nodes } %>
  </div>
  <div id="content">
    <div class="row">
      <div class="content_action">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    :back, :class => 'btn btn-info'  %>
        <%= link_to event_path(@event, format: :ics), class: "btn btn-info" do %>
            <i class="fa fa-calendar-o"></i> Download as .ics
        <% end %>
        <% if !current_user.nil? and policy(@event).update? %>
            <%= link_to 'Edit', edit_event_path(@event), :class=>"btn btn-primary" %>
        <% end %>
        <% if !current_user.nil? and policy(@event).destroy? %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        event_path(@event),
                        :method => 'delete',
                        :data => { :confirm => t('.confirm', :default => t("helpers.l inks.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger' %>
        <% end %>
        <a href="<%= @event.url %>" target="_blank" class="btn btn-success"><span class="fa fa-external-link"></span> View event</a>
      </div>
    </div>

    <div class="row">
      <ul class="nav nav-tabs">
        <%= tab('Event', icon_class_for_model('events'), 'home', active: true) %>

        <%= tab('Packages', icon_class_for_model('packages'), 'packages',
                disabled: { check: @event.packages.none?, message: 'This event is currently not included in any packages' }) %>

        <%= tab('Activity log', icon_class_for_model('activity_logs'), 'activity_log',
                disabled: { check: @event.activities.none?, message: 'No activities recorded' }) %>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="row">
            <div class="page-header">
              <h2>
                <%= @event.title %>
                <%= conditional_icon_for(:not_scraped_recently,@event) %>
              </h2>
              <p><%= link_to @event.url, @event.url, :class =>'h5', :target => "_blank" %></p>
            </div>

            <%= render :partial => 'events/partials/icon_info' %>


            <div class="col-md-4">
              <% if @event.provider and !@event.provider.blank? %>
                  <p><strong>Provider:</strong>
                    <%= @event.provider %></p>
              <% end %>

              <% if @event.field and !@event.field.empty? %>
                  <p><strong>Field:</strong>
                    <%= @event.field.join(', ')%></p>
              <% end %>


              <% if @event.description and !@event.description.blank? %>
                  <p><strong>Description:</strong>
                    <%= @event.description %></p>
              <% end %>

              <% if @event.category and !@event.category.empty? %>
                  <p><strong>Category:</strong>
                    <%= @event.category.join(', ') %></p>
              <% end %>

              <% if @event.start and !@event.start.blank? %>
                  <p><strong>Start:</strong>
                    <%= @event.start.strftime('%A, %d %B %Y @ %H:%M') %></p>
              <% end %>

              <% if @event.end and !@event.end.blank? %>
                  <p><strong>End:</strong>
                    <%= @event.end.strftime('%A, %d %B %Y @ %H:%M') %></p>
              <% end %>

              <% if @event.sponsor and !@event.sponsor.blank? %>
                  <p><strong>Sponsor:</strong>
                    <%= @event.sponsor %></p>
              <% end %>

              <% unless @event.online? %>
                  <% if @event.venue and !@event.venue.blank? %>
                      <p><strong>Venue:</strong>
                        <%= @event.venue %></p>
                  <% end %>

                  <% if @event.city and !@event.city.blank? %>
                      <p><strong>City:</strong>
                        <%= @event.city %></p>
                  <% end %>

                  <% if @event.county and !@event.county.blank? %>
                      <p><strong>County:</strong>
                        <%= @event.county %></p>
                  <% end %>

                  <% if @event.country and !@event.country.blank? %>
                      <p><strong>Country:</strong>
                        <%= @event.country %></p>
                  <% end %>

                  <% if @event.postcode and !@event.postcode.blank? %>
                      <p><strong>Postcode:</strong>
                        <%= @event.postcode %></p>
                  <% end %>
              <% end %>

              <% if @event.external_resources.any? %>
                  <b>External resources: </b>
                  <%= render partial: 'common/external_resources_list', locals: { external_resources: @event.external_resources } %>
              <% end %>

              <%= render :partial => 'events/partials/event_schemaorg', :locals => {:event => @event} %>

              <!--<%# if @event.latitude and !@event.latitude.blank? %>-->
              <!--<p><strong>Latitude:</strong>
                  <%#= @event.latitude %></p> -->
              <!--<%# end %>-->
              <!--<%# if @event.longitude and !@event.longitude.blank? %>-->
              <!--<p><strong>Longitude:</strong>
                  <%#= @event.longitude %></p> -->
              <!--<%# end %>-->
            </div>
            <% unless @event.online? %>
            <div class="col-md-8">
              <div id="map" class="event-show-map"></div>
            </div>
            <% end %>
          </div>
          <div class="col-md-8">
            <%= link_to event_path(@event, format: :ics), class: "btn btn-info" do %>
                <i class="fa fa-calendar-o"></i> Download as .ics
            <% end %>
          </div>
        </div>
        <div id="packages" class="tab-pane fade">
          <%= render :partial => "packages/packages_list", :locals => {:resource => @event} %>
        </div>
        <div id="activity_log" class="tab-pane fade">
          <%= render :partial => "activities/activity_log", :locals => {:resource => @event} %>
        </div>
      </div>
    </div>
  </div>
</div>
