<script>
  function initMap() {
    var myLatLng = {lat: <%=@event.latitude%>, lng: <%=@event.longitude%>};

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: true,
      zoom: 5
    });

    // Create a marker and set its position.
    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      title: '<%= @event.title %>'
    });
  }

  $(document).ready(function(){
    $.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyCT1w2S_2I49FwJDKHGj9A9sO86Lp9nUdg&callback=initMap")
  })
</script>

<div class="row wrapper">
  <!-- SIDEBAR -->
  <div class="col-md-3 col-xs-3" id="sidebar">
    <%= render :partial => "content_providers/partials/content_provider_info", :locals => {:content_provider => @event.content_provider} %>
  </div>

  <div class="col-md-9 col-xs-9">
    <div class="row" style="padding: 10px 5px 0px 0px;">
      <div class="content_action">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    :back, :class => 'btn btn-info'  %>
        <!--<%#= link_to 'Edit', edit_event_path(@event), :class=>"btn btn-primary" %> --><!-- Forbid editing of events -->

        <button class="btn btn-success"><a target="_blank" href="<%= @event.url %>">View event <span class="fa fa-external-link" aria-hidden="true"></span></a></button>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#home"><i class="<%= icon_class_for_model('events') %>"></i> Event</a>
        </li>
        <li>
          <a data-toggle="tab" href="#activity_log"><i class="<%= icon_class_for_model('activity_logs') %>"></i> Activity log</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="row">
            <div class="page-header">
              <h2><%= @event.title %></h2>
              <p><%= link_to @event.url, @event.url, :class =>'h5', :target => "_blank" %></p>
            </div>
            <div class="col-md-4 col-xs-4">
              <% if @event.provider and !@event.provider.blank? %>
                  <p><strong>Provider:</strong>
                    <%= @event.provider %></p>
              <% end %>

              <% if @event.field and !@event.field.empty? %>
                  <p><strong>Field:</strong>
                    <%= @event.field.join(', ')%></p>
              <% end %>


              <% if @event.description and !@event.description.blank? %>
                  <p><strong>Description:</strong>
                    <%= @event.description %></p>
              <% end %>

              <% if @event.category and !@event.category.empty? %>
                  <p><strong>Category:</strong>
                    <%= @event.category.join(', ') %></p>
              <% end %>

              <% if @event.start and !@event.start.blank? %>
                  <p><strong>Start:</strong>
                    <%= @event.start %></p>
              <% end %>

              <% if @event.end and !@event.end.blank? %>
                  <p><strong>End:</strong>
                    <%= @event.end %></p>
              <% end %>

              <% if @event.sponsor and !@event.sponsor.blank? %>
                  <p><strong>Sponsor:</strong>
                    <%= @event.sponsor %></p>
              <% end %>

              <% if @event.venue and !@event.venue.blank? %>
                  <p><strong>Venue:</strong>
                    <%= @event.venue %></p>
              <% end %>

              <% if @event.city and !@event.city.blank? %>
                  <p><strong>City:</strong>
                    <%= @event.city %></p>
              <% end %>

              <% if @event.county and !@event.county.blank? %>
                  <p><strong>County:</strong>
                    <%= @event.county %></p>
              <% end %>

              <% if @event.country and !@event.country.blank? %>
                  <p><strong>Country:</strong>
                    <%= @event.country %></p>
              <% end %>

              <% if @event.postcode and !@event.postcode.blank? %>
                  <p><strong>Postcode:</strong>
                    <%= @event.postcode %></p>
              <% end %>

              <!--<%# if @event.latitude and !@event.latitude.blank? %>-->
              <!--<p><strong>Latitude:</strong>
                  <%#= @event.latitude %></p> -->
              <!--<%# end %>-->
              <!--<%# if @event.longitude and !@event.longitude.blank? %>-->
              <!--<p><strong>Longitude:</strong>
                  <%#= @event.longitude %></p> -->
              <!--<%# end %>-->
            </div>
            <div class="col-md-8 col-xs-8">
              <div id="map" class="event-show-map"></div>
            </div>
          </div>
        </div>
        <div id="activity_log" class="tab-pane fade">
          <%= render :partial => "activities/activity_log", :locals => {:resource => @event} %>
        </div>
      </div>
    </div>
  </div>
</div>

