<div class="wrapper collapsing-wrapper">
  <%# SIDEBAR %>
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'content_providers/partials/content_provider_info', locals: { content_provider: @event.content_provider } %>
    <%= render partial: "nodes/partials/associated_node_info", locals: { associated_nodes: @event.associated_nodes } %>
    <%= render(partial: 'users/partials/user_info', locals: { user: @event.user }) if current_user.try(:is_admin?) %>
  </div>

  <div id="content">
    <div id="home" class="my-2">
      <div class="page-header">
        <%= broken_link_notice(@event) if @event.failing? %>

        <% if @event.event_types.any? %>
          <% @event.event_types.each do |t| %>
            <div class="sub-heading"><%= EventTypeDictionary.instance.lookup_value(t, 'title') %></div>
          <% end %>
        <% end %>

        <h2 class="mt-0">
          <% if @event.has_node? -%>
            <%= elixir_node_icon %>
          <% end -%>
          <% if current_user&.is_admin? %>
            <%= missing_icon(@event, 'large') %>
            <%= scrape_status_icon(@event, 'large') %>
            <%= suggestion_icon(@event, 'large') -%>
          <% end %>

          <i class="icon icon-h2 <%= @event.presence %>-event-icon" ></i>

          <%= @event.title %>
        </h2>
        <p><%= @event.subtitle %></p>
      </div>

      <div class="content-actions">
        <div class="content-viewer-actions">
          <%= external_link_button 'View event', @event.url, track: @event %>
          <% if @event.persisted? %>
            <%= render partial: 'events/add_to_calendar_button', locals: { event: @event } if @event.start && @event.end %>
            <%= render partial: 'common/identifiers_dot_org_button', locals: { resource: @event } if TeSS::Config.identifiers_prefix %>
            <%= star_button(@event) if user_signed_in? %>
          <% end %>
        </div>
        <% if @event.persisted? %>
          <div class="content-manager-actions">
            <% if policy(@event).update? %>
              <%= link_to 'Clone', clone_event_path(@event), class: 'btn btn-default' %>
              <%= edit_button(@event) %>
            <% end %>
            <%= delete_button(@event) if policy(@event).destroy? %>
          </div>
        <% end %>
      </div>

      <div class="my-3">
        <!-- Field: start and end -->
        <p class="date no-spacing">
          <strong class="text-primary"> Date: </strong>
          <%= neatly_printed_date_range(@event.start, @event.end) %>
        </p>
        <%= display_attribute(@event, :timezone) %>
        <%= display_attribute(@event, :duration) %>

        <!-- Field: description -->
        <div class="description">
          <%= google_maps_javascript_api_tag(@event) if @event.show_map? %>
          <% if @event.description.present? %>
            <%= render_markdown @event.description %>
          <% else %>
            <span class="muted">No description provided</span>
          <% end %>
        </div>
      </div>

      <div>
        <%= render partial: 'common/extra_metadata', locals: { resource: @event } %>

        <!-- Field: external resources -->
        <% if @event.external_resources.any? %>
          <strong class="text-primary">External resources:</strong>
          <%= render partial: 'common/external_resources_list',
                     locals: { external_resources: @event.external_resources } %>
        <% end %>

        <!-- Field: material -->
        <% if @event.materials.any? %>
          <div>
            <strong class="text-primary">Related training materials: </strong>
            <ul>
              <% @event.materials.each do |material| %>
                <li><%= link_to material.title, material %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= render partial: 'events/partials/twitter_card', locals: { event: @event } %>

        <%= render partial: 'events/report' if policy(@event).view_report? && @event.persisted? %>

        <% if policy(@event).update? && @event.edit_suggestion %>
          <%= render partial: 'common/approve_term_suggestions',
                     locals: { suggestion: @event.edit_suggestion } %>
        <% end %>

      </div>
    </div>

    <%= render partial: 'activities/activity_log_button', locals: { resource: @event } if @event.persisted? %>
  </div>
</div>
