<%# collection  %>
<h4 class="nav-heading">Collection</h4>
<div class="nav-block">
  <p>
    <%= image_tag(collection.image.url, class: 'medium-avatar') %>
  </p>
  <h5>
    <%= title_with_privacy(collection) %>
  </h5>
  <% unless collection.description.blank? %>
    <p class="minimise">
      <%= render_markdown collection.description  %>
    </p>
  <% end %>
</div>
<h4 class="nav-heading">Keywords</h4>
<div class="nav-block">
  <% if collection.keywords.any? %>
    <%= collection.keywords.join(', ') %>
  <% else %>
    <span class="empty">None</span>
  <% end %>
</div>
<h4 class="nav-heading">Owner</h4>
<div class="nav-block">
  <%= link_to collection.user.name, collection.user %>
</div>
<% if collection.collaborators.any? %>
  <h4 class="nav-heading"><%= Collection.human_attribute_name(:collaborators) %></h4>
  <% collection.collaborators.each do |collaborator| %>
    <div class="nav-block">
      <%= link_to collaborator.name, collaborator %>
    </div>
  <% end %>
<% end %>
