<div id="main-container" class="container">
  <div class="breadcrumbs">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
        <a itemprop='name' href="/">Home</a>
      </li>
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem"
      class="active">
        <span itemprop='name'>About</span>
      </li>
    </ol>
  </div>

    <div class="col-md-9">
      <div class="module">
        <div style="padding-right: 10px;">
          <a name="about"></a>
          <h1 style="text-align:center">What is TeSS?</h1>

            <p>TeSS is <a href="https://elixir-europe.org" target="_blank">ELIXIR</a>’s Training e-Support System, or training portal. The portal was originally developed by <a href="https://elixir-europe.org" target="_blank">ELIXIR-UK</a>, to disseminate and discover training resources, primarily by aggregating information from ELIXIR Nodes, but also from various 3rd-party content providers; ongoing development is supported by ELIXIR-EXCELERATE. This short video gives more information about ELIXIR Training and the role of TeSS.</p>
              <div class="video_frame">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/oAD8FdGf8tI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            <p>
            TeSS automatically pulls in descriptions and links to a wide range of training resources: workshops, courses, events, tutorials, videos, e-learning materials, Powerpoint presentations - anything that can be used to enhance an individual’s understanding of a life science topic. The resources are displayed in an easy-to-use, searchable and subscribable interface. We provide an API and widgets to allow communities to customise and share relevant training resources and events from their own sites. 
            </p>
          <a name="team"></a>
          <h2 style="text-align:center">Have your training included</h2>


          <h3>Automated registration</h3>
          <p>
            The TeSS development team write programs to <a href="#automatic">automatically extract</a> training event and material information from your website. This is much easier if you have <a href="#structured_data">structured data</a> on your website. Please use this form to give us information about your website; we can then discuss automatic inclusion of your resources in TeSS.  
          </p>

          <%= render :partial => "common/contact_form"%>


          <h3>Manual registration</h3>
          <p>
          If you do not wish to have an automatic feed of your resources pulled into TeSS, you can sign up for an account and register your events and materials manually.  
          </p>
          <p><b>Please note: content in TeSS must abide by our content policy guidelines. We reserve the right to remove any resources from TeSS.
          </b></p>

          <h2> Share events with your community</h2>
          TeSS allows you to share events and training resources with your community by using our easy-to-install and -configure widgets, or by using our API. 
          <h3>Widgets</h3>
          <p>Our widgets are chunks of javascript code that can be copied into websites to render a list of events from TeSS. There are several widget styles to choose from, which can be configured to display only events that are interesting to your community (workshops in your country, meetings about a given scientific topic, etc.). </p>


        <h4>
            Setting up a widget is simple
        </h4>
        
          <div>
            <h3>API</h3>
                  <a name="api"> </a>
            <span style="float:right">
            <a href="https://app.swaggerhub.com/api/njall/TeSS/1.0.0/">
              <%= image_tag 'swagger.png', size: "50x50"%>
            </a>
            </span>
            <span>
              <p>TeSS has a fully functioning JSON-API. Information about request parameters and return objects can
              be found in our <a href="https://app.swaggerhub.com/api/njall/TeSS/1.0.0/">
                Swagger Hub Documentation</a>
              </p>
              <p> As a rule of thumb - You can add .json to the end of most pages to retrieve the data in a common exchange format</p>
            </span>
          </div>






          <h5>Current Members</h5>
          <ul>
            <li>Niall Beard (TeSS manager, University of Manchester)
            </li>
            <li>Milo Thurston (TeSS developer, Oxford e-Research Centre)
            </li>
            <li>Finn Bacall (TeSS developer, University of Manchester)
            </li>
            <li>Terri Attwood (TeSS co-investigator, University of Manchester)
            </li>
            <li>Carole Goble (TeSS co-investigator, University of Manchester)
            </li>
            <li>Susanna-Assunta Sansone (TeSS co-investigator, University of Oxford)
            </li>
          </ul>
          <h5>Former Members</h5>
          <ul>
              <li>Aleksandra Nenadic (former TeSS manager, University of Manchester)
              </li>
          </ul>

          <a name="contact"></a>
          <h2>Contact us</h2>

          <p>
            If you have any queries about TeSS, discovered any bugs, or have any suggestions please email
            <a href="mailto:<%= TeSS::Config.contact_email -%>">TeSS Support</a>
            or <a href="mailto:niall.beard@manchester.ac.uk">Niall Beard</a> and we'll get back to you as soon as possible.
          </p>

          <a name="howtoadd"> </a>
          <h2>How to add your resources</h2>

          <p>
          TeSS sources the majority of its training materials and events through aggregation. We do this by creating
            scripts that extract the metadata about resources from websites. These are ran each night to keep the
            resource information up to date.
          </p>
          <p>
            If you have a website with <b>less than 3</b> training materials or events and wish to add them to TeSS,
            we recommend you add them manually through the <%= link_to 'new material form', new_material_path %> or the
            <%= link_to 'new event form', new_event_path %>
          </p>
            <p>
            If you have a website with <b>more than 3</b> training materials or events and wish to add them to TeSS,
            we can create a script to aggregate from your site. There are several techniques we utilize depending on your
            websites features.
           <p>
              Please <b>contact our <a href="mailto:<%= TeSS::Config.contact_email -%>">help desk</a></b> and tell us which
              format your data is in. If your site does not conform to one of the below formats, please see the <b>schema.org</b> item.
           </p>

          </p>

          <ul>
            <li><p>
              <b>API</b>
              - An API is a programmatic interface. If you have an API for your website we will write a client to interface with it.
              This is our preferred method, though we ask you to keep us informed if there are any API changes
            </p></li>
            <li><p><b>Schema.org</b>
            - schema.org produce schemas to structure data online for search engines to read.
            schema.org is becoming more prevalent and we recommend this option if you do not have an API or any
            other option readily available for us.
              <p>
              Details of how to implement schema.org for
              <a href="https://docs.google.com/document/d/12O8gsOuH2qHKpis6vTHxXExraNH5XZEnoilwNgWWgaQ">Events</a>
              and
              <a href="https://docs.google.com/document/d/1HG2fEjCoDUE4tn1XZ_ZIeWLEFXnI3YtS_FRIIFIbv-s">Materials</a>
              have been written by the <a href="http://bioschemas.org/">Bioschemas group</a>. More information and help
              can be given by contacting our <a href="mailto:<%= TeSS::Config.contact_email -%>">help desk</a>.
              </p>
              </p>
            </li>
            <li><p><b>RSS Feed</b>
              - An RSS feed is a type of news format. Many sites have RSS feeds which list the recent posts on a site
              in a standard format. We can write a script to parse this.
            </p></li>
            <li><p><b>ICS</b> <em>(Events only)</em>
              - An ICS is a calendar feed. If you use Google calendars or a calendar widget on your website you likely have an
              ICS file which contains the events metadata for the calendar to render. We can write a script to parse this.
              </p></li>
            <li><p><b>Git Repository</b>
              - A git repository is a directory containing files that can be collaboratively edited. If you are using GitHub (or similar)
            to develop your training resources and/or use GitHub.io (or similar) to render them, we can write a script
              that clones the repository and extracts resource information. We may ask you to create a metadata file in
              YAML format to help us extract the metadata.
            </p></li>
            <li><p><b>SOLR server (or similar)</b>
              - A solr server is a search engine that many sites use for their internal search functionality. If you have a SOLR
              server that is publicly accessible, we can write a script to interface with it.
            </p></li>
            <li><p><b>Other</b>
              - If you have training metadata in another structured format such as an XML or JSON dump, a CSV file, a YAML file,
              or any other format, we would be happy to write a script to parse it.
            </p></li>
          </ul>




          <a name="faq"> </a>

          <h2>FAQ</h2>


          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Is TeSS a repository of training materials and events?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    No - TeSS is a repository of <b>metadata</b> for training materials and events (i.e. a
                    <b>registry</b> of training materials and events).
                    TeSS is an aggregator of metadata of ELIXIR-relevant training information and resources, harvested
                    from individual ELIXIR nodes and from 3<sup>rd</sup>-party content providers. It does not store
                    original
                    training resources, just the metadata and links to them.
                  </p>

                  <p>
                    TeSS does not store original
                    training resources itself; rather, it stores metadata of and links to original training resources,
                    and also enables users to create their own
                    <a href="/workflows">workflows</a> of (linked) materials to suit their needs.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    What is the main difference between the TeSS and GOBLET's Training Portal?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    TeSS harvests and aggregates training metadata from ELIXIR nodes and from 3<sup>rd</sup>-party
                    content
                    providers,
                    and filters and displays that information according to different ‘views’ (e.g., ELIXIR overview
                    versus
                    node-specific versus general, etc.) - it does not store the training resources themselves (i.e. it
                    is not a repository - it is a registry).
                  </p>

                  <p>
                    The GOBLET Training Portal acts a repository of materials and courses, and provides a catalogue of
                    trainers
                    and course organisers. The primary focus of TeSS is on ELIXIR resources and nodes; the principal
                    focus
                    of GOBLET
                    is on the training resources and events of its worldwide members.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    How do I add a content provider?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Registered users can add a content providers from the <a href="/content_providers">content
                    providers page</a> page, by clicking the 'Add content provider' button. In the form provided,
                    write a short description, upload the provider's logo, and provide a link to their website.
                    Typically, this task will be performed by an admin rather than a regular user.

                  <p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-2">
                    How do I add training materials or events?
                  </a>
                </h4>
              </div>
              <div id="collapseFour-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour-2">
                <div class="panel-body">
                  <p>
                    You cannot upload training materials and events directly to TeSS (to do this, we encourage you to
                    use
                    3<sup>rd</sup>-party repositories, such as GOBLET).
                  </p>

                  <p>
                    Registered users of TeSS can, however, add links
                    to training materials manually from the <a href="/materials">training materials page</a>, by
                    clicking
                    the 'Add training
                    material' button. In the form provided, simply complete the various fields, add a
                    link to the relevant resources and, where appropriate, attribute the content to a particular
                    provider.
                    By doing this, you effectively create what is termed a ‘training material’ in TeSS; this does not
                    contain the actual material,
                    but links to it on the content provider’s website or portal.
                  </p>

                  <p>
                    Alternatively, as mentioned above, training material and related information and metadata can be
                    ingested automatically using a content provider's API (if such exists), or by contacting the TeSS
                    development team to develop a suitable website scraper.
                  </p>

                  <p>
                    We disallow manual addition of events to TeSS - you should either register your event with the
                    <a href="http://iann.pro/" target="_blank">iAnn event dissemination system</a> or contact the TeSS
                    team to arrange inclusion of your training events automatically via your API or a website scraper.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                    What is a training workflow?
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    In TeSS, training workflows are essentially navigational tools that guide users, step-by-step,
                    through specific types of data analysis (e.g., protein sequence analysis, protein structure
                    analysis,
                    homology modelling, MS-based metabolomic analysis …), highlighting relevant tutorials, lessons,
                    software tools, databases, and so on, relevant to each step of the analysis pipeline.
                    From the available resources, users may select those of particular interest and assemble them into
                    their own customised training packages.
                  </p>

                  <p>
                    Users may navigate workflows in whatever way they wish, whether step-by-step according to the
                    predefined workflow, or skipping to steps that are more relevant to their training needs.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                    How do I create a training workflow and add training information to it?
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    <a href="/workflows">Creating workflows</a> is still in a prototyping stage – we are currently
                    working
                    on a graphical
                    tool for creating and linking individual workflow steps.
                  </p>

                  <p>
                    Some example workflows are illustrated on the <a href="/workflows">workflows</a> page.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <a name="ack"> </a>

          <h2>Acknowledgements</h2>

          <h3>Funders, groups and people</h3>

          <p>
            TeSS is funded by:
          <ul>
            <li>ELIXIR (<a href="http://www.elixir-europe.org/excelerate" target="_blank">ELIXIR-EXCELERATE grant</a> by the European Commission within the Research Infrastructures programme of Horizon 2020, grant agreement number 676559)
            </li>
            <li>
              BBSRC UK (<a href="http://www.bbsrc.ac.uk/research/grants/grants/AwardDetails.aspx?FundingReference=BB/L005050/1" target="_blank">Delivering ELIXIR-UK grant</a>, grant agreement number BB/L005050/1)
            </li>
          </ul>
          </p>
          <p>
            The TeSS team would like to acknowledge the help of a number of groups and individuals and thank them for
            useful discussions, feedback and help while developing TeSS - to name but a few:
          <ul>
            <li>ELIXIR technical staff and coordinators from the Hub, in particular Rafael Jimenez, Martin Cook and
              Premysl Velek
            </li>
            <li>Training coordinators from ELIXIR-NL (Celia van Gelder) and ELIXIR-CH (Patricia Pelagi)</li>
            <li>Structural bioinformatics group (lead by Chistine Orengo and Cath Brooksbank)</li>
          </ul>
          </p>

          <a name="software"> </a>

          <h3>Image credits</h3>

          <p>
          <ul>
            <li>
              <a href="https://commons.wikimedia.org/wiki/File%3AExome_Sequencing_workflow_1b.png">Exome Sequencing
                workflow</a>, by Sarah Kusala [licenced under
              <a href="https://creativecommons.org/licenses/by/3.0/deed.en">Creative Commons Attribution 3.0 Unported
                (CC BY 3.0)</a>]
            </li>
            <li>
              <a href="https://www.flickr.com/photos/abee5/8314929977">Books HD</a>, by Abhi Sharma [licenced under
              <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0 Generic (CC BY
                2.0)</a>]
            </li>
            <li>
              <a href="https://commons.wikimedia.org/wiki/File:Packaging_Hager.JPG">Packaging Hager</a>, by Hager Group
              [licenced under
              <a href="https://commons.wikimedia.org/wiki/Commons:Licensing">Wikipedia Commons:Licensing</a>]
            </li>
            <li>
              <a href="https://www.flickr.com/photos/pinomoscato/3910203886">University of Manchester - Old and New</a>,
              by Giuseppe Moscato [licenced under
              <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons
                Attribution-NonCommercial-ShareAlike 2.0 Generic (CC BY-NC-SA 2.0)</a>]
            </li>
          </ul>
          Other images used on the site are (c) ELIXIR.
          </p>

          <h2>Software</h2>

          <p>
            TeSS is populated either automatically, by scraping training information from content providers using
            special scraper scripts which add links to training resources to TeSS, or by
            adding links to training resources manually by users.
          </p>

          <p>
            Hence, TeSS consists of the portal software, implemented using the Ruby on Rails framework, and the
            scraping/aggregation scripts written in Ruby. Both the
            <a href="https://github.com/ElixirTeSS/TeSS">TeSS portal source code</a> and the
            <a href="https://github.com/ElixirTeSS/TeSS_scrapers">scraping/aggregation scripts</a> are open source,
            licensed under the <a href="https://opensource.org/licenses/BSD-3-Clause">BSD 3-clause license</a>, and can
            be found at GitHub.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
