<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "<%= TeSS::Config.site['title_short'] -%>",
  "alternateName": "<%= TeSS::Config.site['title'] -%>",
  "url": "<%= root_url %>",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "<%= search_url(q: 'QUERY').sub('QUERY', '{search_term_string}') -%>",
    "query-input": "required name=search_term_string"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "<%= root_url -%>",
  "logo": "<%= image_url TeSS::Config.site['logo'] -%>"
}
</script>

<section>
  <%# Welcome text %>
  <div class="welcome-text">
    <h1 class="module-heading"><%== raw t 'home.welcome' %></h1>
    <p class="font-size-lg"><%== raw t 'home.subtitle' %></p>
  </div>

  <%# Big search box %>
  <div class="searchbox">
    <%= form_tag search_path, method: :get, role: 'search' do %>
      <div class="searchbox-wrapper">
        <input type="text" class="searchbox-field" name="q"
               placeholder="Search <%= TeSS::Config.site['title_short'] %>..." autofocus="autofocus">
        <button type="submit" class="searchbox-btn">
          <i class="icon icon-h3 search-icon"></i>
        </button>
      </div>
    <% end %>
  </div>
</section>

<section>
  <h2 class="text-center">Browse the catalogue</h2>

  <%# Feature buttons %>
  <ul class="catalogue">
    <% ['events', 'materials', 'workflows'].each do |feature| %>
      <% if TeSS::Config.feature[feature] == true %>
        <li>
          <a class="link-overlay" href="<%= polymorphic_path(feature) %>">
            <div>
              <%= image_tag(asset_path("modern/icons/#{feature}-icon.svg"), alt: feature.titleize) %>
              <h3><%= feature.titleize %></h3>
            </div>

          <p><%== raw t "home.#{feature}_message" %></p>

            <span>
              <span class="pseudolink">
                Start browsing
              </span>&nbsp;<i class="icon icon-sm arrow-right-icon"></i>
            </span>

          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>


<% if TeSS::Config.feature['providers'] == true %>
  <section>
    <h2 class="text-center">Providers</h2>

    <div class="row">
      <div class="col-md-12">
        <div class="carousel slide multi-item-carousel" id="providers-carousel">
          <div class="carousel-inner">

            <div class="item active">
              <div class="col-xs-4">
                <a href="#">
                  <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/062/original/Ebi_official_logo.png?1653913959" class="img-responsive">
                </a>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-4">
                <a href="#">
                  <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/094/original/galaxyproject.png?1530281075" class="img-responsive">
                </a>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-4">
                <a href="#">
                  <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/050/original/38675_web.jpg?1476092978" class="img-responsive">
                </a>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-4">
                <a href="#">
                  <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/062/original/Ebi_official_logo.png?1653913959" class="img-responsive">
                </a>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-4">
                <a href="#">
                  <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/094/original/galaxyproject.png?1530281075" class="img-responsive">
                </a>
              </div>
            </div>

            <div class="item">
              <div class="col-xs-4">
                <a href="#">
                  <img src="https://tess.elixir-europe.org/system/content_providers/images/000/000/050/original/38675_web.jpg?1476092978" class="img-responsive">
                </a>
              </div>
            </div>

          </div>
          <a class="left carousel-control" href="#providers-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#providers-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>

    <div class="text-center font-size-lg">
      <p>Want to become one?</p>
      <p>Add your institution’s training to the portal at no cost</p>
      <p><button class="btn-primary btn">Contribute</button></p>
<!--      TODO: link to the section of the About page-->
    </div>
  </section>
<% end %>

<section>
  <h2 class="text-center">Frequently asked questions</h2>
  <dl class="faq">
    <div class="definition">
      <dt>
        <h3><div class="expand" onclick="toggleDefinition(this)">+</div>Who can register content in TeSS?</h3>
      </dt>
      <dd style="display: none;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio excepturi illum labore, laborum nemo nobis quisquam? Assumenda ducimus facilis magnam placeat, quidem repellat tempora totam ullam. Illo, magnam, quibusdam.</dd>
    </div>

    <div class="definition">
      <dt>
        <h3><div class="expand" onclick="toggleDefinition(this)">+</div>How do I register content in TeSS?</h3>
      </dt>
      <dd style="display: none;">
        <p>You can register content in TeSS automatically or manually. </p>
        <p>To add content manually, you will need to log in and fill in the registration form for either <a href="#">materials</a> or <a href="#">events</a>.</p>
        <p>To add content manually, you will need to log in and fill in the registration form for either materials or events.</p>
        <ol>
          <li>To have more than three resources</li>
          <li>To have structured data</li>
          <li>To share resources relevant to the life sciences</li>
        </ol>
        <p>If you fulfil these three conditions, you can contact us to set up automation. If you are a developer, read our specification page for structured data prerequisites. </p>
      </dd>
    </div>

    <div class="definition">
      <dt>
        <h3><div class="expand" onclick="toggleDefinition(this)">+</div>Why register content in TeSS?</h3>
      </dt>
      <dd style="display: none;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur dicta facere inventore magni nostrum reiciendis soluta veniam veritatis voluptates. Autem commodi consequatur doloremque et eveniet facere laboriosam magni recusandae.</dd>
    </div>

    <div class="definition">
      <dt>
        <h3><div class="expand" onclick="toggleDefinition(this)">+</div>Can I display TeSS content on my organisation's website?</h3>
      </dt>
      <dd style="display: none;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur dolorem doloremque dolorum eligendi, excepturi quos ratione. Accusamus adipisci amet, architecto eos esse eveniet expedita incidunt, magnam numquam sequi vel.</dd>
    </div>

    <div class="definition">
      <dt>
        <h3><div class="expand" onclick="toggleDefinition(this)">+</div>Can I subscribe to updates?</h3>
      </dt>
      <dd style="display: none;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi delectus doloremque enim ex, facilis harum illum inventore laboriosam minima neque odit officia qui quia quidem reprehenderit, sint veniam voluptates!</dd>
    </div>
  </dl>
</section>

<ul class="featureblocks">
    <li>
      <%= image_tag(asset_path("modern/icons/nonprofit-icon.svg")) %>
      <h4 class="text-primary"><%== raw t 'home.nonprofit_title' %></h4>
      <p><%== raw t 'home.nonprofit_description' %></p>
    </li>
    <li>
      <%= image_tag(asset_path("modern/icons/community-icon.svg")) %>
      <h4 class="text-primary"><%== raw t 'home.expert_title' %></h4>
      <p><%== raw t 'home.expert_description' %></p>
    </li>
    <li>
      <%= image_tag(asset_path("modern/icons/sustainable-icon.svg")) %>
      <h4 class="text-primary"><%== raw t 'home.sustainable_title' %></h4>
      <p><%== raw t 'home.sustainable_description' %></p>
    </li>
    <li>
      <%= image_tag(asset_path("modern/icons/microscope-icon.svg")) %>
      <h4 class="text-primary"><%== raw t 'home.ls_title' %></h4>
      <p><%== raw t 'home.ls_description' %></p>
    </li>
</ul>