<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "<%= TeSS::Config.site['title_short'] -%>",
  "alternateName": "<%= TeSS::Config.site['title'] -%>",
  "url": "<%= root_url %>",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "<%= search_url(q: 'QUERY').sub('QUERY', '{search_term_string}') -%>",
    "query-input": "required name=search_term_string"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "<%= root_url -%>",
  "logo": "<%= image_url TeSS::Config.site['logo'] -%>"
}
</script>


<section>
  <%# Welcome text %>
  <div class="welcome-text">
    <h3 class="module-heading"><%== t 'home.welcome' %></h3>
    <br>
    <h2 class="module-heading"><%== t 'home.subtitle' %></h2>
  </div>

  <%# Big search box %>
  <div class="searchbox">
    <%= form_tag search_path, method: :get, role: 'search' do %>
      <div class="searchbox-wrapper">
        <input type="text" class="searchbox-field" name="q"
               placeholder="Search <%= TeSS::Config.site['title_short'] %>..." autofocus="autofocus">
        <button type="submit" class="searchbox-btn">
          <i class="icon icon-h3 search-icon"></i>
        </button>
      </div>
    <% end %>
  </div>
</section>

<%= render partial: 'static/home/catalogue_blocks' if TeSS::Config.site.dig('home_page', 'catalogue_blocks') %>

<%= render partial: 'static/home/provider_carousel' if TeSS::Config.site.dig('home_page', 'provider_carousel') %>

<%= render partial: 'static/home/faq' if TeSS::Config.site.dig('home_page', 'faq')&.any? %>

<%= render partial: 'static/home/promo_blocks' if TeSS::Config.site.dig('home_page', 'promo_blocks') %>
