<%= flash_messages %>

  <div class="homepage">
    <div class="welcome-text">
      <h2 class="module-heading" style="margin-top: 5px;">Welcome to TeSS: ELIXIR's Training Portal</h2>

      <p>
        Browsing, discovering and organising life sciences training
        resources, aggregated from ELIXIR nodes and 3<sup>rd</sup>-party providers.
      </p>
    </div>
    <div class="row media-grid" style="background-color: #D8D8D8;">
      <div class="searchbox">
        <div id="sb-search">
          <%= form_tag search_path, :method => :get, :class => "navbar-form", :role => "search" do %>
              <div class="form-group">
                <input type="text" class="form-control" style="width: 440px; font-size: 18px; padding: 20px;" name='q' placeholder="Search training...">
              </div>
              <button type="submit" class="btn btn-default" style="font-size: 20px;">
                <i class="fa fa-search" style="font-size: 18px;"></i></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div id="main-container" class="container">
  <ul class="featureblocks">
    <li>
      <h2><%= link_to events_path do %>
            <i class="<%= icon_class_for_model('events') %>"></i> Events
        <% end %>
      </h2>
      <%= link_to events_path do %>
          <!--<img src=" https://farm9.static.flickr.com/8724/16934585415_bf0892d5d6.jpg" width="100%" alt="Events" class="effect2">-->
          <!--http://www.elixir-europe.org/sites/default/files/images/ELIXIR_training_newbanner.jpg-->
          <img src="http://www.elixir-europe.org/sites/default/files/images/ELIXIR_training_newbanner.jpg" width="100%" alt="Events" class="effect2">
      <% end %>

      <p>Discover the latest training events and news from ELIXIR nodes and 3<sup>rd</sup>-party providers.</p>
    </li>
    <li>
      <h2><%= link_to materials_path do %>
            <i class="<%= icon_class_for_model('materials') %>"></i> Materials
        <% end %>
      </h2>
      <%= link_to materials_path do %>
          <!--"Books HD" by Abhi Sharma-->
          <!--https://www.flickr.com/photos/abee5/8314929977-->
          <!--http://cdn.playbuzz.com/cdn/cf91bf25-c77c-451c-852b-7e0fecbfaa11/e630ffac-293c-409d-904b-1439faf9c40f.jpg-->
          <!--https://creativecommons.org/licenses/by/2.0/-->
          <img src="http://cdn.playbuzz.com/cdn/cf91bf25-c77c-451c-852b-7e0fecbfaa11/e630ffac-293c-409d-904b-1439faf9c40f.jpg" width="100%" alt="Materials" class="effect2">
      <% end %>

      <p>Browse the catalogue of training materials offered by ELIXIR nodes and 3<sup>rd</sup>-party providers.</p>
    </li>
    <li>
      <h2><%= link_to packages_path do %>
            <i class="<%= icon_class_for_model('packages') %>"></i> Packages
        <% end %>
      </h2>
      <%= link_to packages_path do %>
          <!--https://commons.wikimedia.org/wiki/File:Packaging_Hager.JPG-->
          <!--https://commons.wikimedia.org/wiki/Commons:Licensing -->
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Packaging_Hager.JPG/1024px-Packaging_Hager.JPG" width="100%" alt="Packages" class="effect2">
      <% end %>

      <p>Create training packages by grouping resources that address your particular training topic.</p>
    </li>
    <li>
      <h2><%= link_to workflows_path do %>
            <i class="<%= icon_class_for_model('workflows') %>"></i> Workflows
        <% end %>
      </h2>
      <%= link_to workflows_path do %>
          <!--https://commons.wikimedia.org/wiki/File%3AExome_Sequencing_workflow_1b.png-->
          <!--By SarahKusala (Own work) [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons-->
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Exome_Sequencing_workflow_1b.png" width="100%" alt="Workflows" class="effect2">
          <!--https://www.flickr.com/photos/mesq/3576153506/in/photolist-6s1HR5-2SCkF7-3eaugB-4fdeVH-5Szvhz-sSHaq-72ChjN-dBPpJm-8nXUr2-48TiMX-81xyc6-3VG7QM-Nw68s-bnqiZt-rt5Q1d-9hCW9C-5VXMBg-6RzNzE-5vtR11-bjDTgm-bnqj2z-dtweGi-7JfKui-6RQhCQ-7QDsL7-bmyFt-bmXL1-BXnAh-4rNBQP-8mmtvL-7tNKWe-2SCkBQ-o8DrS-3bp9cw-7P2nZC-4uUE4h-9nAZB9-b3Rc3e-532PnV-4jdxfn-532PkM-4rX4kb-g8LEA-5375ud-9pgJHH-eifuTP-pvwAHt-8Xb6GW-8iaDCk-qdF1z3-->
          <!--<img src="https://www.docuware.com/sites/default/files/08_iStock_000013810623Large.jpg" width="100%" alt="Workflows" class="effect2">-->
      <% end %>

      <p>Create training workflows to visualise learning steps and link to resources specific to your research and
        training needs.</p>
    </li>
    <li class="noborder">
      <h2><%= link_to content_providers_path do %>
            <i class="<%= icon_class_for_model('content_providers') %>"></i> Providers
        <% end %>
      </h2>
      <%= link_to content_providers_path do %>
          <img src="https://c2.staticflickr.com/8/7119/7422069312_8c7664ba26_b.jpg" width="100%" alt="Providers" class="effect2">
          <!--<img src="https://c2.staticflickr.com/2/1004/1234601868_abd69bd137_b.jpg" width="100%" alt="Providers" class="effect2">-->
      <% end %>

      <p>Browse training providers to discover training resources they offer.</p>
    </li>
  </ul>
</div>