<script>
  $(document).ready(function () {
    reposition_tiles('masonry', 'masonry-brick');
  })
</script>

<div class="homepage">
  <div class="row media-grid">
    <div class="col-md-6">
      <div class="welcome-text">
        <h2 class="module-heading" style="margin-top: 10px;">Welcome to TeSS: ELIXIR's Training Portal</h2>

        <p>
          ELIXIR's TeSS (Training eSupport System) is a portal for browsing, discovering and organising training
          resources, aggregating training information from ELIXIR nodes and 3rd-party providers.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="nodes-block col-md-12">
        <h3 style="margin-top: 10px;">Nodes</h3>

        <p>
          TeSS aims to provide an at-a-glance view of
          <a style="position:relative; z-index: 10;" href="http://elixir-europe.org">ELIXIR's</a> training
          landscape, while also offering individual ’shop windows’, giving customisable views of the hottest training
          news, events, activity highlights, etc. from
          <a style="position:relative; z-index: 10;" href="/nodes">ELIXIR nodes</a>.
        </p>
        <%#= link_to '', nodes_path, :class=>"media-view"%>
      </div>
      <div class="faq-block col-md-12">
        <h3 style="margin-top: 10px;">FAQ</h3>

        <p>Check out our <a style="position:relative; z-index: 10;" href="/about#faq">FAQ</a> to find out more about
          TeSS.</p>
        <%#= link_to '', about_path, :class=>"media-view"%>
      </div>
    </div>
  </div>

  <ul class="featureblocks">
    <li>
      <h2><%= link_to events_path do %>
            <i class="<%= icon_class_for_model('events') %>"></i> Events
        <% end %>
      </h2>
      <%= link_to events_path do %>
          <!--<img src=" https://farm9.static.flickr.com/8724/16934585415_bf0892d5d6.jpg" width="100%" alt="Events" class="effect2">-->
        <img src="http://www.elixir-europe.org/sites/default/files/images/ELIXIR_training_newbanner.jpg" width="100%" alt="Events" class="effect2">
      <% end %>

      <p>Discover the latest training events and news from ELIXIR nodes and 3rd-party providers.</p>
    </li>
    <li>
      <h2><%= link_to materials_path do %>
            <i class="<%= icon_class_for_model('materials') %>"></i> Materials
        <% end %>
      </h2>
      <%= link_to materials_path do %>
          <!--"Books HD" by Abhi Sharma-->
          <!--https://www.flickr.com/photos/abee5/8314929977-->
          <!--http://cdn.playbuzz.com/cdn/cf91bf25-c77c-451c-852b-7e0fecbfaa11/e630ffac-293c-409d-904b-1439faf9c40f.jpg-->
          <!--https://creativecommons.org/licenses/by/2.0/-->
          <img src="http://cdn.playbuzz.com/cdn/cf91bf25-c77c-451c-852b-7e0fecbfaa11/e630ffac-293c-409d-904b-1439faf9c40f.jpg" width="100%" alt="Materials" class="effect2">
      <% end %>

      <p>Browse the catalogue of materials offered by ELIXIR nodes and 3rd-party providers.</p>
    </li>
    <li>
      <h2><%= link_to packages_path do %>
            <i class="<%= icon_class_for_model('packages') %>"></i> Packages
        <% end %>
      </h2>
      <%= link_to packages_path do %>
          <!--https://commons.wikimedia.org/wiki/File:Packaging_Hager.JPG-->
          <!--https://commons.wikimedia.org/wiki/Commons:Licensing -->
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Packaging_Hager.JPG/1024px-Packaging_Hager.JPG" width="100%" alt="Packages" class="effect2">
      <% end %>

      <p>Create training packages by grouping resources that address your particular research topic.</p>
    </li>
    <li>
      <h2><%= link_to workflows_path do %>
            <i class="<%= icon_class_for_model('workflows') %>"></i> Workflows
        <% end %>
      </h2>
      <%= link_to workflows_path do %>
          <!--https://commons.wikimedia.org/wiki/File%3AExome_Sequencing_workflow_1b.png-->
          <!--By SarahKusala (Own work) [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons-->
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Exome_Sequencing_workflow_1b.png" width="100%" alt="Workflows" class="effect2">
          <!--https://www.flickr.com/photos/mesq/3576153506/in/photolist-6s1HR5-2SCkF7-3eaugB-4fdeVH-5Szvhz-sSHaq-72ChjN-dBPpJm-8nXUr2-48TiMX-81xyc6-3VG7QM-Nw68s-bnqiZt-rt5Q1d-9hCW9C-5VXMBg-6RzNzE-5vtR11-bjDTgm-bnqj2z-dtweGi-7JfKui-6RQhCQ-7QDsL7-bmyFt-bmXL1-BXnAh-4rNBQP-8mmtvL-7tNKWe-2SCkBQ-o8DrS-3bp9cw-7P2nZC-4uUE4h-9nAZB9-b3Rc3e-532PnV-4jdxfn-532PkM-4rX4kb-g8LEA-5375ud-9pgJHH-eifuTP-pvwAHt-8Xb6GW-8iaDCk-qdF1z3-->
          <!--<img src="https://www.docuware.com/sites/default/files/08_iStock_000013810623Large.jpg" width="100%" alt="Workflows" class="effect2">-->
      <% end %>

      <p>Create training workflows to visualise learning steps and resources specific to your research and training needs.</p>
    </li>
    <li class="noborder">
      <h2><%= link_to content_providers_path do %>
            <i class="<%= icon_class_for_model('content_providers') %>"></i> Providers
        <% end %>
      </h2>
      <%= link_to content_providers_path do %>
          <img src="https://c2.staticflickr.com/8/7119/7422069312_8c7664ba26_b.jpg" width="100%" alt="Providers" class="effect2">
          <!--<img src="https://c2.staticflickr.com/2/1004/1234601868_abd69bd137_b.jpg" width="100%" alt="Providers" class="effect2">-->
      <% end %>

      <p>Browse content providers and follow links to their associated training resources.</p>
    </li>
  </ul>

  <!--<ul class="masonry media-grid">-->
  <!--<li class="nav-block masonry-brick">-->
  <!--<h3 class="heading"><i class="<%#= icon_class_for_model(:events) %>"></i> Events</h3>-->
  <!--<p>Discover the latest training events and news from ELIXIR nodes and 3rd-party providers.</p>-->
  <!--<%#= link_to '', events_path, :class=>"media-view"%>-->
  <!--</li>-->
  <!--<li class="nav-block masonry-brick">-->
  <!--<h3 class="heading"><i class="<%#= icon_class_for_model(:materials) %>"></i> Materials</h3>-->
  <!--<p>Browse the catalogue of materials offered by ELIXIR nodes and 3rd-party providers.</p>-->
  <!--<%#= link_to '', materials_path, :class=>"media-view"%>-->
  <!--</li>-->
  <!--<li class="nav-block masonry-brick">-->
  <!--<h3 class="heading"><i class="<%#= icon_class_for_model(:packages) %>"></i> Packages</h3>-->
  <!--<p>Create training packages by grouping resources that address your particular research topic.</p>-->
  <!--<%#= link_to '', packages_path, :class=>"media-view"%>-->
  <!--</li>-->
  <!--<li class="nav-block masonry-brick">-->
  <!--<h3 class="heading"><i class="<%#= icon_class_for_model(:workflows) %>"></i> Workflows</h3>-->
  <!--<p>Visualise ‘workflows’ to identify resources specific to your research and training needs.</p>-->
  <!--<%#= link_to '', workflows_path, :class=>"media-view"%>-->
  <!--</li>-->
  <!--<li class="nav-block masonry-brick">-->
  <!--<h3 class="heading"><i class="<%#= icon_class_for_model(:content_providers) %>"></i> Content Providers</h3>-->
  <!--<p>Browse content providers and follow links to their associated training resources.</p>-->
  <!--<%#= link_to '', content_providers_path, :class=>"media-view"%>-->
  <!--</li>-->
  <!--</ul>-->
</div>