<div class="panel panel-default subscription">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-9">
        <p><strong>Category:</strong> <%= subscription.subscribable_type.humanize.pluralize %></p>
        <p><strong>Frequency:</strong> <%= subscription.frequency.to_s.capitalize %></p>
        <p><strong>Last email sent:</strong> <%= subscription.last_sent_at || 'Never' %></p>
        <p><strong>Created:</strong> <%= subscription.created_at %></p>

        <% if subscription.query.present? %>
            <p>
              <strong>Search term:</strong>
              <em><%= subscription.query %></em>
            </p>
        <% end %>

        <% if subscription.facets.present? %>
            <strong>Filters:</strong>
            <ul>
              <% subscription.facets.each do |facet, values| %>
                  <li>
                    <strong><%= facet.humanize %>:</strong>
                    <% Array(values).each do |value| %>
                      <span class="label label-default filter-button" title="<%= value -%>"><%= truncate(value.to_s, length: 30) %></span>
                    <% end %>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
      <div class="col-sm-3 text-right">
        <%= link_to 'Results', subscription_results_path(subscription), class: 'btn btn-primary' %>
        <%= link_to 'Cancel',
                    subscription,
                    method: 'delete',
                    data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                    class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>