<div class="row wrapper">
  <div class="col-md-12">
    <div class="page-header">
      <%= page_title 'Log in' %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% if resource_class.omniauth_providers.any? %>
          <% if devise_mapping.omniauthable? %>
            <% resource_class.omniauth_providers.each do |provider| %>
              <% if provider.to_s.downcase == 'oidc' -%>
                <%= link_to image_tag("aaf_service_223x54.png"), omniauth_authorize_path(resource_name, provider),
                            method: :post -%>
              <% else -%>
                <%= link_to "Log in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider),
                            method: :post, class: 'btn btn-info' %>
              <% end -%>
            <% end -%>
          <% end %>
          <hr/>
        <% end %>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="h4">Local Account</div>
          <%= f.input :login, label: 'Email or username', autofocus: true %>
          <%= f.input :password, input_html: { autocomplete: 'off' } %>
          <% if devise_mapping.rememberable? -%>
            <%= f.input :remember_me, as: :boolean %>
          <% end -%>
          <div class="actions">
            <%= f.submit "Log in", :class => 'btn btn-primary' %>
          </div>
        <% end %>
        <hr/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
