<div class="biotools-info">
    <div class="tooltypes">
        {{#each toolType}}
            <span class="label label-info">{{ this }}</span>
        {{/each}}
    </div>
    <span>{{ description }}</span>
    <div class="topics external-links">
      <strong>Topics:</strong>
        {{#each topic}}
            <span class="btn btn-default keyword-button">
                <a href="{{ this.uri }}" target="_blank" rel="noopener">{{ this.term }}</a>
            </span>
        {{/each}}
    </div>
    <div class="btn-group external-links">
        <a class="btn btn-default external-button" target="_blank" rel="noopener" href="{{ homepage }}">
            View the {{ name }} homepage <i class="fa fa-external-link"></i>
        </a>
        <a class="btn btn-default external-button" target="_blank" rel="noopener" href="{{ url }}">
            View the {{ name }} on bio.tools <i class="fa fa-external-link"></i>
        </a>
    </div>
</div>
