<i class="fa fa-pencil-square-o"></i>

<% if activity.owner %>
    <%= link_to activity.owner.username, activity.owner %>
<% end %>

modified the workflow diagram at <%= activity.created_at -%>.
<ul>
  <% [:added_nodes, :removed_nodes, :modified_nodes].each do |key| %>
      <% if activity.parameters[key].any? %>
          <li>
            <%= key.to_s.sub('_nodes','').capitalize %> <%= pluralize(activity.parameters[key].count, 'node') %>:
            <%= activity.parameters[key].map { |n| "'#{n['data']['name']}'" }.join(', ') %>
          </li>
      <% end %>
  <% end %>
</ul>
