<p>
  You are receiving this automated email because you are a curator of <%= @provider.title %> on <%= TeSS::Config.site['title_short'] %>.
</p>

<p>
  <strong>New events:</strong>
</p>

<% if @new_events.count.positive? %>
  <p>
    If any of these events are incorrect or should not be shown, please follow the link to change them.<br/>
    If an event should not be shown, disable it on the edit page instead of deleting it to prevent rescraping.<br/>
    If an event needs changes, lock the changed fields to prevent your changes from being overwritten by the scraper.<br/>
  </p>

  <% @new_events.each do |event| %>
    <p>
      <%= link_to event.title, event %><br/>
      <strong>description:</strong> <%= event.description %><br/>
      <strong>start:</strong> <%= event.start %><br/>
      <strong>end:</strong> <%= event.end %><br/>
      <strong>venue:</strong> <%= event.venue %><br/>
      <strong>show:</strong> <%= event.visible %><br/>
    </p>

  <% end %>
<% else %>
  <p>
    There were no new events this week.
  </p>
<% end %>

<p>
  <strong>Stale events:</strong>
</p>

<% if @stale_events.count.positive? %>
  <p>
    These events have not been updated/found by the taxila recently.<br/>
    If all events for <%= @provider.title %> are stale, the source might have changed, breaking the <%= TeSS::Config.site['title_short'] %> scraper.<br/>
    If another duplicate of this event was made, maybe the address to the event page was changed.<br/>
  </p>

  <% @stale_events.each do |event| %>
    <p>
      <%= link_to event.title, event %><br/>
      <strong>description:</strong> <%= event.description %><br/>
      <strong>start:</strong> <%= event.start %><br/>
      <strong>end:</strong> <%= event.end %><br/>
      <strong>venue:</strong> <%= event.venue %><br/>
      <strong>show:</strong> <%= event.visible %><br/>
    </p>

  <% end %>
<% else %>
  <p>
    There were no stale events this week.
  </p>
<% end %>
