<li class="masonry-brick media-item ">
  <%= image_tag content_provider.image.url, class: "media-image listing_image" %>
  <h3 class="media-heading"><%= content_provider.title %></h3>
  <p><%= truncate(content_provider.description, length: 100, separator: ' ') %></p>

  <% if content_provider.materials.length > 0 %>
    <div><strong><%= pluralize(content_provider.materials.length, 'training material') %></strong></div>
  <% end %>

  <% if content_provider.events.length > 0 %>
    <div>
      <strong><%= pluralize(content_provider.events.not_finished.length, 'upcoming event') %></strong>
      <em>(<%= pluralize(content_provider.events.finished.length, 'past event') %>)</em>
    </div>
  <% end %>

  <%= link_to '', content_provider, :class => "media-view" %>

  <%= render partial: 'content_providers/partials/content_provider_schemaorg',
             locals: { content_provider: content_provider } %>
</li>
