<div class="row">
  <div class="col-md-9">
    <%= simple_form_for @content_provider, :html => { :class => "form-horizontal content_provider" } do |f| %>

        <% if @content_provider.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title"><%= pluralize(@content_provider.errors.count, "error") %> prohibited this content provider from being saved:</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <% @content_provider.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, :class => 'form-control' %>
          <%#= error_span(@content_provider[:title]) %>
        </div>

        <div class="form-group">
          <%= f.label :url, label: 'URL', :class => "required" %>
          <%= f.text_field :url, :class => 'form-control' %>
          <%#= error_span(@content_provider[:url]) %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, :class => 'form-control', :rows => "10" %>
          <%#= error_span(@content_provider[:description]) %>
        </div>
        <div class="form-group">
          <%= f.label :image_url, "Image URL" %>
          <%= f.text_field :image_url, :class => 'form-control' %>
          <%#= error_span(@content_provider[:image_url]) %>
        </div>
        <div class="form-group">
          <%= f.label :content_provider_type, "Type" %>
          <%= f.select :content_provider_type, ContentProvider::PROVIDER_TYPE, {}, {:class => "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :node, "ELIXIR node" %>
          <%= f.select(:node_id, options_for_select(Node.all.collect { |node| [node.name, node.id] }, (@content_provider.node.blank? ? nil : @content_provider.node.id)), {include_blank: true}, :class => "form-control") %>
        </div>

        <%= render :partial => 'common/multiple_input', :locals => {:field_name => 'keywords', :resource => @content_provider, :f => f} %>

        <div class="form-group">
          <%= f.submit ( f.object.new_record? ? "Register" : "Update") + " content provider", :class => 'btn btn-primary' %>
          <%= link_to 'Back', content_providers_path, :class=>"btn btn-info" %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      content_providers_path, :class => 'btn btn-default' %>
        </div>
    <% end %>
  </div>
</div>