<hr/>
<%= form_for(@content_provider, url: bulk_create_content_provider_path(@content_provider), method: :post) do |form| %>
    <% ['events', 'materials'].each do |type| %>
        <% resources = instance_variable_get("@#{type}") %>
        <% klass = type.singularize.capitalize.constantize %>

        <%= content_tag(:div, id: type) do %>
            <h2><%= pluralize(resources.count, type.singularize) %> found</h2>
            <% resources.each_with_index do |resource, i| %>
                <%= form.fields_for "#{type}[]", resource, index: i do |fields| %>
                    <div class="row bulk-import-row">
                      <div class="col-sm-8">
                        <%= fields.check_box :include_in_create, class: 'bulk-import-checkbox' if resource.valid? %>
                        <strong><%= resource.title %></strong><br/>
                        <% if type == 'events' %>
                            <%= neatly_printed_date_range(resource.start, resource.end) %>
                        <% end %>
                      </div>
                      <div class="col-sm-4">
                        <% if resource.url %>
                            <%= link_to(resource.url, resource.url, target: :_blank) %>
                        <% else %>
                            <span class="muted">No URL</span>
                        <% end %>
                      </div>
                      <% unless (existing = klass.check_exists(resource)).nil? %>
                          <div class="col-sm-12 bg-warning text-warning">
                            <i class="fa fa-exclamation-triangle"></i> Already registered: <%= link_to(existing.title, existing, target: :_blank) %>
                          </div>
                      <% end %>
                      <% unless resource.valid? %>
                          <div class="col-sm-12 bg-danger text-danger">
                            <i class="fa fa-exclamation-circle"></i> Errors:
                            <%= resource.errors.full_messages.join(', ') %>
                          </div>
                      <% end %>
                      <% resource.attributes.select { |k,v| v.present? }.each do |attr, value| %>
                          <%= fields.hidden_field(attr) %>
                      <% end %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <hr/>

    <%= form.submit 'Create', id: 'bulk-create-btn', class: 'btn btn-primary' %>
<% end %>

<script>
    var updateBulkCreateButton = function () {
        var button = $('#bulk-create-btn');
        var selectedEvents = $('#events .bulk-import-checkbox:checked').length;
        var selectedMaterials = $('#materials .bulk-import-checkbox:checked').length;

        if (!selectedEvents && !selectedMaterials) {
            button.val('Nothing selected');
            button.addClass('disabled');
        } else {
            var text = 'Create ';
            if (selectedEvents) {
                text += ('' + selectedEvents + ' events');
                if (selectedMaterials) {
                    text += ' and ';
                }
            }
            if (selectedMaterials) {
                text += ('' + selectedMaterials + ' materials');
            }
            button.val(text);
            button.removeClass('disabled');
        }
    };

    $('.bulk-import-checkbox').change(updateBulkCreateButton);
    updateBulkCreateButton();
</script>
