<hr/>
<%= form_for(@content_provider, url: bulk_create_content_provider_path(@content_provider), method: :post) do |form| %>
    <div id="events">
      <h2><%= pluralize(@events.count, 'Event') %> found</h2>
      <% @events[0..10].sort_by(&:start).each_with_index do |e, i| %>
          <%= form.fields_for 'events[]', e, index: i do |event_fields| %>
              <div class="row bulk-import-row">
                <div class="col-sm-8">
                  <%= event_fields.check_box :include_in_create, class: 'bulk-import-checkbox' if e.valid? %>
                  <strong><%= e.title %></strong><br/>
                  <%= neatly_printed_date_range(e.start, e.end) %>
                </div>
                <div class="col-sm-4">
                  <% if e.url %>
                      <%= link_to(e.url, e.url, target: :_blank) %>
                  <% else %>
                      <span class="muted">No URL</span>
                  <% end %>
                </div>
                <% unless (existing = Event.check_exists(e)).nil? %>
                    <div class="col-sm-12 bg-warning text-warning">
                      <i class="fa fa-exclamation-triangle"></i> Already registered: <%= link_to(existing.title, existing) %>
                    </div>
                <% end %>
                <% unless e.valid? %>
                    <div class="col-sm-12 bg-danger text-danger">
                      <i class="fa fa-exclamation-circle"></i> Errors:
                      <%= e.errors.full_messages.join(', ') %>
                    </div>
                <% end %>
                <% e.attributes.select { |k,v| v.present? }.each do |attr, value| %>
                    <%= event_fields.hidden_field(attr) %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>

    <div id="materials">
      <h2><%= pluralize(@materials.count, 'Materials') %> found</h2>
      <% @materials.sort_by(&:title).each_with_index do |m, i| %>
          <%= form.fields_for 'materials[]', m, index: i do |material_fields| %>
              <div class="row bulk-import-row">
                <div class="col-sm-8">
                  <%= material_fields.check_box :include_in_create, class: 'bulk-import-checkbox' if m.valid? %>
                  <strong><%= m.title %></strong>
                </div>
                <div class="col-sm-4">
                  <% if m.url %>
                      <%= link_to(m.url, m.url, target: :_blank) %>
                  <% else %>
                      <span class="muted">No URL</span>
                  <% end %>
                </div>
                <% unless (existing = Material.check_exists(m)).nil? %>
                    <div class="col-sm-12 bg-warning text-warning">
                      <i class="fa fa-exclamation-triangle"></i> Already registered: <%= link_to(existing.title, existing) %>
                    </div>
                <% end %>
                <% unless m.valid? %>
                    <div class="col-sm-12 bg-danger text-danger">
                      <i class="fa fa-exclamation-circle"></i> Errors:
                      <%= m.errors.full_messages.join(', ') %>
                    </div>
                <% end %>
                <% m.attributes.select { |k,v| v.present? }.each do |attr, value| %>
                    <%= material_fields.hidden_field attr, value %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
    <hr/>

    <%= form.submit 'Create', id: 'bulk-create-btn', class: 'btn btn-primary' %>
<% end %>
<script>
    var updateBulkCreateButton = function () {
        var button = $('#bulk-create-btn');
        var selectedEvents = $('#events .bulk-import-checkbox:checked').length;
        var selectedMaterials = $('#materials .bulk-import-checkbox:checked').length;

        if (!selectedEvents && !selectedMaterials) {
            button.val('Nothing selected');
            button.addClass('disabled');
        } else {
            var text = 'Create ';
            if (selectedEvents) {
                text += ('' + selectedEvents + ' events');
                if (selectedMaterials) {
                    text += ' and ';
                }
            }
            if (selectedMaterials) {
                text += ('' + selectedMaterials + ' materials');
            }
            button.val(text);
            button.removeClass('disabled');
        }
    };

    $('.bulk-import-checkbox').change(updateBulkCreateButton);
    updateBulkCreateButton();
</script>
