<hr/>
<%= form_for(@content_provider, url: bulk_create_content_provider_path(@content_provider), method: :post) do |form| %>
    <% ['events', 'materials'].each do |type| %>
        <% resources = instance_variable_get("@#{type}") %>
        <% klass = type.singularize.capitalize.constantize %>

        <%= content_tag(:div, id: type, class: 'scraper-typed-results') do %>
            <div class="pull-right">
              <a href="#" class="btn btn-default select-all-btn">Select All</a>
              <a href="#" class="btn btn-default clear-btn">Clear</a>
            </div>
            <h2><%= pluralize(resources.count, type.singularize) %> found</h2>
            <% resources.each_with_index do |resource, i| %>
                <%= form.fields_for "#{type}[]", resource, index: i do |fields| %>
                    <div class="bulk-import-row">
                      <div class="row">
                        <div class="col-sm-6">
                          <% if resource.valid? %>
                              <label class="checkbox-inline">
                                <%= fields.check_box :include_in_create, class: 'bulk-import-checkbox' %>
                                <strong><%= resource.title %></strong>
                              </label>
                          <% else %>
                              <strong><%= resource.title %></strong>
                          <% end %>
                          <br/>
                          <% if type == 'events' %>
                              <%= neatly_printed_date_range(resource.start, resource.end) %>
                          <% end %>
                        </div>
                        <div class="col-sm-6">
                          <a data-toggle="collapse" class="pull-right btn btn-default btn-xs more-info-btn">Details</a>
                          <% if resource.url %>
                              <%= link_to(resource.url, resource.url, target: :_blank) %>
                          <% else %>
                              <span class="muted">No URL</span>
                          <% end %>
                        </div>
                        <% unless (existing = klass.check_exists(resource)).nil? %>
                            <div class="col-sm-12 bg-warning text-warning">
                              <i class="fa fa-exclamation-triangle"></i> Already registered: <%= link_to(existing.title, existing, target: :_blank) %>
                            </div>
                        <% end %>
                        <% unless resource.valid? %>
                            <div class="col-sm-12 bg-danger text-danger">
                              <i class="fa fa-exclamation-circle"></i> Errors:
                              <%= resource.errors.full_messages.join(', ') %>
                            </div>
                        <% end %>
                        <% resource.attributes.select { |k,v| v.present? }.each do |attr, value| %>
                            <%= fields.hidden_field(attr) %>
                        <% end %>
                      </div>
                      <div class="row more-info-section clearfix" style="display: none">
                        <% resource.attributes.select { |k,v| v.present? }.each do |attr, value| %>
                            <div class="col-sm-6">
                              <strong><%= resource.class.human_attribute_name(attr)-%>:</strong> <%= value %>
                            </div>
                        <% end %>
                      </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <hr/>

    <%= form.submit 'Create', id: 'bulk-create-btn', class: 'btn btn-primary' %>
<% end %>

<script>

</script>
