<div class="page-header">
  <%= page_title 'Import' %>
</div>

<div class="form-inline">
  <div class="form-group">
    <%= text_field_tag(:url, params[:url], placeholder: 'Enter URL here', size: 100, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= select_tag(:format, options_for_select([['JSON-LD', 'jsonld'],['RDFa', 'rdfa']], params[:format]), class: 'form-control') %>
  </div>

  <%= button_tag('Go', id: 'import-btn', class: 'btn btn-primary') %>
</div>

<script>
  $('#import-btn').click(function () {
    $.ajax({
      dataType: 'json',
      url: '<%= import_content_provider_path(@content_provider) %>',
      data: {
        url: $('#url').val(),
        rdf_format: $('#format').val()
      },
      method: 'POST',
      success: function (data) {
        var jobId = data.id;
        var input = $('#url');
        input.addClass('loading');

        var interval = window.setInterval(function () {
          $.ajax({
            dataType: 'json',
            url: '/job_status',
            data: { id: jobId },
            success: function (data) {
              if (data.status === 'complete') {
                window.clearInterval(interval);
                input.removeClass('loading');

                $.ajax({
                  dataType: 'html',
                  url: '<%= scraper_results_content_provider_path(@content_provider) %>',
                  data: { job_id: jobId },
                  success: function (html) {
                    $('#scraper-results').html(html);
                  },
                  error: function (data) {
                    console.log('error', data);
                  }
                });
              } else if (data.status !== 'waiting') {
                window.clearInterval(interval);
                input.removeClass('loading');
              }
            },
            error: function (data) {
              console.log('error', data);
              window.clearInterval(interval);
              input.removeClass('loading');
            }
          });
        }, 3000);
      },
      error: function (data) {
        console.log('error', data);
        window.clearInterval(interval);
        input.removeClass('loading');
      }
    });

    return false;
  });
</script>

<div id="scraper-results"></div>
