<div class="page-header">
  <%= page_title 'Import' %>
</div>

<div class="form-inline">
  <div class="form-group">
    <%= text_field_tag(:url, params[:url], placeholder: 'Enter URL here', size: 100, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= select_tag(:format, options_for_select([['JSON-LD', 'jsonld'],['RDFa', 'rdfa'],['iCal / ICS', 'ics']], params[:format]), class: 'form-control') %>
  </div>

  <%= button_tag('Go', id: 'import-btn', class: 'btn btn-primary') %>
</div>

<div class="text-danger" id="scrape-errors"></div>

<script>
  $('#import-btn').click(function () {
    $.ajax({
      dataType: 'json',
      url: '<%= import_content_provider_path(@content_provider) %>',
      data: {
        url: $('#url').val(),
        page_format: $('#format').val()
      },
      method: 'POST',
      success: function (data) {
        var jobId = data.id;
        var input = $('#url');
        input.addClass('loading');

        var checkStatus = function () {
          $.ajax({
            dataType: 'json',
            url: '/job_status',
            data: { id: jobId },
            success: function (data) {
              if (data.status === 'complete') {
                $.ajax({
                  dataType: 'html',
                  url: '<%= scraper_results_content_provider_path(@content_provider) %>',
                  data: { job_id: jobId },
                  success: function (html) {
                    $('#scraper-results').html(html);
                  },
                  error: function (data) {
                    console.log('error', data);
                    $('#scrape-errors').text('There was a problem rendering the results. ' + data.responseText);
                  },
                  complete: function () {
                    input.removeClass('loading');
                  }
                });
              } else if (data.status === 'working') {
                setTimeout(checkStatus, 2000);
              } else {
                console.log('bad job response', data);
                $('#scrape-errors').text('There was a problem importing from the given URL. Please check the URL is correct and the appropriate format is selected. Job ' + data.status);
              }
            },
            error: function (data) {
              console.log('error', data);
              $('#scrape-errors').text('There was a problem getting the job status');
            },
            complete: function () {
              input.removeClass('loading');
            }
          });
        };

        checkStatus();
      },
      error: function (data) {
        console.log('error', data);
        $('#scrape-errors').text('There was a problem creating the import job: ' + data.responseText);
      }
    });

    return false;
  });
</script>

<div id="scraper-results"></div>
