<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <%= render partial: "search/common/facet_sidebar",
                 locals: { resources: @content_providers_results, resource_type: ContentProvider } %>
    </div>
  <% end %>

  <div id="content">
    <h2><%=t("features.content_providers.long")%></h2>
    <% content_for :buttons do %>
      <%= link_to new_content_provider_path, class: 'btn btn-primary' do %>
        <%= t('register.buttons.content_providers') %>
      <% end %>
      <%= info_button("What are content providers in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
        <%= render_markdown(ContentProvidersHelper::CONTENT_PROVIDERS_INFO) %>
      <% end %>
    <% end %>

    <%= render partial: "search/common/search_panel", locals: { resources: @content_providers_results,
                                                                resource_type: ContentProvider } %>

    <%= render partial: 'common/masonry_grid', locals: { objects: @content_providers } %>

    <%= render partial: 'search/common/pagination_bar', locals: { resources: @content_providers } %>
  </div>

</div>
