<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <div class="row">
        <%= render partial: "search/common/facet_sidebar",
                   locals: { resources: @content_providers_results,
                             resource_type: ContentProvider } %>

      </div>
    </div>
  <% end %>

  <div id="content">
    <div class="row">
      <h2>Content providers</h2>
    </div>
    <% content_for :buttons do %>
      <%= link_to new_content_provider_path, class: 'btn btn-primary' do %>
        Register content provider
      <% end %>
      <%= info_button("What are content providers in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
        <%= render_markdown(ContentProvidersHelper::CONTENT_PROVIDERS_INFO) %>
      <% end %>
    <% end %>

    <% if TeSS::Config.solr_enabled %>
      <%= render partial: "search/common/search_panel", locals: { resources: @content_providers_results,
                                                                  resource_type: ContentProvider } %>
    <% end %>

    <%= render partial: 'common/masonry_grid', locals: { objects: @content_providers } %>

    <%= render partial: 'search/common/pagination_bar', locals: { resources: @content_providers } %>
  </div>

</div>
