View <%= link_to 'Activity Log', content_provider_activities_path(@content_provider) %>
<p id="notice"><%= notice %></p>

<%- model_class = ContentProvider -%>
<div class="page-header">
  <%= image_tag(@content_provider.logo_url, :class=>'logo-right') %>
  <h1><%=t '.title', :default => @content_provider.title %></h1>
  <p><%= link_to @content_provider.url, @content_provider.url, :class =>'h4'  %></p>
</div>

<div class="show-page-description ">
    <%= @content_provider.description %>
</div>

<div class="h4">
    This content provider has <%= pluralize(@content_provider.materials.count, 'material') %> in TeSS
</div>


<% @content_provider.materials.each do |material| %>
    <%= render material %>
<% end %>


<%= link_to t('.back', :default => t("helpers.links.back")),
            content_providers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_content_provider_path(@content_provider), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            content_provider_path(@content_provider),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
