<script>
  $(document).ready(function () {
    reposition_tiles('masonry', 'masonry-brick');
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      reposition_tiles('masonry', 'masonry-brick');
    })
  })
</script>

<div class="row wrapper">
  <!-- SIDEBAR -->
  <div class="col-md-3" id="sidebar">
    <%= render :partial => "content_providers/partials/content_provider_info", :locals => {:content_provider => @content_provider} %>
  </div>

  <div class=" col-md-9">
    <div class="row" style="padding: 10px 5px 0px 0px;">
      <!-- ACTION BUTTONS -->
      <div class="content_action">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    content_providers_path, :class => 'btn btn-info' %>
        <% if !current_user.nil? and policy(@content_provider).update? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_content_provider_path(@content_provider), :class => 'btn btn-primary' %>
        <% end %>
        <% if !current_user.nil? and policy(@content_provider).destroy? %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        content_provider_path(@content_provider),
                        :method => 'delete',
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <li <%= "class=active" if @content_provider.materials.count > 0 or @content_provider.events.count < 1 %>>
          <a data-toggle="tab" href="#materials"><i class="<%= icon_class_for_model('materials') %>"></i> Materials</a>
        </li>
        <li <%= "class=active" if @content_provider.events.count > 0 and @content_provider.materials.count < 1 %>>
          <a data-toggle="tab" href="#events"><i class="<%= icon_class_for_model('events') %>"></i> Events</a>
        </li>
        <li>
          <a data-toggle="tab" href="#activity_log"><i class="<%= icon_class_for_model('activity_logs') %>"></i>
            Activity log</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="materials" class="tab-pane fade 
              <%= "in active" if @content_provider.materials.count > 0 or @content_provider.events.count < 1 %>
          ">
          <div class="row">
            <div class="search-results-count"> 
              <%= pluralize(@content_provider.materials.count, 'training material') %> found 
            </div>
            <% @content_provider.materials.each do |material| %> 
                <%= render material %> 
            <% end %> 
          </div>
            
        </div>
        <div id="events" class="tab-pane fade
              <%= "in active" if @content_provider.events.count > 0 and @content_provider.materials.count < 1 %>
          ">
          <div class="row">
            <% upcoming_events = @content_provider.events.select{|x| x.upcoming?} %>
            <% past_events = @content_provider.events.select{|x| x.expired?} %>

            <div class="search-results-count">
              <%= pluralize(upcoming_events.count, 'upcoming event') %>
            </div>
            <% if !upcoming_events.blank? %>
                <ul class="masonry media-grid" style="margin-top: 15px;">
                  <% upcoming_events.each do |event| %>
                     <%= render event %>
                  <% end %>
                </ul>
            <% end %>
          </div>
          <div class="row">
            <div class="search-results-count">
              <%= pluralize(past_events.count, 'past event') %>
            </div>
            <% if !past_events.blank? %>
                <ul class="masonry media-grid" style="margin-top: 15px;">
                  <% past_events.each do |event| %>
                      <%= render event %>
                  <% end %>
                </ul>
            <% end %>
          </div>
        </div>
        <div id="activity_log" class="tab-pane fade">
          <%= render :partial => "activities/activity_log", :locals => {:resource => @content_provider} %>
        </div>
      </div>
    </div>
  </div>
</div>
