<% events = @content_provider.events.from_verified_users %>
<% materials = @content_provider.materials.from_verified_users %>

<div class="wrapper collapsing-wrapper">
  <%# SIDEBAR %>
  <div class="collapsing-sidebar" id="sidebar">
    <%= render :partial => "content_providers/partials/content_provider_sidebar", :locals => {:content_provider => @content_provider} %>
  </div>
  <div id="content">
    <div class="row">
      <%# ACTION BUTTONS %>
      <div class="content_action">
        <%= link_to t('.back', :default => t("helpers.links.back")), content_providers_path, :class => 'btn btn-info' %>

        <%= render partial: 'common/identifiers_dot_org_button', locals: { resource: @content_provider } if TeSS::Config.identifiers_prefix %>

        <% if !current_user.nil? and policy(@content_provider).update? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_content_provider_path(@content_provider), :class => 'btn btn-primary' %>
        <% end %>
        <% if !current_user.nil? and policy(@content_provider).destroy? %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        content_provider_path(@content_provider),
                        :method => 'delete',
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <p>
        <%= link_to(image_tag(@content_provider.image.url, :class => "medium-content-provider-logo"), @content_provider.url, :target => @content_provider.url) %>
      </p>
      <p>
        <%= link_to @content_provider.title, @content_provider.url, :class => "h5", :target => @content_provider.url %>
      </p>
      <% unless @content_provider.description.blank? %>
          <p class="minimise">
            <%= render_markdown @content_provider.description %>
          </p>
      <% end %>
      <%= render partial: 'content_providers/partials/content_provider_schemaorg', locals: { content_provider: @content_provider } %>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <%= tab('Materials', icon_class_for_model('materials'), 'materials', active: materials.any? || events.none?,
                disabled: { check: materials.none?, message: 'No associated training materials' },
                count: materials.count) %>

        <%= tab('Events', icon_class_for_model('events'), 'events', active: materials.none? && events.any?,
                disabled: { check: events.none?, message: 'No associated events' },
                count: events.count) %>

        <%= tab('Activity log', icon_class_for_model('activity_logs'), 'activity_log',
                disabled: { check: @content_provider.activities.none?, message: 'No activities recorded' }) %>
      </ul>

      <div class="tab-content">
        <div id="materials" class="tab-pane fade 
              <%= "in active" if materials.any? || events.none? %>
          ">
          <div class="row">
            <% limited_materials = materials.count > 30 ? materials.limit(30) : materials %>
            <div class="search-results-count">
              <%= (limited_materials.count > 0 ? "Showing" : "Found") + " #{pluralize(materials.count, "material")}#{(materials.count > 30) ? " out of #{materials.count}" : ''}." %>
              <%= link_to('View all results.', materials_path(content_provider: @content_provider.title)) if (materials.count > 30) %>
            </div>

            <% materials.each do |material| %>
                <%= render material %>
            <% end %>
          </div>
        </div>
        <div id="events" class="tab-pane fade
              <%= "in active" if materials.none? && events.any? %>
          ">
          <div class="row">
            <% upcoming_events = events.select(&:upcoming?) %>
            <% past_events = events.select(&:expired?) %>

            <div class="row">
              <% limited_events = upcoming_events.count > 30 ? upcoming_events.first(30) : upcoming_events %>
              <div class="search-results-count">
                <%= (upcoming_events.count > 0 ? "Showing" : "Found") + " #{pluralize(limited_events.count, "upcoming event")}#{(upcoming_events.count > 30) ? " out of #{upcoming_events.count}" : ''}." %>
                <%= "Found #{pluralize(past_events.count, "past event")}." %>
                <%= link_to('View all results.', events_path(content_provider: @content_provider.title, include_expired: true)) if (upcoming_events.count > 30 || past_events.count > 0) %>
              </div>
              <% if upcoming_events.count > 0 %>
                  <ul class="masonry media-grid" style="margin-top: 15px;">
                    <% upcoming_events.each do |upcoming_event| %>
                        <%= render upcoming_event %>
                    <% end %>
                  </ul>
              <% end %>
            </div>
          </div>
        </div>
        <div id="activity_log" class="tab-pane fade" data-activity-path="<%= content_provider_activities_path(@content_provider) -%>">
          <%= image_tag('ajax-loader.gif') %>
        </div>
      </div>
    </div>
  </div>
</div>
