<div class="wrapper collapsing-wrapper">
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'content_providers/partials/content_provider_info', locals: { content_provider: @content_provider } %>
    <%= render partial: 'content_providers/partials/content_provider_sidebar', locals: { content_provider: @content_provider } %>
  </div>

  <div id="content">
    <div class="content-actions">
      <div class="content-viewer-actions">
        <%= external_link_button 'View home page', @content_provider.url if @content_provider.url.present? %>
        <%= render partial: 'common/identifiers_dot_org_button',
                   locals: { resource: @content_provider } if TeSS::Config.identifiers_prefix %>
      </div>
      <div class="content-manager-actions">
        <%= edit_button(@content_provider) if policy(@content_provider).update? %>
        <%= delete_button(@content_provider) if policy(@content_provider).destroy? %>
      </div>
    </div>

    <div class="my-3">
      <% resource_limit = 30 %>
      <% materials = @content_provider.materials.from_verified_users.limit(resource_limit) %>
      <% materials_count =  @content_provider.materials.from_verified_users.count %>
      <% upcoming_events = @content_provider.events.from_verified_users.not_finished.not_disabled %>
      <% past_events = @content_provider.events.from_verified_users.finished.not_disabled %>
      <% events = upcoming_events.limit(resource_limit) %>
      <% events_count =  @content_provider.events.from_verified_users.not_disabled.count %>
      <% sources = @content_provider.sources.order(enabled: :desc, finished_at: :desc) %>
      <% activator = tab_activator %>
      <ul class="nav nav-tabs">
        <%= tab('Materials', icon_class_for_model('materials'), 'materials', activator: activator,
                disabled: { check: materials_count.zero?, message: 'No associated training materials' },
                count: materials_count) %>

        <%= tab('Events', icon_class_for_model('events'), 'events', activator: activator,
                disabled: { check: events_count.zero?, message: 'No associated events' },
                count: events_count) %>

        <% if TeSS::Config.feature['sources'] && policy(@content_provider).update? %>
          <%= tab('Sources', icon_class_for_model('sources'), 'sources', count: sources.count, activator: activator) %>
        <% end %>
      </ul>

      <div class="tab-content">
        <% if TeSS::Config.feature['materials'] %>
          <%= render partial: 'common/associated_resources',
                     locals: { model: Material,
                               total_count: materials_count,
                               limit: resource_limit,
                               resources: materials,
                               activator: activator,
                               view_all_link: materials_path(content_provider: @content_provider.title) } %>
        <% end %>

        <% if TeSS::Config.feature['events'] %>
          <%= render partial: 'common/associated_events',
                     locals: { total_count: upcoming_events.count,
                               past_count: past_events.count,
                               limit: resource_limit,
                               resources: events,
                               activator: activator,
                               view_all_link: events_path(content_provider: @content_provider.title),
                               inc_expired_link: events_path(content_provider: @content_provider.title, include_expired: true) } %>
        <% end %>
        <% if policy(@content_provider).update? && TeSS::Config.feature['sources'] %>
          <div id="sources" class="tab-pane fade<%= ' in active' if activator.check_pane('sources') %>">
            <% if policy(Source).new? %>
              <div class="my-3">
                <%= link_to new_content_provider_source_path(@content_provider), class: 'btn btn-primary' do %>
                  <i class="fa fa-plus-square"></i> Add source
                <% end %>
                <div class="pull-right">
                  <%= info_button("What are sources?") do %>
                    <%= render_markdown(SourcesHelper::SOURCES_INFO) %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <%= render partial: 'common/masonry_grid', locals: { objects: sources } %>
            <% if sources.empty? %>
              <span class="muted">No sources defined</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'activities/activity_log_button', locals: { resource: @content_provider } %>
  </div>
</div>
