<div class="row wrapper">
  <!-- SIDEBAR -->
  <div class="col-md-3 col-xs-3" id="sidebar">
    <%= render :partial => "content_providers/partials/content_provider_info", :locals => {:content_provider => @content_provider} %>
  </div>

  <div class=" col-md-9 col-xs-9">
    <div class="row">
      <!-- ACTION BUTTONS -->
      <div class="content_action">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    content_providers_path, :class => 'btn btn-info' %>
        <% if !current_user.nil? and current_user.is_admin? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_content_provider_path(@content_provider), :class => 'btn btn-primary' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        content_provider_path(@content_provider),
                        :method => 'delete',
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-danger' %>
        <% end %>
      </div>

      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#materials"><i class="<%= icon_class_for_model('materials') %>"></i> Materials</a></li>
        <li>
          <a data-toggle="tab" href="#activity_log"><i class="<%= icon_class_for_model('activity_logs') %>"></i> Activity log</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="materials" class="tab-pane fade in active">
          <div class="row">
            <div class="search-results-count"> 
              <%= pluralize(@content_provider.materials.count, 'training material') %> found 
            </div>
            <% @content_provider.materials.each do |material| %> 
                <%= render material %> 
            <% end %> 
          </div>  
        </div>
        <div id="activity_log" class="tab-pane fade">
          <%= render :partial => "activities/activity_log", :locals => {:resource => @content_provider} %>
        </div>
      </div>
    </div>
  </div>
</div>