<% events = @content_provider.events.from_verified_users %>
<% materials = @content_provider.materials.from_verified_users %>
<% sources = @content_provider.sources.order(enabled: :desc, finished_at: :desc) %>

<div class="wrapper collapsing-wrapper">
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'content_providers/partials/content_provider_info', locals: { content_provider: @content_provider } %>
    <%= render partial: 'content_providers/partials/content_provider_sidebar', locals: { content_provider: @content_provider } %>
  </div>

  <div id="content">
    <div class="row">
      <div class="content_action">
        <%= render partial: 'common/identifiers_dot_org_button',
                   locals: { resource: @content_provider } if TeSS::Config.identifiers_prefix %>

        <% if !current_user.nil? and policy(@content_provider).update? %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_content_provider_path(@content_provider), :class => 'btn btn-primary' %>
        <% end %>

        <% if !current_user.nil? and policy(@content_provider).destroy? %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      content_provider_path(@content_provider),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <ul class="nav nav-tabs">
        <%= tab('Materials', icon_class_for_model('materials'), 'materials', active: materials.any? || events.none?,
                disabled: { check: materials.none?, message: 'No associated training materials' },
                count: materials.count) %>

        <%= tab('Events', icon_class_for_model('events'), 'events', active: materials.none? && events.any?,
                disabled: { check: events.none?, message: 'No associated events' },
                count: events.count) %>

        <% if TeSS::Config.feature['user_source_creation'] && policy(@content_provider).update? %>
          <%= tab('Sources', icon_class_for_model('sources'), 'sources', count: sources.count) %>
        <% end %>
      </ul>

      <div class="tab-content">
        <div id="materials" class="tab-pane fade
              <%= "in active" if materials.any? || events.none? %>
          ">
          <div class="row">
            <% limited_materials = materials.count > 30 ? materials.limit(30) : materials %>
            <div class="search-results-count">
              <%= (limited_materials.count > 0 ? "Showing" : "Found") + " #{pluralize(materials.count, "material")}#{(materials.count > 30) ? " out of #{materials.count}" : ''}." %>
              <%= link_to('View all results.', materials_path(content_provider: @content_provider.title)) if (materials.count > 30) %>
            </div>

            <%= render partial: 'common/masonry_grid', locals: { objects: materials } %>
          </div>
        </div>
        <div id="events" class="tab-pane fade <%= "in active" if materials.none? && events.any? %>">
          <div class="row">
            <% upcoming_events = events.not_finished %>
            <% past_events = events.finished %>

            <div class="row">
              <% limited_events = upcoming_events.count > 30 ? upcoming_events.first(30) : upcoming_events %>
              <div class="search-results-count">
                <%= (upcoming_events.count > 0 ? "Showing" : "Found") + " #{pluralize(limited_events.count, "event")}#{(upcoming_events.count > 30) ? " out of #{upcoming_events.count}" : ''}." %>
                <%= "Found #{pluralize(past_events.count, "past event")}." %>
                <%= link_to('View all results.', events_path(content_provider: @content_provider.title, include_expired: true)) if (upcoming_events.count > 30 || past_events.count > 0) %>
              </div>

              <%= render partial: 'common/masonry_grid', locals: { objects: upcoming_events } %>
            </div>
          </div>
        </div>
        <% if policy(@content_provider).update? && TeSS::Config.feature['sources'] %>
          <div id="sources" class="tab-pane fade">
            <% if policy(Source).new? %>
              <div class="row">
                <%= link_to new_content_provider_source_path(@content_provider), class: 'btn btn-primary' do %>
                  <i class="fa fa-plus-square"></i> Add source
                <% end %>
                <div class="pull-right">
                  <%= info_button("What are sources?") do %>
                    <%= render_markdown(SourcesHelper::SOURCES_INFO) %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="row">
              <%= render partial: 'common/masonry_grid', locals: { objects: sources } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: 'activities/activity_log_button', locals: { resource: @content_provider } %>
  </div>
</div>
