<!-- SIDEBAR -->
<nav class="about-nav">

  <!-- PORTAL -->
  <ul class="nav nav-stacked <%= show_active(show, 'portal') %>">
    <li class="about-page-category">
      <%= link_to 'The Training Portal', portal_path %>
    </li>
    <li><%= about_nav_link('What is it?', portal_path, 'portal') %></li>
  </ul>

  <!-- ABOUT US -->
  <ul class="nav nav-stacked <%= show_active(show, 'us') %>">
    <li class="about-page-category">
      <%= link_to 'The SciLifeLab Training Hub', us_path %>
    </li>
    <% 
      about_us_tabs = [
        {link: us_path , key:'team'},
        {link: us_path , key:'funding'},
        {link: us_path , key:'mission'},
        {link: us_path , key:'involved'},

        {link: us_path , key:'tess_club'},
        {link: us_path , key:'contact'},
        {link: us_path , key:'acknowledgements'},
        {link: us_path , key:'cite'}
      ].select do |tab|
        TeSS::Config.site['about_us_tab_order'].include?(tab[:key])
      end.sort_by do |tab|
        TeSS::Config.site['about_us_tab_order'].index(tab[:key]) || 99
      end
    %>
    <% about_us_tabs.each do |tab| %>
      <li><%= about_nav_link(t("us.keys.#{tab[:key]}"), tab[:link], tab[:key]) %></li>
    <% end %>
  </ul>
</nav>
