<div class='partner-logos'>

  <%= link_to 'https://www.biocommons.org.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Australian-Biocommons-Logo.png',
                  alt: 'Australian Biocommons' %>
  <% end %>

  <%= link_to 'https://www.monash.edu/it/dsai', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/DSAI-Logo.png',
                  alt: 'Department of Data Science and Artificial Intelligence, Monash University' %>
  <% end %>

  <%= link_to 'https://www.federation.edu.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Federation-Logo.png', alt: 'Federation University' %>
  <% end %>

  <%= link_to 'https://www.intersect.org.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Intersect-Australia-Logo.png', alt: 'Intersect Australia' %>
  <% end %>

  <%= link_to 'https://www.qcif.edu.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/QCIF-Logo.png', alt: 'Queensland Cyber Infrastructure Foundation' %>
  <% end %>

  <%= link_to 'https://www.nci.org.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/NCI-Australia-Logo.png',
                  alt: 'National Computational Infrastructure Australia' %>
  <% end %>

  <%= link_to 'https://www.sydney.edu.au/researc/facilities/sydney-informatics-hub.html',
              class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/SIH-Logo.png', alt: 'Sydney Informatics Hub' %>
  <% end %>

</div>
<br/>
