<div class='partner-logos'>

  <%= link_to 'https://aaf.edu.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/AAF-Logo.png', alt: 'Australian Access Federation', style: 'height: 40px;' %>
  <% end %>

  <%= link_to 'https://www.asdaf.space/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/ASDAF-Logo.png', alt: 'Australian Space Data Analysis Facility', style: 'height: 40px;' %>
  <% end %>

  <%= link_to 'https://www.biocommons.org.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Australian-Biocommons-Logo.png', alt: 'Australian Biocommons', style: 'height: 50px;' %>
  <% end %>

  <%= link_to 'https://www.deakin.edu.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Deakin-Logo.png', style: 'height: 60px;' %>
  <% end %>

  <%= link_to 'https://www.federation.edu.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Federation-Logo.png', alt: 'Federation University', style: 'height: 38px;' %>
  <% end %>

  <%= link_to 'https://www.intersect.org.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Intersect-Australia-Logo.png', alt: 'Intersect Australia' %>
  <% end %>

  <%= link_to 'https://www.monash.edu/it/dsai', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/DSAI-Logo.png',
                  alt: 'Department of Data Science and Artificial Intelligence, Monash University' %>
  <% end %>

  <%= link_to 'https://www.qcif.edu.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/QCIF-Logo.png',
                  alt: 'Queensland Cyber Infrastructure Foundation', style: 'height: 48px;'%>
  <% end %>

  <%= link_to 'https://www.nci.org.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/NCI-Australia-Logo.png',
                  alt: 'National Computational Infrastructure Australia' %>
  <% end %>

  <%= link_to 'https://www.newcastle.edu.au/', class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Newcastle-Logo.png', style: 'height: 40px;' %>
  <% end %>

  <%= link_to 'https://www.sydney.edu.au/researc/facilities/sydney-informatics-hub.html',
              class: 'partner-logo', target: '_blank' do %>
    <%= image_tag 'supporters/UoS-Logo.png', alt: 'Sydney Informatics Hub', style: 'height: 60px;' %>
  <% end %>

</div>
<br/>
