<div class="wrapper">
  <div id="sidebar" class="popout-sidebar">
    <%= render partial: 'about_nav', locals: { show: 'developers' } %>
  </div>

  <div id="content">
    <div class="about-block">
      <h2>For Developers</h2>

      <!-- ABOUT TESS DATA -->
      <p><%== t 'developer.license' %></p>

      <div class="row" id="code_and_data">
        <div class="col-md-6 text-center">
          <h3>Software</h3>
          <div class="motivation-box">
            <%= image_tag 'about/GitHub-Mark-64px.png', class: 'motivation-box-graphic-small' %>
            <p>
              The source code for <%= TeSS::Config.site['title_short'] %>
              <%= link_to TeSS::Config.site['repository'], target: '_blank', rel: 'noopener' do %>
                is available on GitHub <i class="icon icon-md arrow-top-right-icon"></i>
              <% end %>.
            </p>
          </div>
          <div class="motivation-box">
            <i class="fa fa-code about-icon motivation-box-graphic-small"></i>
            <p>
              Source code is available under the <%== t 'developer.code_license' %> license.
            </p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <h3>Data</h3>
          <div class="motivation-box">
            <i class="fa fa-plug about-icon motivation-box-graphic-small"></i>
            <p>
              Data in <%= TeSS::Config.site['title_short'] %> can be accessed via
              <%= link_to 'our API', developers_path(anchor: 'api') %>.
            </p>
          </div>
          <div class="motivation-box">
            <i class="fa fa-database about-icon motivation-box-graphic-small"></i>
            <p>
              Data are made available under the <%== t 'developer.data_license' %> license.
            </p>
          </div>
        </div>
      </div>

      <!-- Widgets -->
      <div id="widgets" class="even-about-block">
        <h3>Widgets</h3>
        <p><%== t 'developer.widgets' %></p>
        <p><%= link_to t('developer.widgets_available'), class: 'btn btn-primary', target: '_blank', rel: 'noopener' do %>
            View Our Available Widgets
          <% end %></p>
        <% if TeSS::Config.site['widget_example'].present? %>
          <%= render :partial => 'about/' + TeSS::Config.site['widget_example'] %>
        <% end %>
      </div>

      <!-- API -->
      <div id="api" class="odd-about-block">
        <h3>API</h3>
        <p><%= TeSS::Config.site['title_short'] %> has a fully functioning
          <a href="http://jsonapi.org/" target="_blank" rel="noopener">JSON API<i class="icon icon-md arrow-top-right-icon"></i></a>.
          You can explore our JSON-API by appending .json_api to the end of the URL of most pages
          (excluding parameters). For example:
        </p>

        <p>
          <!-- Events -->
          <% if TeSS::Config.feature['events'] %>
            <code>
              <a href="<%= TeSS::Config.base_url %><%== t 'developer.api_example_1' %>">
                <%= TeSS::Config.base_url %><%== t 'developer.api_example_1' %></a>
            </code><br/>
          <% end %>

          <!-- Materials -->
          <% if TeSS::Config.feature['materials'] %>
            <code>
              <a href="<%= TeSS::Config.base_url %><%== t 'developer.api_example_3' %>">
                <%= TeSS::Config.base_url %><%== t 'developer.api_example_3' %> </a>
            </code><br/>
          <% end %>

          <!-- Providers -->
          <% if TeSS::Config.feature['content_providers'] %>
            <code>
              <a href="<%= TeSS::Config.base_url %><%== t 'developer.api_example_4' %>">
                <%= TeSS::Config.base_url %><%== t 'developer.api_example_4' %> </a>
            </code><br/>
          <% end %>

          <!-- Workflows -->
          <% if TeSS::Config.feature['workflows'] %>
            <code>
              <a href="<%= TeSS::Config.base_url %><%== t 'developer.api_example_5' %>">
                <%= TeSS::Config.base_url %><%== t 'developer.api_example_5' %> </a>
            </code>
          <% end %>
        </p>

        <p>The full documentation for the <%= TeSS::Config.site['title_short'] %> JSON API can be found here:</p>

        <p>
          <%= link_to(asset_path('api/json_api', skip_pipeline: true), class: 'btn btn-primary', target: '_blank') do %>
            <i class="fa fa-file"></i> View our JSON-API documentation
          <% end %>
        </p>

        <p>
          We recommend using the JSON API, but if you have already begun using our old API, technical information
          can still be found here:
        </p>

        <p>
          <%= link_to(asset_path('api/legacy', skip_pipeline: true), class: 'btn btn-default', target: '_blank') do %>
            <i class="fa fa-file"></i> View our legacy API documentation
          <% end %>
        </p>
      </div>
    </div>

    <hr/>

    <%= render partial: 'links', locals: { show: 'developer' } %>
  </div>
</div>
