<div class="wrapper">
  <div id="sidebar" class="popout-sidebar">
    <%= render partial: 'about_nav', locals: { show: 'registering' } %>
  </div>

  <div id="content">
    <div class="about-block">
      <!-- REGISTERING CONTENT IN TESS -->
      <div id="how">
        <h2>Registering Resources in <%= TeSS::Config.site['title_short'] %></h2>

        <p><%= raw t 'register.resources' %></p>

        <div class="row">
          <div class="col-lg-4 motivation-box">
            <div class="motivation-box-title">&hellip; in <%= TeSS::Config.site['title_short'] %>
            </div>
            <%= image_tag 'about/events_listing.png', class: 'motivation-box-graphic' %>
            <p>Be seen by thousands of visitors to our site</p>
          </div>
          <div class="col-lg-4 motivation-box">
            <div class="motivation-box-title">&hellip; in search engines</div>
            <%= image_tag 'about/search_results.png', class: 'motivation-box-graphic' %>
            <p>Be seen in search results more owing to our search-engine optimisation</p>
          </div>
          <div class="col-lg-4 motivation-box">
            <div class="motivation-box-title">&hellip; embedded in other sites</div>
            <%= image_tag 'about/widgets_adopters.png', class: 'motivation-box-graphic' %>
            <p>
              Be seen across all the websites that display site resources through our
              <%= link_to 'widgets', developers_path(anchor: 'widgets') %>.
            </p>
          </div>
        </div>

        <%== raw t 'register.methods' %>
      </div>

      <!-- AUTOMATIC REGISTRATION -->
      <div id="automatic" class="odd-about-block">
        <h3>Automatic Registration</h3>
        <p><%== raw t 'register.automatic' %></p>

        <!-- STRUCTURED DATA -->
        <h4>Structured Data Types</h4>
        <%== raw t 'register.structured' %>

        <!-- BIOSCHEMAS -->
        <div id="bioschemas" class="sub-about-block">
          <h5>Schema.org / Bioschemas</h5>
          <%= image_tag 'about/bioschemas.png', class: 'structured-data-graphic' %>
          <%== raw t 'register.schema' %>
        </div>

        <div id="sitemaps" class="sub-about-block">
          <h5>Sitemaps</h5>
          <%== raw t 'register.sitemap' %>
        </div>

        <!-- API -->
        <div id="api" class="sub-about-block">
          <h5>API</h5>
          <i class="fa fa-plug about-icon structured-data-graphic"></i>
          <%== raw t 'register.api' %>
        </div>

        <!-- CALENDAR -->
        <div id="calendar" class="sub-about-block">
          <h5>Calendar</h5>
          <i class="fa fa-calendar about-icon structured-data-graphic"></i>
          <%== raw t 'register.calendar' %>
        </div>

        <!--  CONTACT US -->
        <div id="sources">
          <%#= render :partial => "common/contact_form"%>
          <% if user_creatable_ingestion_methods.any? %>
            <h4>Sources</h4>
            <%== raw t('register.user_managed_sources') %>

            <%= link_to new_content_provider_path, class: 'btn btn-primary', target: '_blank' do %>
              <i class="fa fa-plus-square"></i> Register provider
            <% end %><br/>

            <h5>Currently available user-managed ingestion methods:</h5>
            <ul>
              <% user_creatable_ingestion_methods.each do |method| %>
                <li><%= method %></li>
              <% end %>
            </ul>

            for other methods...
          <% end %>
          <h4>Contact Us</h4>
          <p><%== raw t('register.advice', contact_email: TeSS::Config.contact_email) %></p>
        </div>
      </div>

      <div id="manual" class="even-about-block">
        <h3>Manual Registration</h3>
        <p><%== raw t 'register.manual' %></p>
        <p>
          <%= link_to new_event_path, class: 'btn btn-primary', target: '_blank' do %>
            <i class="fa fa-plus-square"></i> Register event
          <% end %>
          <%= link_to new_material_path, class: 'btn btn-primary', target: '_blank' do %>
            <i class="fa fa-plus-square"></i> Register material
          <% end %>
        </p>
      </div>
    </div>

    <hr/>

    <%= render partial: 'links', locals: { show: 'registering' } %>
  </div>
</div>
