<div class="wrapper">

  <div id="sidebar" class="popout-sidebar">
    <%= render :partial => 'about_nav', locals: { show: 'registering' } %>
  </div>

  <div id="content" class="">
    <div class="about-block">
      <%= render :partial => 'links', :locals => { 'show': 'registering' } %>

      <!-- REGISTERING CONTENT IN TESS -->
      <div class="row">
        <div id='how' class="h3">Registering Resources in <%= TeSS::Config.site['title_short'] %></div>
        <%= raw t 'register.resources' %>

        <div class="row">
          <div class="col-md-3 motivation_box">
            <div class="include-where">&hellip; in <%= TeSS::Config.site['title_short'] %>
            </div>
            <div class="include-where-graphic">
              <%= image_tag 'about/events_listing.png', size: "200x200" %>
            </div>
            <div class="include-where-text">
              Be seen by thousands of visitors to our site
            </div>
          </div>
          <div class="col-md-3 motivation_box">
            <div class="include-where">&hellip; embedded in other sites</div>
            <!--
            <div class="include-where-graphic">
              <-%= image_tag 'about/widgets_adopters.png', size: "200x200" %>
            </div>
            -->
            <div class="include-where-text">
              <div style="text-align: left;">
                <p>By registering your event it will be:</p>
                <p>Listed on <%= TeSS::Config.site['title_short'] %></p>
                <p>Promoted on other sites that use our widgets</p>
                <p>Appear in more search results because of our search-engine optimisation</p>
              </div>
              Be seen across all the websites that display site resources through our <a href="developers#widgets">
              widgets</a>.
            </div>
          </div>
          <div class="col-md-3 motivation_box">
            <div class="include-where">&hellip; in search engines</div>
            <div class="include-where-graphic">
              <%= image_tag 'about/search_results.png', size: "200x100" %>
            </div>
            <div class="include-where-text">Be seen in search results more owing to our search-engine optimisation</div>
          </div>
        </div>
        <%== raw t 'register.methods' %>
      </div>

      <!-- AUTOMATIC REGISTRATION -->
      <div class="row">
        <div class="odd-about-block">
          <div id='automatic' class="h4">Automatic Registration</div>
          <p><%== raw t 'register.automatic' %></p>
          <!-- STRUCTURED DATA -->
          <div class="h5">Structured Data Types</div>
          <%== raw t 'register.structured' %>

          <!-- BIOSCHEMAS -->
          <div class="sub-about-block">
            <div id='bioschemas' class="h6">Schema.org / Bioschemas</div>
            <div class="row">
              <div class="col-lg-9">
                <%== raw t 'register.schema' %>
              </div>
              <div class="col-lg-3">
                <%= image_tag 'about/bioschemas.png', class: "struct_data_type_logo" %>
                <%= image_tag 'about/schema-org-logo.png', class: "struct_data_type_logo" %>
              </div>
            </div>
          </div>

          <!-- API -->
          <div class="sub-about-block">
            <div id='api' class="h6">API</div>
            <div class="row">
              <div class="col-lg-10">
                <%== raw t 'register.api' %>
              </div>
              <div class="col-lg-2 text-center">
                <i class="fa fa-plug about-icons struct_data_type_logo"></i>
              </div>
            </div>
          </div>

          <!-- CALENDAR -->
          <div class="sub-about-block">
            <div id='calendar' class="h6">Calendar</div>
            <div class="row">
              <div class="col-lg-10">
                <%== raw t 'register.calendar' %>
              </div>
              <div class="col-lg-2 text-center">
                <i class="fa fa-calendar about-icons struct_data_type_logo"></i>
              </div>
            </div>
          </div>

          <!-- OTHER -->
          <div class="sub-about-block">
            <div id='other' class="h6">Other types</div>
            <%== raw t 'register.other_types' %>
          </div>

          <!--  CONTACT US -->
          <div class="sub-about-block">
            <%#= render :partial => "common/contact_form"%>
            <%== raw t('register.advice', contact_email: TeSS::Config.contact_email) %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="even-about-block">
          <div id='manual' class="h4">Manual Registration</div>
          <%== raw t 'register.manual' %>
          <p>
            <%= link_to new_event_path, class: 'btn btn-primary', target: '_blank' do %>
              <i class="fa fa-plus-square"></i> Register event
            <% end %>
            <%= link_to new_material_path, class: 'btn btn-primary', target: '_blank' do %>
              <i class="fa fa-plus-square"></i> Register material
            <% end %>
          </p>
        </div>
      </div>

      <%= render :partial => 'links', :locals => { 'show': 'registering' } %>
    </div>
  </div>
</div>