<div class="wrapper">

  <div id="sidebar" class="popout-sidebar">
    <%= render :partial => 'about_nav', locals: {show: 'registering'} %>
  </div>

  <div id="content" class="">
    <div class="about-block">
      <%= render :partial => 'links', :locals => {'show': 'registering'} %>
        <!-- REGISTERING CONTENT IN TESS -->
      <div class="row">
        <div id='how' class="h3">Registering Resources in TeSS</div>
          <p>You can add your training resources (events and materials) into TeSS to reach bigger audiences, increase impact, and improve event attendance.
            Registering your events and training materials makes them more findable in a variety of different ways to various user bases.
            </p>
          <div class="row">
            <div class="col-md-3 motivation_box">
              <div class="include-where">...In TeSS
              </div>
              <div class="include-where-graphic">
                <%= image_tag 'about/events_listing.png', size: "200x200"%>
              </div>
              <div class="include-where-text">Be seen by thousands of visitors to TeSS
              </div>
            </div>
            <div class="col-md-3 motivation_box">
              <div class="include-where">...Embedded in other sites
              </div>
              <div class="include-where-graphic">
                <%= image_tag 'about/widgets_adopters.png', size: "200x200"%>
              </div>
              <div class="include-where-text">Be seen across all the websites that display our resources through our <a href="#widgets">widgets</a>
              </div>
            </div>
            <div class="col-md-3 motivation_box">
              <div class="include-where">...In search engines
              </div>
              <div class="include-where-graphic">
                <%= image_tag 'about/search_results.png', size: "200x100"%>
              </div>
              <div class="include-where-text">Be seen more in search results due to our search engine optimization
              </div>
            </div>
          </div>
          <p>If you have training materials or events that you think should be displayed in TeSS,
            there are two ways to register them.
            <ul>
              <li>a) Arrange for an automatic registration solution with us </li>
              <li>b) Use our form to register them manually </li>
            </ul>

          </p>
      </div>
      <!-- AUTOMATIC REGISTRATION -->
      <div class="row">
        <div class="odd-about-block">
          <div id='automatic' class="h4">Automatic Registration</div>
          <p>
            We can write a scraper to automatically register the resources from your website into TeSS.
            We run these scrapers each night to add any newly appearing resources into TeSS, and update any changed ones.
            We can write a scraper to include your resources into TeSS if you have a site that:
          </p>
          <div class="row">
            <div class="col-md-3 motivation_box">
              <div class="register-condition-graphic"><i class="fa fa-ellipsis-h about-icons"></i></div>
              <div class="register-condition">Contains more than 3 resources</div>
            </div>
            <div class="col-md-3 motivation_box">
              <div class="register-condition-graphic"><i class="fa fa-code about-icons"></i></div>
              <div class="register-condition">Has some structured data</div>
            </div>
            <div class="col-md-3 motivation_box">
              <div class="register-condition-graphic"><i class="fa fa-flask about-icons"></i></div>
              <div class="register-condition">Is relevant to Life scientists</div>
            </div>
          </div>



          <!-- STRUCTURED DATA-->
          <div class="h5">Structured Data Types</div>
          <p>
            To automatically register your resources, we need to be able to write a program that reliably extracts
            data from your website. This is helped if your website includes some structured data.
          </p>
          <p>
          The following are examples of types of structured data that we can work with.
          If your website contains one or more of these, contact us and we can arrange for a scraper to be written.
          </p>
          <p>If there are none present and you would like to have your resources added to TeSS, we recommend adding Bioschemas to your website.</p>

          <!-- BIOSCHEMAS -->
          <div class="sub-about-block">
            <div id='bioschemas' class="h6">Schema.org / Bioschemas</div>
            <div class="row">
              <div class="col-lg-9">
                <p><%= link_to 'schema.org', 'http://schema.org', target: '_blank'%> is a project ran by a consortium of search engines.
                  They have created an extensive library of simple, lightweight schemas that web-masters can use to explicitly define
                  their websites content in order to improve search engine visibility and interoperability.</p>
                <p>
                  For events, you can use the <%= link_to 'schema.org Event type', 'http://schema.org/Event', class: 'bold', target: '_blank'%>; and for training materials:
                  <%= link_to 'schema.org CreativeWork Type', 'http://schema.org/CreativeWork', target: '_blank'%>.
                </p>
                <p>
                  The schemas provided by schema.org are convoluted and are missing some training specific fields
                  that are useful to us in the training community.
                </p>
                <p>As such, a group called  <%= link_to 'Bioschemas', 'http://bioschemas.org', class: 'bold', target: '_blank'%>
                  have made an extension to schema.org which hides the fields that are not relevant to training, and introduces
                  some new, useful fields.
                </p>
                  <p>
                  <%= link_to 'View Events Schema', 'http://bioschemas.org/specifications/Event/specification/', class: 'btn btn-primary', target: '_blank' %>
                  <%= link_to 'View Materials Schema', 'http://bioschemas.org/specifications/TrainingMaterial/specification/', class: 'btn btn-primary', target: '_blank' %>

                </p>
                <hr>
                <b>Examples of sites using Bioschemas parsed by TeSS</b>
                  <div class="data-type-examples">
                    <%= link_to 'French Institute of Bioinformatics', 'https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fwww.france-bioinformatique.fr%2Fen%2Fevenements_upcoming', class: 'btn btn-success', target: '_blank' %>
                    <%= link_to 'Swiss Institute Bioinformatics', 'https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fwww.sib.swiss%2Ftraining%2Fupcoming-training-events', class: 'btn btn-success', target: '_blank' %>
                  </div>
              </div>
              <div class="col-lg-3">
                <%= image_tag 'about/bioschemas.png', class: "struct_data_type_logo"%>
                <%= image_tag 'about/schema-org-logo.png', class: "struct_data_type_logo"%>

              </div>
            </div>
          </div>
          <!-- API -->
          <div class="sub-about-block">
            <div id='api' class="h6">API</div>
            <div class="row">
              <div class="col-lg-9">
                <p>An API is an Application Programming Interface. Typically, they have an endpoint URL which, when accessed, returns
                  raw, unstyled data in a common exchange format such as XML or JSON.
                </p>
                <p>
                  If you're website has an API that is returns the data for your training materials or events,
                  we can write a client to interface with it. </p>
                <hr>
                <b>Examples of sites with APIs included in TeSS</b>
                <div class="data-type-examples">
                  <%= link_to 'University of Cambridge', 'https://www.training.cam.ac.uk/api/v1/provider/BIOINFO/programmes?fetch=events.sessions,events.topics&format=json', class: 'btn btn-success', target: '_blank' %>
                  <%= link_to 'Dutch Techcentre for Lifesciences', 'https://www.dtls.nl/courses/feed/?filter_course=active', class: 'btn btn-success', target: '_blank' %>
                </div>
              </div>
              <div class="col-lg-3">
                <i class="fa fa-plug about-icons struct_data_type_logo"></i>
              </div>
            </div>
          </div>

          <!-- CALENDAR -->
          <div class="sub-about-block">
            <div id='calendar' class="h6">Calendar</div>
            <div class="row">
              <div class="col-lg-9">
                Many organizations use a calendar application to display their events. These can be custom-made, or utilize
                applications such as Google Calendar.
                The calendar application maintains an underlying file to store and retrieve events from; typically an .ics file.
                We can use this file to extract date, location, and description information from the site and add it to TeSS.
                <hr>
                <b>Examples of calendar files parsed by TeSS</b>
                <div class="data-type-examples">
                  <%= link_to 'NBIS', 'https://nbis.se/training/events.html', class: 'btn btn-success', target: '_blank'%>
                  <%= link_to 'Software Carpentry', 'https://software-carpentry.org/workshops/', class: 'btn btn-success', target: '_blank'%>
                </div>

              </div>
              <div class="col-lg-3">
                <i class="fa fa-calendar about-icons struct_data_type_logo"></i>
              </div>
            </div>
          </div>

          <!-- OTHER -->
          <div class="sub-about-block">
            <div id='other' class="h6">Other types</div>
            <ul>
              <li><b>RSS Feed</b>: an RSS feed is a type of news format. Many websites have such feeds, which list recent posts in a standard format. We can write scripts to parse this format;</li>
              <li><b>Git Repository:</b> a git repository is a directory containing files that can be collaboratively edited. If you are using GitHub (or similar) to develop your training resources and/or use GitHub.io (or similar) to render them, we can write a script that clones the repository and extracts resource information. We may ask you to create a metadata file in YAML format to help us extract the metadata;</li>
              <li><b>SOLR server (or similar):</b> a SOLR server is a search engine that many sites use for their internal search functionality. If you have a publicly accessible SOLR server, we can write a script to interface with it;</li>
              <li><b>Other:</b> if you have training metadata in another structured format (e.g., an XML or JSON dump, a CSV file, a YAML file, or other format), we would be happy to write a script to parse it.</li>
            </ul>
          </div>

          <!--  CONTACT US -->

          <div class="sub-about-block">
            <%#= render :partial => "common/contact_form"%>
            If your site contains any of the above, or you would like advice about annotating with Bioschemas for inclusion
            in TeSS, you can contact us <!--using the form below or --> via e-mail at <a href="mailto:support@tess.elixir-europe.org">support@tess.elixir-europe.org</a>
          </div>
        </div>
    </div>


      <div class="row">
        <div class="even-about-block">
          <div id='manual' class="h4">Manual Registration</div>
          <p>You can add resources manually to TeSS.</p>
          <p>You must first register for an account which is free and simple.
          If you are a member of ELIXIR, you can use the ELIXIR AAI to register and login.
          </p>
          <p>
            Once you have registered and logged in, click the register event and register material buttons on
            the event and materials index pages.
          </p>
          <p>
          <%= link_to new_event_path, class: 'btn btn-primary', target: '_blank' do %>
              <i class="fa fa-plus-square"></i> Register event
          <% end %>
          <%= link_to new_material_path, class: 'btn btn-primary', target: '_blank' do %>
              <i class="fa fa-plus-square"></i> Register material
          <% end %>
          </p>
          <p>
          If you have several resources that update frequently, it is recommended you establish an automated registration solution with us.
          </p>
        </div>


      <!--
        <div id='include' class="h3">How TeSS works</div>
        <%= image_tag 'about/tess_architecture.png', class: "widgets_guide"%>
      </div>
      -->
        </div>
      <%= render :partial => 'links', :locals => {'show': 'registering'} %>

      </div>
    </div>
  </div>