<div class="wrapper">

  <% @feature_count = 0 %>

  <div id="sidebar" class="popout-sidebar">
    <%= render :partial => 'about_nav', locals: { show: 'home' } %>
  </div>

  <div id="content">
    <div class="about-block">
      <%= render :partial => 'links', :locals => { 'show': 'tess' } %>

      <div class="row">

        <div id='trainingregistry' class="h3">The <%== TeSS::Config.site['title'] %></div>
        <p><%== raw t 'about.registry' %></p>

        <!-- EVENTS-->

        <% if TeSS::Config.feature['events'] == true %>
          <div class="row <%= next_about_block(@feature_count += 1) %>">
            <div class="col-lg-2 about-resource-icon">
              <%= link_to events_path do %>
                <%= image_tag("dresa/Training_Default.png", height: "120px", alt: "Events") %>
                <p>Discover Events</p>
              <% end %>
            </div>
            <div class="col-lg-10 about-resource">
              <div id='events' class="h4">Events</div>
              <p><%== raw t 'about.events' %></p>
              <p>
                <%= TeSS::Config.site['title_short'] %> collects event information
                from <%= Event.all.collect { |x| x.content_provider_id }.uniq.count %>
                content providers, supplementing the data with geolocation information found using
                <%== raw t 'about.nominatim' %>.
              </p>
            </div>
          </div>
        <% end %>

        <!-- MATERIALS-->

        <% if TeSS::Config.feature['materials'] == true %>
          <div class="row <%= next_about_block(@feature_count += 1) %>">
            <div class="col-lg-2 about-resource-icon">
              <%= link_to materials_path do %>
                <%= image_tag("dresa/Training_Materials_Default.png", height: "120px", alt: "Events") %>
                <p>Discover Materials</p>
              <% end %>
            </div>

            <div class="col-lg-10 about-resource">
              <div id='materials' class="h4">Materials</div>
              <p><%== raw t 'about.materials' %></p>

              <p><%= TeSS::Config.site['title_short'] %> collects materials from
                <%= Material.all.collect { |x| x.content_provider_id }.uniq.count %>
                content providers.</p>
            </div>
          </div>
        <% end %>

        <!-- WORKFLOWS -->

        <% if TeSS::Config.feature['workflows'] == true %>
          <div class="row <%= next_about_block(@feature_count += 1) %>">
            <div class="row">
              <div class="col-lg-2 about-resource-icon">
                <%= link_to workflows_path do %>
                  <i class="fa fa-sitemap about-icons"></i><br>Discover Workflows
                <% end %>
              </div>

              <div class="col-lg-10 about-resource">
                <div id='workflows' class="h4">Training Workflows</div>
                <p><%== raw t 'about.workflows' %></p>
              </div>
            </div>

            <!-- INDIVIDUAL WORKFLOW TYPES-->
            <div class="sub-about-block">
              <div class="h5">Learning Paths</div>
              <p><%== raw t 'about.learning_paths' %></p>
            </div>

            <div class="sub-about-block">
              <div class="h5">Concept Maps</div>
              <p><%== raw t 'about.concept_maps' %></p>
            </div>

            <div class="sub-about-block">
              <div class="h5">Educational Resource</div>
              <p><%== raw t 'about.resources' %></p>
            </div>

          </div>
        <% end %>

        <!-- SUBSCRIBE-->

        <div class="row <%= next_about_block(@feature_count += 1) %>">
          <div class="row">
            <div class="col-lg-12">
              <div id='subscribe' class="h3">Subscribe</div>
              <p><%== raw t 'about.subscribe' %></p>
              <% if TeSS::Config.feature['subscription'] %>
                <p>The <%= link_to 'subscriptions manager', subscriptions_path %> page may be used to change the
                  frequency
                  of, or to remove, subscriptions.</p>
                <%= image_tag 'about/subscription.png', class: "widgets_guide" %>
              <% else %>
                <p>This feature is <strong>coming soon</strong> in the next phase of DReSA development.</p>
              <% end %>
            </div>
          </div>
        </div>

        <!-- WIDGET & API -->

        <div class="row <%= next_about_block(@feature_count += 1) %>">
          <div class="row">
            <div class="col-lg-12">
              <div id='widget' class="h3">Widgets & API</div>
              <p>To access <%= TeSS::Config.site['title_short'] %> data, <%== raw t 'about.widgets' %></p>
              <%= link_to 'Learn more about Widgets', developers_path(:anchor => "widgets"), class: 'btn btn-primary' %>
              <%= link_to 'Learn more about our API', developers_path(:anchor => "api"), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

      </div>

      <%= render :partial => 'links', :locals => { 'show': 'tess' } %>
    </div>
  </div>
</div>