<div class="wrapper">
  <div id="sidebar" class="popout-sidebar">
    <%= render partial: 'about_nav', locals: { show: 'home' } %>
  </div>

  <div id="content">
    <div class="about-block">
      <h2><%== TeSS::Config.site['title'] %></h2>
      <p><%== raw t 'about.registry' %></p>

      <p><%== raw t 'about.history' %></p>

      <% @feature_count = 0 %>

      <!-- EVENTS-->
      <% if TeSS::Config.feature['events'] == true %>
        <div id="events" class="row <%= next_about_block(@feature_count += 1) %>">
          <h3 class="col-lg-12">Events</h3>
          <div class="col-lg-2 col-lg-push-10 about-resource-icon">
            <%= image_tag('modern/icons/events-icon.svg', height: '65px', alt: 'Events') %>
          </div>
          <div class="col-lg-10 col-lg-pull-2 about-resource">
            <p><%== raw t 'about.events' %></p>

            <p><%== raw t('about.collect_events', site_name: TeSS::Config.site['title_short'], count: Event.distinct.count(:content_provider_id), nominatim: t('about.nominatim'))  %></p>

            <br/>

            <%= link_to events_path do %>
              <%== raw t 'about.discover_events' %> <i class="icon icon-sm arrow-right-icon"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- MATERIALS-->
      <% if TeSS::Config.feature['materials'] == true %>
        <div id="materials" class="row <%= next_about_block(@feature_count += 1) %>">
          <h3 class="col-lg-12">Materials</h3>

          <div class="col-lg-2 col-lg-push-10 about-resource-icon">
            <%= image_tag('modern/icons/materials-icon.svg', height: '65px', alt: 'Materials') %>
          </div>

          <div class="col-lg-10 col-lg-pull-2 about-resource">
            <p><%== raw t 'about.materials' %></p>

            <p><%= raw t('about.collect_materials', site_name: TeSS::Config.site['title_short'], count: Material.distinct.count(:content_provider_id)) %>
            </p>

            <br/>

            <%= link_to materials_path do %>
              <%== raw t 'about.discover_materials' %> <i class="icon icon-sm arrow-right-icon"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- WORKFLOWS -->
      <% if TeSS::Config.feature['workflows'] == true %>
        <div id="workflows" class="row <%= next_about_block(@feature_count += 1) %>">
          <h3 class="col-lg-12">Training Workflows</h3>
          <div class="col-lg-2 col-lg-push-10 about-resource-icon">
            <%= link_to workflows_path do %>
              <%= image_tag('modern/icons/workflows-icon.svg', height: "65px", alt: "Workflows") %>
              <!--                  <p>Discover Workflows</p>-->
            <% end %>
          </div>

          <div class="col-lg-10 col-lg-pull-2 about-resource">
            <p><%== raw t 'about.workflows' %></p>
          </div>

          <div class="col-lg-12">
            <!-- INDIVIDUAL WORKFLOW TYPES-->
            <div class="sub-about-block">
              <h4>Learning Paths</h4>
              <p><%== raw t 'about.learning_paths' %></p>
            </div>

            <div class="sub-about-block">
              <h4>Educational Resource</h4>
              <p><%== raw t 'about.resources' %></p>
            </div>

            <br/>

            <%= link_to workflows_path do %>
              Discover Workflows <i class="icon icon-sm arrow-right-icon"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- SUBSCRIBE-->
      <% if TeSS::Config.feature['subscription'] %>
        <div id="subscribe" class="<%= next_about_block(@feature_count += 1) %>">
          <h3>Subscribe</h3>
          <p><%== raw t 'about.subscribe' %></p>
          <p> raw t('about.subscription_manager', subscriptions_path: subscriptions_path)</p>
          <%= image_tag 'about/subscription.png', style: 'width: 80%' %>
        </div>
      <% end %>

      <!-- WIDGET & API -->
      <div id="widget" class="<%= next_about_block(@feature_count += 1) %>">
        <h3>Widgets & API</h3>
        <p><%== raw t 'about.widgets_and_api' %></p>
        <%= link_to 'Learn more about Widgets', developers_path(anchor: 'widgets'), class: 'btn btn-default' %>
        <%= link_to 'Learn more about our API', developers_path(anchor: 'api'), class: 'btn btn-default' %>
      </div>
    </div>

    <hr/>

    <%= render partial: 'links', locals: { show: 'tess' } %>
  </div>
</div>
