
<div class="wrapper">

  <div id="sidebar" class="popout-sidebar">
    <%= render :partial => 'about_nav', locals: {show: 'home'} %>
  </div>


  <div id="content">
    <div class="about-block">
      <%= render :partial => 'links', :locals => {'show': 'tess'} %>
      <div class="row">

        <div id='trainingregistry' class="h3">The ELIXIR Training Registry</div>
        <p>One of the goals of <%= link_to 'ELIXIR', 'https://elixir-europe.org', target: '_blank' %>
        (Europe's distributed infrastructure for life-science data) is to train research scientists to better use
        available computational infrastructures to address critical research questions. This requires access both to
        face-to-face training opportunities and to disparate training materials and resources, currently dispersed
          across Europe.</p>

        <p>TeSS is ELIXIR's training platform, providing a one-stop shop for trainers and trainees to discover
          online information and content, including training materials, events and interactive tutorials.
          For ELIXIR Nodes, TeSS provides opportunities to promote training events and news, and to contribute
          to a growing catalogue of materials; for trainers, the portal offers an environment for sharing materials
          and event information; for trainees, it offers a convenient gateway via which to identify relevant training
          events and resources, and to perform specific, guided analysis tasks via customised training workflows</p>


        <!-- EVENTS-->
        <div class="row odd-about-block">
          <div class="col-lg-2 about-resource-icon">
            <%= link_to events_path do %>
            <i class="fa fa-calendar about-icons"></i><br>Discover Events
            <% end %>
          </div>
          <div class="col-lg-10 about-resource">
          <div id='events' class="h4">Events</div>
           <p>Events in TeSS are defined as face-to-face or online training opportunities that have set start and end times.
            These primarily take the form of workshops, courses, webinars, etc.; but TeSS also collects information about
            conferences, meetings and hackathons, as these may also provide opportunities for learning.</p>
            <p>
              A significant portion of TeSS' initial content was contributed by the progenitor event-announcement platform,
              <a href="https://www.ncbi.nlm.nih.gov/pubmed/23742982" target="_blank">iAnn.pro</a>.
              TeSS collects event information from <%=Event.all.collect{|x| x.content_provider_id}.uniq.count%> content
              providers, supplementing the data with geolocation information found using
              <%= link_to 'Nominatim', 'https://wiki.openstreetmap.org/wiki/Nominatim' %>.
            </p>
          </div>
        </div>

        <!-- MATERIALS-->
        <div class="row even-about-block">
          <div class="col-lg-2 about-resource-icon">
              <%= link_to events_path do %>
                <i class="fa fa-book about-icons"></i><br>Discover Materials
              <% end %>
            </div>
            <div class="col-lg-10 about-resource">
              <div id='materials' class="h4">Materials</div>
              <p>Materials in TeSS are defined as training resources that can be accessed at any time. These may be in
                a variety of different formats, including online tutorials, videos, PowerPoint presentations, and so on.</p>
              <p>TeSS collects materials from <%= Material.all.collect{|x| x.content_provider_id}.uniq.count %>
                content providers.</p>
            </div>
        </div>

        <!-- WORKFLOWS -->
        <div class="odd-about-block">
          <div class="row">
            <div class="col-lg-2 about-resource-icon">
              <%= link_to events_path do %>
              <i class="fa fa-sitemap about-icons"></i><br>Discover Workflows
              <% end %>
            </div>
            <div class="col-lg-10 about-resource">
              <div id='workflows' class="h4">Training Workflows</div>
              <p>New to TeSS are graphical training tools termed 'Training Workflows'. Three main types of workflow are
                in development: Educational Resources, Learning Pathways and Concept Maps. These encapsulate different
                types of, and/or approaches to, training, at different levels of granularity, within easy-to-use visual
                displays.</p>
            </div>
          </div>

          <!-- INDIVIDUAL WORKFLOW TYPES-->
          <div class="sub-about-block">
            <div class="h5">Learning Paths</div>
            <p>In order to advance their skills, trainees need to embark on a path, or developmental trajectory. To
              facilitate this journey, learning paths aim to structure, within simple visual workflows, the set of
              relevant training resources that trainees need to study in order to accomplish their learning objectives.
              Learning paths are being developed by ELIXIR TeSS, ELIXIR-NL and ELIXIR UK.</p>
          </div>
          <div class="sub-about-block">
            <div class="h5">Concept Maps</div>
            <p>ELIXIR has developed several registries that contain and promote a variety of resources that users can
              exploit: training resources in TeSS; software tools in
              <a href="https://bio.tools" target="_blank">bio.tools</a>; databases, standards and policies in
              <a href="https://fairsharing.org" target="_blank">FAIRsharing</a>. Concept maps provide visual overviews
              of typical data-analysis pipelines, surfacing the relevant tools and databases from these registries,
              and showing how they fit together. Concept maps are being developed by ELIXIR TeSS, ELIXIR-EE and
              ELIXIR-BE.</p>
          </div>
          <div class="sub-about-block">
            <div class="h5">Educational Resource</div>
              <p>In this type of workflow, trainees are introduced to various practical tasks, linked to associated
                online tools and/or databases, within self-contained modules. Each module includes i) succinct statements
                of teaching goals and learning outcomes, to convey to trainees what they will be able to do on completion
                of the module; ii) a series of questions or ‘Reflections’ to provoke critical thinking about the tasks
                that have been completed; iii) additional background information and further reading to help support
                learning and enquiry; and iv) multiple choice quiz questions to evaluate understanding at the end.
                Educational Resources for introductory sequence and structural bioinformatics are currently being
                developed by ELIXIR TeSS, ELIXIR-UK and the UK Structural Bioinformatics group
                (via the FunPDBe project).</p>
          </div>
        </div>

        <!-- SUBSCRIBE-->
        <div class="row even-about-block">
          <div class="row">
            <div class="col-lg-12">
            <div id='subscribe' class="h3">Subscribe</div>
            <p>
              TeSS also provides a subscription feature to help users to stay informed about courses, workshops and
              conferences of interest to them. The service may be customised by selecting the relevant filters, and
              initiated via the subscribe button. Users may choose to receive email notifications about upcoming events,
              or have them automatically added to their preferred calendar application.</p>
              <p>
                The  <%= link_to 'subscriptions manager', subscriptions_path %> page may be used to change the frequency
                of, or to remove, subscriptions.</p>

              <%= image_tag 'about/subscription.png', class: "widgets_guide"%>

          </div>
          </div>
        </div>

        <!-- WIDGET & API -->
        <div class="row odd-about-block">
          <div class="row">
            <div class="col-lg-12">
              <div id='widget' class="h3">Widget & API</div>
              <p>To access TeSS data, organisations may readily import information about relevant events and materials
                to their site using widgets, or may create custom feeds using our API.</p>
              <%= link_to 'Learn more about Widgets', developers_path(:anchor => "widgets"), class: 'btn btn-primary' %>
              <%= link_to 'Learn more about our API', developers_path(:anchor => "api"), class: 'btn btn-primary' %>
          </div>
          </div>
        </div>
    </div>
      <%= render :partial => 'links', :locals => {'show': 'tess'} %>
  </div>
  </div>
</div>