<div class="wrapper">
  <div id="sidebar" class="popout-sidebar">
    <%= render partial: 'about_nav', locals: { show: 'us' } %>
  </div>

  <div id="content">
    <div class="about-block">
      <h2>About Us</h2>
      <% @feature_count = 0 %>

      <% TeSS::Config.site['about_us_tab_order'].each do |key| %>
        <% case key %>
        <% when 'funding' %>
          <%# FUNDING %>
          <div id="funding" class="<%= next_about_block(@feature_count += 1) %>">
            <h3><%== t "us.keys.#{key}" %></h3>
            <%== t 'us.funding' %>
            <% if TeSS::Config.funders.present? %>
              <p>
                <% TeSS::Config.funders.each do |funder| %>
                  <%= link_to(funder['url'], target: '_blank', rel: 'noopener') do -%>
                    <%= image_tag(funder['logo'], class: 'funding-logo') -%>
                  <% end %>
                <% end %>
              </p>
            <% end %>
          </div>
        <% when 'cite' %>
          <%# CITE %>
          <div id=key class="<%= next_about_block(@feature_count += 1) %>">
            <h3><%== t "us.keys.#{key}" %></h3>
            <blockquote>
              <%== t "us.#{key}" %>
            <blockquote>
          </div>
        <% else %>
          <%# OTHERS %>
          <div id=key class="<%= next_about_block(@feature_count += 1) %>">
            <h3><%== t "us.keys.#{key}" %></h3>
            <%== t "us.#{key}" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <hr/>

    <%= render partial: 'links', locals: { show: 'about' } %>
  </div>
</div>

