<div class="wrapper">

  <div id="sidebar" class="popout-sidebar">
    <%= render :partial => 'about_nav', locals: { show: 'us' } %>
  </div>

  <div id="content" class="">
    <div class="about-block">
      <%= render :partial => 'links', :locals => { 'show': 'about' } %>

      <!-- TeSS Club-->
      <div class="row">
        <div class="odd-about-block">
          <div id='tess-club' class="h3">TeSS Club</div>
          <div class="sub-about-block">
            <%== raw t 'us.tess_club' %>
          </div>
        </div>
      </div>

      <!-- CONTACT-->
      <div class="row">
        <div class="even-about-block">
          <div id='contact' class="h3">Contact</div>
          <div class="sub-about-block">
            <%== raw t 'us.contact' %>
          </div>
        </div>
      </div>

      <!-- THE TEAM-->
      <section id="team">
        <div class="row">
          <div class="odd-about-block">
            <div id='team' class="h3">The Team</div>
            <%== raw t 'us.team' %>
         </div>
        </div>
      </section>

      <!-- FUNDING-->
      <section id="funding">
        <div class="row">
          <div class="even-about-block">
            <div id='funding' class="h3">Funding</div>
            <%== raw t 'us.funding' %>
          </div>
        </div>
      </section>

      <!-- ACKNOWLEDGEMENTS-->
      <section id="acknowledgements">
        <div class="row">
          <div class="odd-about-block">
            <div id='acknowledgments' class="h3">Acknowledgements</div>
            <%== raw t 'us.acknowledge' %>
           </div>
        </div>
      </section>

    </div>
    <%= render :partial => 'links', :locals => { 'show': 'about' } %>
  </div>
</div>

