<p><%= t("devise.mailer.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.reset_password_instructions.password_change_request")%></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.mailer.reset_password_instructions.ignore_if_not_you")%></p>
<p><%= t("devise.mailer.reset_password_instructions.password_change_waits")%></p>
