<script>
$(document).ready(function(){
/*EVENTS*/
    /*
    * User clicks ADD NEW for a free text field such as keyword, author, or contributor
    * OR they hit enter whilst in a free text field box
    */
    $(document.body).on('click', '.multiple-input-add', function(e){
        /* remove HTML autocfocus attribute from element */
        this.blur()
        var field_name = $(this).attr('data-field');
        new_multiple_input_field(field_name);
    })
    $(document.body).on('keypress', '.multiple-input', function(e){
        /*ADD NEW LINE IF USER HITS ENTER. CONSIDER ADDING MORE LIKE SHIFT, COMMA, ETC*/
        if (e.which == '13' || e.which == '188') {
            event.preventDefault(); /* stops enter submitting form */
            var field_name = $(this).attr('data-field');
            new_multiple_input_field(field_name);
        }
    })
    /* User deletes a free text field such as keyword, author or contributor */
    $(document.body).on('click', '.multiple-input-delete', function(e){
        var list_item = $(this).parent();
        remove_list_item(list_item)
    })
    /*
    * User selects a new package to add the material to.
    * This adds a new added item and removes it from the dropdown
    * */
    $(document.body).on('click', '.dropdown-option', function(e){
        var selected_val = $(this).val();
        if (selected_val != ''){
            var field_name = $(this).parent().attr('data-field');
            var selected_text = $(this).text();
            add_selected_dropdown_item(field_name, selected_val, selected_text);
            $('#' + field_name + '-id-' + selected_val).remove();
        }
    })
    /*
     * User removes a package from a material.
     * This adds the package back into the dropdown options.
     */
    $(document.body).on('click', '.dropdown-option-delete', function(e){
        var list_item = $(this).parent();
        add_dropdown_option($(this).attr('data-field'),
                            $(this).attr('data-name'),
                            $(this).attr('data-value'));
        list_item.remove()
    })

/*FUNCTIONS*/
    /*
    * Adds a new selected item to the field_name div with the values and names passed
    */
    function add_selected_dropdown_item(field_name, value, name){
        var label = '<input type="text" class="multiple-input" data-field="package" name="material[package_ids][]" ' +
                        'value="' + value + '" style="display:none;"> ' + name + '</text>';
        var delete_button = '<input type="button" value="x" class="dropdown-option-delete" data-field="package"' +
                'data-value="' + value + '" data-name="' + name + '"/>';

        var list_item_div = $('<div class="list-item">').appendTo('.' + field_name);
        $(label).appendTo(list_item_div);
        $(delete_button).appendTo(list_item_div);
    }
    /*
     * Creates a new input box for free text fields as a child of the field_name div
     */
    function new_multiple_input_field(field_name){
        var input_box = '<input type="text" class="multiple-input" data-field="'
                        + field_name + '" name="material[' + field_name + 's][]" />';
        var delete_button = '<input type="button" value="x" class="multiple-input-delete" data-field="keyword" tabindex=300/>';

        var list_item_div = $('<div class="list-item">').appendTo('.' + field_name);
        $(input_box).appendTo(list_item_div).focus();
        $(delete_button).appendTo(list_item_div);
    }
    /* removes an item */
    function remove_list_item(list_item){
        list_item.remove();
    }
    /* Adds a new option to the list of dropdown options. Used when a package is deselected (e.g. delete button pressed)"*/
    function add_dropdown_option(field_name, name, value){
        $('<li class="dropdown-option" id="' + field_name + '-id-' + value + '" ' +
                'value="' + value + '"><a>' + name + '</a></li>').appendTo('.' + field_name + '-options')
    }
})
</script>

<%= form_for @material, :html => {:class => "form-horizontal material"} do |f| %>

    <% if @material.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@material.errors.count, "error") %> prohibited this material from
              being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @material.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:title]) %>
    </div>
    <div class="control-group">
      <%= f.label :url, "URL", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:url]) %>
    </div>
    <div class="control-group">
      <%= f.label :short_description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :short_description, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:short_description]) %>
    </div>
    <div class="control-group">
      <%= f.label :long_description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :long_description, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:long_description]) %>
    </div>
    <div class="control-group">
      <%= f.label :doi, "DOI", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :doi, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:doi]) %>
    </div>
    <!--<div class="control-group">-->
    <!--<%#= f.label :remote_updated_date, :class => 'control-label' %>-->
    <!--<div class="controls">-->
    <!--<%#= f.text_field :remote_updated_date, :class => 'form-control' %>-->
    <!--</div>-->
    <!--<%#= error_span(@material[:remote_updated_date]) %>-->
    <!--</div>-->
    <!--<div class="control-group">-->
    <!--<%#= f.label :remote_created_date, :class => 'control-label' %>-->
    <!--<div class="controls">-->
    <!--<%#= f.text_field :remote_created_date, :class => 'form-control' %>-->
    <!--</div>-->
    <!--<%#= error_span(@material[:remote_created_date]) %>-->
    <!--</div>-->
    <div class="control-group">
      <%= f.label :scientific_topic, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :scientific_topic, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:scientific_topic]) %>
    </div>
    <div class="control-group">
      <%= f.label :target_audience, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :target_audience, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:target_audience]) %>
    </div>

    <div class="control-group">
      <%= f.label :keywords, :class => 'control-label' %>
        <div class="keyword controls multiple-input-list">
            <% @material[:keywords].push('').each do |keyword| %>
              <div class="list-item">
                <input type="text" class="multiple-input" data-field='keyword' name="material[keywords][]" value="<%=keyword%>"/>
                <input type="button" value="x" class="multiple-input-delete" data-field="keyword"/>
              </div>
            <% end %>
        </div>
      <i class="fa fa-plus multiple-input-add" data-field="keyword"> Add new</i>
      <%= error_span(@material[:keywords]) %>
    </div>


    <div class="control-group">
      <%= f.label :licence, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :licence, options_for_select(licence_options_for_select(), @material[:licence].blank? ? "notspecified" : @material[:licence]), :class => 'form-control licence' %>
      </div>
      <%= error_span(@material[:licence]) %>
    </div>

    <div class="control-group">
      <%= f.label :difficulty_level, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :difficulty_level, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:difficulty_level]) %>
    </div>


    <div class="control-group">
      <%= f.label :authors, :class => 'control-label' %>
      <div class="author controls multiple-input-list">
        <% @material[:authors].push('').each do |author| %>
            <div class="list-item">
              <input type="text" class="multiple-input" data-field='author' name="material[authors][]" value="<%=author%>"/>
              <input type="button" value="x" class="multiple-input-delete" data-field="author"/>
            </div>
        <% end %>
      </div>
      <i class="fa fa-plus multiple-input-add" data-field="author"> Add new</i>
      <%= error_span(@material[:authors]) %>
    </div>

    <div class="control-group">
      <%= f.label :contributors, :class => 'control-label' %>
      <div class="contributor controls multiple-input-list">
        <% @material[:contributors].push('').each do |contributor| %>
            <div class="list-item">
              <input type="text" class="multiple-input" data-field='contributor' name="material[contributors][]" value="<%=contributor%>"/>
              <input type="button" value="x" class="multiple-input-delete" data-field="contributor"/>
            </div>
        <% end %>
      </div>
      <i class="fa fa-plus multiple-input-add" data-field="contributor"> Add new</i>
      <%= error_span(@material[:contributors]) %>
    </div>

    <div class="control-group">
      <%= f.label :packages, :class => 'control-label' %>
      <!-- have one empty one so something is always passed -->
      <input name="material[package_ids][]" value="" style="display:none"/>
      <div class="controls" data-field="package">
        <div class="package multiple-input-list">
          <% @material.packages.each do |package| %>
              <div class="list-item">
                <input type="text" class="multiple-input" data-field='package' name="material[package_ids][]"
                       value="<%=package.id%>" style="display:none;"><%=package.name%></input>
                <input type="button" value="x" class="dropdown-option-delete" data-field="package"
                data-value="<%=package.id%>" data-name="<%=package.name%>"/>
              </div>
          <% end %>
        </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select Package
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu package-options" data-field="package" id="material_packages" aria-labelledby="dropdownMenu1">
            <% available_packages_for(@material).each do |package| %>
                <li class="dropdown-option" id="package-id-<%=package.id%>" value="<%=package.id%>"><a><%= package.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= error_span(@material[:packages]) %>
    </div>

    <div class="control-group">
      <%= f.label :content_provider, :class=> 'control-label' %>
      <div class="controls">
        <% content_provider = @material.content_provider %>
        <% if content_provider.nil? %>
            <%= f.select "content_provider_id", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(ContentProvider.all, "id", "title") %>
        <% else %>
            <a href="<%=url_for content_provider %>">
              <%= content_provider.title %>
              <img src="<%= content_provider.logo_url %>"/>
            </a>
        <% end %>
      </div>
    </div>


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                materials_path, :class => 'btn btn-default' %>

<% end %>
