<!-- See: /app/assets/javascripts/materials_form.js -->
<%= javascript_include_tag 'materials_form' %>
<%= javascript_include_tag 'edam' %>
<%= javascript_include_tag 'jquery.autocomplete' -%>
<%= stylesheet_link_tag 'autocomplete' -%>

<script type="application/javascript">
  $(document).ready(function () {
    var edam = <%= raw(edam_names_for_autocomplete.to_json) -%>;
    $('#edam_search').autocomplete({
      orientation: top,
      lookupLimit: 10,
      lookup: edam,
      onSelect: function (suggestion) {
        //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
      }
    });
  });
</script>


<%= form_for @material, :html => {:class => "form-horizontal material"} do |f| %>
    <% if @material.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@material.errors.count, "error") %> prohibited this material from
              being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @material.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:title]) %>
    </div>
    <div class="control-group">
      <%= f.label :url, "URL", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:url]) %>
    </div>
    <div class="control-group">
      <%= f.label :short_description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :short_description, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:short_description]) %>
    </div>
    <div class="control-group">
      <%= f.label :long_description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :long_description, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:long_description]) %>
    </div>
    <div class="control-group">
      <%= f.label :doi, "DOI", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :doi, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:doi]) %>
    </div>
    <!--<div class="control-group">-->
    <!--<%#= f.label :remote_updated_date, :class => 'control-label' %>-->
    <!--<div class="controls">-->
    <!--<%#= f.text_field :remote_updated_date, :class => 'form-control' %>-->
    <!--</div>-->
    <!--<%#= error_span(@material[:remote_updated_date]) %>-->
    <!--</div>-->
    <!--<div class="control-group">-->
    <!--<%#= f.label :remote_created_date, :class => 'control-label' %>-->
    <!--<div class="controls">-->
    <!--<%#= f.text_field :remote_created_date, :class => 'form-control' %>-->
    <!--</div>-->
    <!--<%#= error_span (@material[:remote_created_date]) %>-->
    <!--</div>-->
    <div class="control-group">
      <%= f.label :scientific_topic, :class => 'control-label' %>
      <div class="controls" data-field="scientific_topic">
        <div class="scientific_topic multiple-input-list">
        <input id="edam_search", type="text" name="a"
               class="bp_form_complete-EDAM-name form-control"
               size="100"
               placeholder="Start typing to find EDAM topics"/>
        </div>
      </div>
      <%= error_span(@material[:scientific_topic]) %>
    </div>


    <div class="control-group">
      <%= f.label :target_audience, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :target_audience, :class => 'form-control' %>
      </div>
      <%= error_span(@material[:target_audience]) %>
    </div>

    <%= render :partial => 'materials/partials/multiple_input', :locals => {:field_name => 'keywords', :material => @material, :f => f} %>

    <div class="control-group">
      <%= f.label :licence, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :licence, options_for_select(licence_options_for_select(), @material[:licence].blank? ? "notspecified" : @material[:licence]), :class => 'form-control licence' %>
      </div>
      <%= error_span(@material[:licence]) %>
    </div>

    <%= render :partial => 'materials/partials/multiple_input', :locals => {:field_name => 'authors', :material => @material, :f => f} %>

    <div class="control-group">
      <%= f.label :difficulty_level, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :difficulty_level, options_for_select(difficulty_options_for_select(), @material[:difficulty_level].blank? ? "notspecified" : @material[:difficulty]), :class => 'form-control difficulty' %>
      </div>
      <%= error_span(@material[:difficulty_level]) %>
    </div>


    <%= render :partial => 'materials/partials/multiple_input', :locals => {:field_name => 'contributors', :material => @material, :f => f} %>

    <%= render :partial => 'materials/partials/dropdown_option', :locals => {:field_name => 'package', :material => @material, :f => f} %>

    <%= render :partial => 'materials/partials/add_content_provider', :locals => {:f => f, :material => @material} %>



    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                materials_path, :class => 'btn btn-default' %>

<% end %>
