<li class="masonry-brick media-item list" style="width: 100%;">
  <div class="sub-heading"><%= display_attribute_no_label(material, :resource_type) { |values| values.join(', ') } %></div>

  <div id="event-title" class="masonry-brick-heading">
    <h4><%= material.title %></h4>
  </div>
  <div class="font-size-lg"><%= display_difficulty_level(material) %></div>
  <div class="mt-2">
      <%= scrape_status_icon(material) if current_user and current_user.is_admin? -%>
      <%= missing_icon(material) if current_user and current_user.is_admin? -%>
      <%= suggestion_icon(material) if current_user and current_user.is_admin? -%>
    <div style="word-break: break-word; display: inline-block;">
      <%= strip_tags render_markdown truncate(material.description, length: 300, separator: ' ') %>
    </div>
    <div class="row no-spacing">
      <% if controller_name != 'content_providers' %>
        <div class="col-md-9 no-spacing">
          <%#= display_attribute(material, :scientific_topics) { |values| values.map { |x| x.preferred_label }.join(', ') } %>
          <%#= display_attribute(material, :operations) { |values| values.map { |x| x.preferred_label }.join(', ') } %>
          <%= display_attribute(material, :keywords) { |values| values.join(', ') } %>

          <%# if policy(material).update? && material.edit_suggestion %>
            <%#= render partial: 'common/approve_term_suggestions', locals: { suggestion: material.edit_suggestion } %>
          <%# end %>
        </div>
        <div class="col-md-3 no-spacing">
          <% if material.content_provider %>
            <div class="to-bottom">
            <%= link_to material.content_provider, :class => "pull-right bottom-left" do %>
              <%= image_tag(material.content_provider.image.url, :class => "medium-content-provider-logo") %>
            <% end %>
            </div>
          <% end %>
          <%# TODO Add node logo as well, if material's provider  belongs to a node %>
        </div>
      <% else %>
        <div class="col-md-12 no-spacing">
          <%#= display_attribute(material, :scientific_topics) { |values| values.map { |x| x.preferred_label }.join(', ') } %>
          <%= display_attribute(material, :keywords) { |values| values.join(', ') } %>
          <%#= display_attribute(material, :resource_type) { |values| values.join(', ') } %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to '', material, :class=>"media-view" %>
</li>

