<li class="masonry-brick media-item long">
  <%= link_to material, class: 'link-overlay' do %>
    <%= item_order_badge(collection_item) if defined? collection_item %>

    <div class="masonry-brick-heading">
      <div class="masonry-icons">
        <% if current_user&.is_admin? %>
          <%= missing_icon(material) %>
          <%= scrape_status_icon(material) %>
          <%= suggestion_icon(material) %>
        <% end %>
      </div>
      <div class="sub-heading">
        <%= display_attribute_no_label(material, :resource_type) { |values| values.join(', ') } %>
      </div>
      <h4><%= material.title %></h4>
    </div>

    <div class="clearfix">
      <div class="pull-right">
        <% if material.has_node? -%>
          <%= elixir_node_icon %>
        <% end -%>
        <% if controller_name != 'content_providers' && material.content_provider %>
          <%= image_tag(material.content_provider.image.url, class: 'provider-avatar') %>
        <% end %>
      </div>

      <div class="font-size-lg"><%= display_difficulty_level(material) %></div>

      <%= keywords_and_topics(material) %>
    </div>

    <%= item_comment(collection_item) if defined? collection_item %>
  <% end %>
</li>
