<div class="list-group-item">
  <div class="list-group-item-heading"><%= link_to(material.title, material, class: "btn btn-default") %></div>
  <p class="list-group-item-text">
    <p><%= truncate(material.short_description, length: 300, separator: ' ') %></p>
    <p>Keywords: <%= material.keywords.join(', ') %></p>
    <p>Scientific topics: <%= material.scientific_topic.blank? ? "none" : material.scientific_topic.map{|x| x.preferred_label}.join(', ') %></p>
  </p>

  <%= html_logo_for(material.content_provider).html_safe %>
  <%= link_to '', material, :class=>"media-view"%>
</div>


