<div class="list-group-item">
  <div class="list-group-item-heading"><%= link_to(material.title, material, class: "btn btn-default btn-block") %></div>
  <div class="dont-break-out">
    <p class>
      <%= conditional_icon_for(:not_scraped_recently,material) %>
      <%= truncate(material.short_description, length: 300, separator: ' ') %>
    </p>
    <div class="row" style="margin: 0px;">
      <% if controller_name != 'content_providers' %>
          <div class="col-md-9" style="padding: 0px;">
            <p><b>Scientific topics: </b><%= material.scientific_topics.blank? ? empty_tag(:span, 'none specified') : material.scientific_topics.map{|x| x.preferred_label}.join(', ') %></p>
            <p><b>Keywords: </b><%= material.keywords.blank? ? empty_tag(:span, 'none specified') : material.keywords.join(', ') %></p>
          </div>
          <div class="col-md-3">
            <% if material.content_provider %>
              <%= link_to material.content_provider, :class=>"pull-right" do %>
                  <%= image_tag(material.content_provider.image.url, :class => "small-content-provider-logo") %>
              <% end %>
            <% end %>
            <!-- TODO Add node logo as well, if material's provider  belongs to a node -->
          </div>
      <% else %>
          <div class="col-md-12" style="padding: 0px;">
            <p><b>Scientific topics: </b><%= material.scientific_topics.blank? ? empty_tag(:span, 'none specified') : material.scientific_topics.map{|x| x.preferred_label}.join(', ') %></p>
            <p><b>Keywords: </b><%= material.keywords.blank? ? empty_tag(:span, 'none specified') : material.keywords.join(', ') %></p>
          </div>
      <% end %>
    </div>
  </div>
  <%= render :partial => 'materials/partials/material_schemaorg', :locals => {:material => material} %>
  <!--<#%= link_to '', material, :class=>"media-view"%>-->
  <!--<#%= link_to '', material, :class=>"media-view"%>-->
</div>


