<!-- SIDEBAR | RESULTS -->
<div class="row">
  <!-- SIDEBAR -->
  <% if SOLR_ENABLED %>
  <div class="col-md-3">
    <%= render :partial=> "search/common/facet_sidebar", :locals=>{:resources=>@materials} %>
  </div>

  <!-- RESULTS -->
  <div class="col-md-9">
    <!-- SEARCH BAR -->
    <div class="row">
      <%= render :partial=> "search/common/search_box", :locals=>{:resource_path => materials_path} %>
    </div>
    
    <!-- APPLIED FILTERS AND NUMBER OF RESULTS -->
    <div class="row">
      <%= render :partial => "search/common/search_info", :locals=>{:resource=>@materials}  %>
    </div>

    <!-- SORT BY OPTIONS    -->
    <div class="row">
      <%= render :partial => "search/common/sort_by", :locals=>{:resource=>@events}  %>
    </div>
    <%#= render :partial=> "search/common/pagination_bar", :locals=>{:resources=>@materials} %>
    <hr>
    <% @materials = @materials.results %>
    <% end %>
    <!-- ACTUAL RESULTS LIST -->
    <div class="listing_container">
      <% @materials.each do |material| %>
            <%= render material %>
      <% end %>    
    </div>
  </div>
</div>
