<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar mr-4">
      <div class="row">
        <%= render partial: "search/common/facet_sidebar",
                   locals: { resources: @materials_results, resource_type: Material } %>
      </div>
    </div>
  <% end %>

  <div id="content">
    <div class="row">

      <h2>Training materials</h2>
    </div>
    <div class="row">
      <!-- Register button -->
      <%= link_to new_material_path, class: 'btn btn-primary' do %>
        <i class="fa fa-plus-square"></i> Register training material
      <% end %>
      <!-- Check subscription feature -->
      <% if TeSS::Config.feature['subscription'] %>
        <%= render partial: 'subscriptions/subscribe_button', locals: { type: 'Material' } %>
      <% end %>
      <!-- Info -->
      <div class="pull-right">
        <% if @facet_params[:resource_type] == 'e-learning' %>
          <%= info_button("What are e-learning materials in #{TeSS::Config.site['title_short']}?") do %>
            <%= render_markdown(MaterialsHelper::ELEARNING_MATERIALS_INFO) %>
          <% end %>
        <% else %>
          <%= info_button("What are materials in #{TeSS::Config.site['title_short']}?") do %>
            <%= render_markdown(MaterialsHelper::MATERIALS_INFO) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if TeSS::Config.solr_enabled %>
      <div class="row">
        <%= render partial: "search/common/search_box", locals: { resource_path: materials_path } %>
        <%= render partial: "search/common/search_info",
                   locals: { resources: @materials_results, resource_type: 'material' } %>
        <%= render partial: "search/common/search_filters",
                   locals: { resources: @materials_results } %>
      </div>
      <div class="row">
        <button class="btn btn-default" id="sidebar-toggle" type="button" autocomplete="off">
          <i class="icon icon-md icon-greyscale filter-icon"></i> Filters
        </button>
      </div>
    <% end %>

    <div class="tab-content">

<!--      <div id="home" class="tab-pane fade in active">-->
    <%= render partial: "search/common/pagination_bar", locals: { resources: @materials } %>


    <ul class="masonry media-grid" style="margin-top: 15px;">
    <%= render @materials %>
    </ul>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @materials } %>

<!--      </div>-->
    </div>

  </div>

</div>
