<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <div class="row">
        <%= render partial: "search/common/facet_sidebar",
                   locals: { resources: @materials_results, resource_type: Material } %>
      </div>
    </div>
  <% end %>

  <div id="content">
    <div class="row">
      <h2>Training materials</h2>
    </div>
    <% content_for :buttons do %>
      <!-- Register button -->
      <%= link_to new_material_path, class: 'btn btn-primary' do %>
        Register training material
      <% end %>
      <!-- Info -->
      <% if @facet_params[:resource_type] == 'e-learning' %>
        <%= info_button("What are e-learning materials in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
          <%= render_markdown(elearning_materials_info) %>
        <% end %>
      <% else %>
        <%= info_button("What are materials in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
          <%= render_markdown(materials_info) %>
        <% end %>
      <% end %>
    <% end %>

    <% if TeSS::Config.solr_enabled %>
      <%= render partial: "search/common/search_panel", locals: { resources: @materials_results,
                                                                  resource_type: Material,
                                                                  show_subscription_button: true } %>
    <% end %>

    <div class="tab-content">

<!--      <div id="home" class="tab-pane fade in active">-->
    <%= render partial: "search/common/pagination_bar", locals: { resources: @materials } %>


    <ul class="masonry media-grid" style="margin-top: 15px;">
    <%= render @materials %>
    </ul>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @materials } %>

<!--      </div>-->
    </div>

  </div>

</div>
