
<!-- SIDEBAR | RESULTS -->
<div class="row wrapper">

  <% if SOLR_ENABLED %>

      <!-- SIDEBAR -->
      <div class="col-md-3" id="sidebar">
        <%= render :partial => "search/common/facet_sidebar", :locals => {:resources => @materials} %>
      </div>

      <div class="col-md-9">

        <!-- CREATE NEW BUTTON -->
        <div class="row">
          <%= link_to new_material_path, :class=>"btn btn-primary" do %>
              <i class="fa fa-plus-square"></i> Register training material
          <% end %>
        </div>

        <!-- SEARCH BAR -->
        <div class="row">
          <%= render :partial=> "search/common/search_box", :locals=>{:resource_path => materials_path} %>
        </div>

        <!-- APPLIED FILTERS AND NUMBER OF RESULTS -->
        <div class="row">
          <div class="col-md-8">
            <%= render :partial => "search/common/search_info", :locals=>{:resources=>@materials}  %>
          </div>
          <!-- SORT BY OPTIONS    -->
          <div class="col-md-4" style="padding-top:5px;">
            <%= render :partial => "search/common/sort_by", :locals=>{:resources=>@materials}  %>
          </div>
        </div>
        <%#= render :partial=> "search/common/pagination_bar", :locals=>{:resources=>@materials} %>
        <hr>
        <!-- RESULTS -->
        <% @materials = @materials.results %>
  <% end %>

  <!-- ACTUAL RESULTS LIST -->
  <% unless @materials.blank? %>
      <!--<div class="list-group">-->
      <!--<div class="list-group-item"><span class="badge">12</span> New</div>-->
      <!--<li class="list-group-item"><span class="badge">5</span> Deleted</li>-->
      <!--<li class="list-group-item"><span class="badge">3</span> Warnings</li>-->
      <!--</div>-->
      <div class="list-group">
        <% @materials.each do |material| %>
            <%= render material %>
        <% end %>
      </div>
  <% end %>
  </div>
</div>


