
<!-- SIDEBAR | RESULTS -->
<div class="row wrapper">

  <% if SOLR_ENABLED %>

      <!-- SIDEBAR -->
      <div class="col-md-3" id="sidebar">
        <%= render :partial => "search/common/facet_sidebar", :locals => {:resources => @materials} %>
      </div>

      <div class="col-md-9">

        <!-- CREATE NEW BUTTON -->
        <div class="row">
          <div class="col-md-6 col-xs-6" style="padding-left: 0px;">
            <%= link_to new_material_path, :class=>"btn btn-primary" do %>
                <i class="fa fa-plus-square"></i> Register training material
            <% end %>
          </div>
          <div class="col-md-6 col-xs-6 pull-right">
            <script>
              $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
              });
            </script>
            <% material_info_popover = " In the context of TeSS, materials are links to online training resources (presentations, videos, exercises, etc.) made available by 3rd-party content providers, along with description and other meta information (e.g. ontological categorization, keywords, etc.)." %>
            <button class="btn btn-default pull-right" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="What are materials in TeSS?" data-content="<%= material_info_popover %>">
              <i class="glyphicon glyphicon-info-sign info-block"></i>
            </button>
          </div>
        </div>

        <!-- SEARCH BAR -->
        <div class="row">
          <%= render :partial=> "search/common/search_box", :locals=>{:resource_path => materials_path} %>
        </div>

        <!-- APPLIED FILTERS AND NUMBER OF RESULTS -->
        <div class="row">
          <div class="col-md-8">
            <%= render :partial => "search/common/search_info", :locals=>{:resources=>@materials}  %>
          </div>
          <!-- SORT BY OPTIONS    -->
          <div class="col-md-4" style="padding-top:5px;">
            <%= render :partial => "search/common/sort_by", :locals=>{:resources=>@materials}  %>
          </div>
        </div>

        <!-- APPLIED FILTERS -->
        <div class="row">
          <div class="col-md-12">
            <%= render :partial => "search/common/search_filters", :locals => {:resources => @materials} %>
          </div>
        </div>

        <!-- PAGINATION -->
        <div class="row">
          <%= render :partial=> "search/common/pagination_bar", :locals=>{:resources=>@materials} unless (@materials.blank? or @materials.results.blank?) %>
        </div>

        <hr>
        <!-- RESULTS -->
        <% @materials = @materials.results unless @materials.blank? %>
  <% end %>

  <!-- ACTUAL RESULTS LIST -->
  <% unless @materials.blank? %>
      <!--<div class="list-group">-->
      <!--<div class="list-group-item"><span class="badge">12</span> New</div>-->
      <!--<li class="list-group-item"><span class="badge">5</span> Deleted</li>-->
      <!--<li class="list-group-item"><span class="badge">3</span> Warnings</li>-->
      <!--</div>-->
      <div class="list-group">
        <% @materials.each do |material| %>
            <%= render material %>
        <% end %>
      </div>
  <% end %>
  </div>
</div>


