<div class="wrapper collapsing-wrapper">
  <div class="collapsing-sidebar" id="sidebar">
    <%= render partial: 'content_providers/partials/content_provider_info', locals: { content_provider: @material.content_provider } %>
    <%= render partial: 'nodes/partials/associated_node_info', locals: { associated_nodes: @material.associated_nodes } %>
    <%= render(partial: 'users/partials/user_info', locals: { user: @material.user }) if current_user.try(:is_admin?) %>
  </div>

  <div id="content">
    <div id="home">
      <div>
        <%= broken_link_notice(@material) if @material.failing? %>
        <%= archived_notice(@material) if @material.archived? %>

        <!-- Field: title -->
        <div class="sub-heading"><%= display_attribute_no_label(@material, :resource_type) { |values| values.join(', ') } %></div>
        <h2 class="mt-0">
          <% if current_user&.is_admin? %>
            <%= missing_icon(@material, 'large') %>
            <%= scrape_status_icon(@material, 'large') %>
            <%= suggestion_icon(@material, 'large') %>
          <% end %>

          <%=t '.title', :default => @material.title %>
        </h2>

        <div class="content-actions">
          <div class="content-viewer-actions">
            <%= external_link_button 'View material', @material.url, track: @material %>
            <% if @material.persisted? %>
              <%= render partial: 'common/identifiers_dot_org_button', locals: { resource: @material } if TeSS::Config.identifiers_prefix %>
              <%= star_button(@material) if user_signed_in? %>
            <% end %>
          </div>
          <% if @material.persisted? %>
            <div class="content-manager-actions">
              <% if policy(@material).update? %>
                <%= link_to 'Clone', clone_material_path(@material), class: 'btn btn-default' %>
                <%= edit_button(@material) %>
              <% end %>
              <%= delete_button(@material) if policy(@material).destroy? %>
            </div>
          <% end %>
        </div>

        <%= embed_youtube(@material) %>

        <!-- Field: long description -->
        <div class="description">
          <%= render_markdown @material.description %>
        </div>
      </div>

      <div>
        <!-- Other metadata -->
        <%= render partial: 'common/extra_metadata', locals: { resource: @material } %>

        <% if policy(@material).update? && @material.edit_suggestion %>
          <%= render partial: 'common/approve_term_suggestions', locals: { suggestion: @material.edit_suggestion } %>
        <% end %>

        <!-- Field: events -->
        <% if @material.events.any? %>
          <div>
            <b>Related events: </b>
            <ul>
              <% @material.events.not_finished.each do |event| %>
                <li><%= link_to event.title, event %></li>
              <% end %>
              <% @material.events.finished.each do |event| %>
                <li><%= link_to event.title, event %> (ended)</li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- Field: eternal resources -->
        <div>
          <% if @material.external_resources.any? %>
            <b>External resources: </b>
            <%= render partial: 'common/external_resources_list', locals: { external_resources: @material.external_resources} %>
          <% end %>
        </div>

        <%= render :partial => 'materials/partials/twitter_card', :locals => {:material => @material} %>
      </div>
    </div>
    <%= render partial: 'activities/activity_log_button', locals: { resource: @material } if @material.persisted? %>
  </div>
</div>
