<script>
    $(document).ready(function () {
        reposition_tiles('masonry', 'masonry-brick');
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            reposition_tiles('masonry', 'masonry-brick');
        })
    })
</script>

<%- model_class = Material -%>

<div class="wrapper collapsing-wrapper">
  <!-- SIDEBAR -->
  <div class="collapsing-sidebar" id="sidebar">
    <%= render :partial => "content_providers/partials/content_provider_info", :locals => {:content_provider => @material.content_provider} %>
  </div>
  <div id="content">
    <div class="row">
      <div class="content_action">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    :back, :class => 'btn btn-info'  %>
        <% if !current_user.nil? and policy(@material).update? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_material_path(@material), :class => 'btn btn-primary' %>
        <% end %>
        <% if !current_user.nil? and policy(@material).destroy? %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        material_path(@material),
                        :method => 'delete',
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger' %>
        <% end %>
        <a href="<%= @material.url %>" target="_blank" class="btn btn-success"><span class="fa fa-external-link"></span> View material</a>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <%= tab('Material', icon_class_for_model('materials'), 'home', active: true) %>

        <%= tab('Packages', icon_class_for_model('packages'), 'packages',
                disabled: { check: @material.packages.none?, message: 'This material is currently not included in any packages' }) %>

        <%= tab('Activity log', icon_class_for_model('activity_logs'), 'activity_log',
                disabled: { check: @material.activities.none?, message: 'No activities recorded' }) %>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="row">
            <div class="page-header dont-break-out">
              <h2><%=t '.title', :default => @material.title %></h2>
              <p><%= link_to @material.url, @material.url, :class =>'h5', :target => "_blank" %></p>
              <% if not @material.long_description.blank? %>
                  <p><%= render_markdown(@material.long_description) %></p>
              <% elsif not @material.short_description.blank? %>
                  <p><%= render_markdown(@material.short_description)%></p>
              <% end %>
            </div>
            <div>
              <%= render partial: 'common/extra_metadata', locals: { resource: @material } %>
              <b>External resources: </b>
              <% if @material.external_resources.none? %>
                  <%= empty_tag(:span, 'none specified') %>
              <% else %>
                  <%= render partial: 'common/external_resources_list', locals: { external_resources: @material.external_resources} %>
              <% end %>

              <%= render :partial => 'materials/partials/material_schemaorg', :locals => {:material => @material} %>
            </div>
          </div>
        </div>
        <div id="packages" class="tab-pane fade">
          <%= render :partial => "packages/packages_list", :locals => {:resource => @material} %>
        </div>
        <div id="activity_log" class="tab-pane fade">
          <%= render :partial => "activities/activity_log", :locals => {:resource => @material} %>
        </div>
      </div>
    </div>
  </div>
</div>
