<%- model_class = Material -%>

<div class="row wrapper">
  <!-- SIDEBAR -->
  <div class="col-md-3 col-xs-3" id="sidebar">
    <%= render :partial => "materials/partials/material_owner" %>
  </div>

  <div class=" col-md-9 col-xs-9">
    <div class="row">
      <div class="content_action">
          <%= link_to t('.back', :default => t("helpers.links.back")),
                      materials_path, :class => 'btn btn-info'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_material_path(@material), :class => 'btn btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      material_path(@material),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
          <button class="btn btn-success"><a href="<%= @material.url %>" target="_blank">View material <span class="fa fa-external-link" aria-hidden="true"></span></a></button>
      </div>
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#home"><i class="fa fa-book"></i> Material</a></li>
        <li>
          <a data-toggle="tab" href="#packages"><i class="fa fa-folder-open"></i> Packages</a>
        </li>
        <li>
          <a data-toggle="tab" href="#activity_log"><i class="fa fa-clock-o"></i> Activity Log</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="page-header">
            <h2><%=t '.title', :default => @material.title %></h2>
            <p><%= link_to @material.url, @material.url, :class =>'h4' %></p>
            <% if not @material.long_description.blank? %>
                <p><%= render_markdown(@material.long_description) %></p>
          <% elsif not @material.short_description.blank? %>
                <p><%= render_markdown(@material.short_description)%></p>
          <% end %>
          </div>
          <div>
            <p><b><%= model_class.human_attribute_name(:scientific_topic).pluralize %>: </b><%= @material.scientific_topic.blank? ? empty_tag(:span, 'none specified') : @material.scientific_topic.map{|x| x.preferred_label}.join(', ') %></p>
            <p><b><%= model_class.human_attribute_name(:keywords) %>: </b><%= @material.keywords.blank? ? empty_tag(:span, 'none specified') : @material.keywords.join(', ') %></p>
            <p><b><%= model_class.human_attribute_name(:target_audience) %>: </b><%= @material.target_audience.blank? ? empty_tag(:span, 'none specified') : @material.target_audience.join(', ') %></p>
            <p><b><%= model_class.human_attribute_name(:difficulty_level) %>: </b><%= (@material.difficulty_level.blank? or @material.difficulty_level == 'notspecified') ? empty_tag(:span, 'none specified') : difficulty_name_for_abbreviation(@material.difficulty_level) %></p>
            <p><b><%= model_class.human_attribute_name(:licence) %>: </b><%= (@material.licence.blank? or @material.licence == 'notspecified') ? empty_tag(:span, 'none specified') : licence_name_for_abbreviation(@material.licence) %></p>
            <p><b><%= model_class.human_attribute_name(:authors) %>: </b><%= @material.authors.blank? ? empty_tag(:span, 'none specified') : @material.authors.join(', ') %></p>
            <p><b><%= model_class.human_attribute_name(:contributors) %>: </b><%= @material.contributors.blank? ? empty_tag(:span, 'none specified') : @material.contributors.join(', ') %></p>
            <p><b>DOI: </b><%= @material.doi.blank? ? empty_tag(:span, 'none specified') : @material.doi %></p>
            <p><b>Created: </b><%= @material.remote_created_date.blank? ? empty_tag(:span, 'none specified') : @material.remote_created_date %></p>
            <p><b>Last updated: </b><%= @material.remote_updated_date.blank? ? empty_tag(:span, 'none specified') : @material.remote_updated_date %></p>
          </div>
        </div>
        <div id="packages" class="tab-pane fade">
          <% if @material.packages.empty? %>
              <%= empty_tag(:p, 'This material is not included in any packages.', "padding-top: 10px;") %>
          <% else %>
              <%= material_package_list(@material).join(", ").html_safe %>
          <% end %>
        </div>
        <div id="activity_log" class="tab-pane fade">
          <%= render :partial => "materials/partials/material_activities" %>
          <!--<%#= link_to(material_activities_path(@material)) %>-->
        </div>
      </div>
    </div>
  </div>
</div>