<h4><%= t('events.long') %></h4>
<ul>
  <% events.each do |event| %>
    <li>
      <%= link_to event do %>
        <%= event.title %>
        -
        <%= l event.start, format: :long if event.start %> - <%= l event.end, format: :long if event.end %> 
      <% end %>
    </li>
  <% end %>
</ul>