<div itemscope itemtype="http://schema.org/Event">
  <% address_string = [event.venue, event.city, event.country].reject { |field_value| field_value.blank? }.join(", ")%>

  <%= content_tag :span, event.title, {itemprop: 'name', content: event.title, class: 'schemaorg-element'} %>
  <%= content_tag :span, event.url, {itemprop: 'url', content: event.url, class: 'schemaorg-element'} %>
  <%= content_tag :span, event_url(event), {itemprop: 'sameAs', content: event_url(event), class: 'schemaorg-element'} %>
  <%= content_tag :span, event.description, {itemprop: 'description', content: event.description, class: 'schemaorg-element'} if event.description and not event.description.empty? %>
  <%= content_tag :span, event.start, {itemprop: 'startDate', content: event.start, class: 'schemaorg-element'}  if event.start and not event.start.nil? %>
  <%= content_tag :span, event.end, {itemprop: 'endDate', content: event.end, class: 'schemaorg-element'} if event.end and not event.end.nil? %>
  <%  if event.organizer and not event.organizer.empty? %>
      <span itemscope itemprop='organizer' itemtype="http://schema.org/Organization">
        <%= content_tag 'span', event.organizer, {itemprop: 'name', content: event.organizer, class: 'schemaorg-element'} %>
      </span>
     <%# end if event.organizer and not event.organizer.empty? %>
  <% end %>
  <% if (event.venue and not event.venue.empty?) or
        (event.city and not event.city.empty?) or
        (event.county and not event.county.empty?) or
        (event.country and not event.country.empty?) or
        (event.postcode and not event.postcode.empty?) %>
    <span itemscope itemprop='location' itemtype="http://schema.org/PostalAddress">
      <%= content_tag 'span', address_string, {itemprop: 'name', content: address_string, class: 'schemaorg-element'} if address_string and not address_string.empty? %>
      <%= content_tag 'span', event.venue, {itemprop: 'streetAddress', content: event.venue, class: 'schemaorg-element'} if event.venue and not event.venue.empty? %>
      <%= content_tag 'span', event.city, {itemprop: 'addressLocality', content: event.city, class: 'schemaorg-element'} if event.city and not event.city.empty? %>
      <%= content_tag 'span', event.county, {itemprop: 'addressRegion', content: event.county, class: 'schemaorg-element'} if event.county and not event.county.empty? %>
      <%= content_tag 'span', event.country, {itemprop: 'addressCountry', content: event.country, class: 'schemaorg-element'} if event.country and not event.country.empty? %>
      <%= content_tag 'span', event.postcode, {itemprop: 'postalCode', content: event.postcode, class: 'schemaorg-element'} if event.postcode and not event.postcode.empty? %>
    </span>
  <% end %>
  <%# end of 'valid' schema.org - bioschemas stuff from here on out%>
  <% if event.scientific_topics and not event.scientific_topics.nil? %>
      <% event.scientific_topics.each do |topic|  %>
          <%= content_tag :span, topic.preferred_label, {itemprop: 'scientificTopics', content: topic.preferred_label, class: 'schemaorg-element'} %>
      <% end %>
  <% end %>
  <%= schemaorg_field(event, 'host_institutions').html_safe %>
  <%= schemaorg_field(event, 'contact').html_safe %>
  <%= schemaorg_field(event, 'sponsors').html_safe %>
  <%= schemaorg_field(event, 'target_audience').html_safe %>
  <%= schemaorg_field(event, 'capacity').html_safe %>
  <%= schemaorg_field(event, 'event_types').html_safe %>
  <%= schemaorg_field(event, 'eligibility').html_safe %>
  <%= schemaorg_field(event, 'keywords').html_safe %>
</div>
