<div style="width: 100%; height: 750px; margin-top: 10px;" id="map-canvas"></div>

<script>
    var map;
    var events = [];
    var loadedMapScript = false;

    function prep() {
        <% unless events.blank? %>
        <% events.each do |event|  %>
        var event_display = "<a href='<%=event.url%>' target='_blank'>" +
                "<h3><%=event.title%></h3></a>" +
                "<b>Date: </b><%=event.start%><br />" +
                "<b>Location:</b> <%=event.city%>, <%=event.country%><br />" +
                "<b>Organizer:</b> <%=event.organizer%><br />"
        events.push([
            <%=event.latitude%>,
            <%=event.longitude%>,
            event_display,
            "<%=event.title%>"
        ]);
        <% end %>
        <% end %>
    }

    function initialize() {
        prep();

        /* center on (0, 0). Map center and zoom will reconfigure later (fitbounds method)*/
        var mapOptions = {
            zoom: 10,
            center: new google.maps.LatLng(0, 0)
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        setEvents(map, events);
        loadedMapScript = true;
    }

    function setEvents(map, events) {
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow({content: "Content String"});
        for (var i = 0; i < events.length; i++) {
          // Check lat/lon are defined to avoid "Too much recursion" error
          if (typeof events[i][0] === 'number' && typeof events[i][1] === 'number') {
            var new_marker = createMarker(map, events[i], infowindow);
            bounds.extend(new_marker.position);
          }
        }
        map.fitBounds(bounds);
    }

    function createMarker(map, event, infowindow) {
        var position = new google.maps.LatLng(event[0], event[1]);
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: event[3]
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(event[2]);
            infowindow.open(map, marker);
        });
        return marker;
    }
</script>
