<% resource = suggestion.suggestible %>
<div class="suggestions">
  <div class="term_suggestions">
    <% unless suggestion.ontology_term_links.empty? -%>
    <b>Suggested terms:</b>
    <% end -%>
    <% suggestion.ontology_term_links.each do |link, i| %>
                <span class="dropdown <%= link.field -%>_suggestion">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= link.ontology_term.preferred_label %>
                    <span class="muted">(<%= link.field.tr('_', ' ').singularize-%>)</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu suggestion_action"
                      data-resource_type="<%=resource.class.name.underscore.pluralize %>"
                      data-resource_id="<%=resource.id%>"
                      data-label="<%=link.ontology_term.preferred_label%>"
                      data-uri="<%=link.term_uri%>"
                      data-field="<%=link.field%>">
                    <li><a class="btn accept_suggestion"><b>✓ Accept</b> <br>(This <%=resource.class.name.downcase%> <b>is</b> about <em><%= link.ontology_term.preferred_label %></em>)</a></li>
                    <li><a class="btn reject_suggestion"><b>✗ Reject</b> <br> (This <%=resource.class.name.downcase%> <b>is not</b> about <em><%= link.ontology_term.preferred_label %></em>)</a></li>
                  </ul>
                </span>
    <% end %>
  </div>
  <div class="data_suggestions">
    <%if suggestion.data -%>
    <br/>
    <b>Suggested updates:</b>
    <% suggestion.data_fields.each do |key, value| -%>
      <span class="dropdown ">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= key.titleize %>: <%= value -%>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu data_suggestion_action"
              data-resource_type="<%=resource.class.name.underscore.pluralize %>"
              data-resource_id="<%=resource.id%>"
              data-data_field="<%= key %>">
            <li><a class="btn accept_suggestion"><b>✓ Accept</b> <br>(This <%=resource.class.name.downcase%> <b>has</b> field <em><%= key %></em>: <%= value -%>)</a></li>
            <li><a class="btn reject_suggestion"><b>✗ Reject</b> <br> (This <%=resource.class.name.downcase%> <b>doesn't have</b> field <em><%= key %></em>: <%= value -%>)</a></li>
          </ul>
        </span>
    <% end -%>
  <% end -%>
  </div>
</div>
