<% resource = suggestion.suggestible %>
<div class="suggestions">
  <div class="topic_suggestions">
    <% if !suggestion.scientific_topics.nil? && !suggestion.scientific_topics.empty? -%>
    <b>Suggested scientific topics:</b>
    <% end -%>
    <% suggestion.scientific_topics.each do |scientific_topic, i| %>
                <span class="dropdown ">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= scientific_topic.preferred_label %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu suggestion_action"
                      data-resource_type="<%=resource.class.name.underscore.pluralize %>"
                      data-resource_id="<%=resource.id%>"
                      data-topic="<%=scientific_topic.preferred_label%>">
                    <li><a class="btn accept_suggestion"><b>✓ Accept</b> <br>(This <%=resource.class.name.downcase%> <b>is</b> about <em><%=scientific_topic.preferred_label%></em>)</a></li>
                    <li><a class="btn reject_suggestion"><b>✗ Reject</b> <br> (This <%=resource.class.name.downcase%> <b>is not</b> about <em><%=scientific_topic.preferred_label%></em>)</a></li>
                  </ul>
                </span>
    <% end %>
  </div>
  <div class="data_suggestions">
    <%if suggestion.data -%>
    <br/>
    <b>Suggested updates:</b>
    <% suggestion.data_fields.each do |key, value| -%>
      <span class="dropdown ">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= key.titleize %>: <%= value -%>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu data_suggestion_action"
              data-resource_type="<%=resource.class.name.underscore.pluralize %>"
              data-resource_id="<%=resource.id%>"
              data-data_field="<%= key %>">
            <li><a class="btn accept_suggestion"><b>✓ Accept</b> <br>(This <%=resource.class.name.downcase%> <b>has</b> field <em><%= key %></em>: <%= value -%>)</a></li>
            <li><a class="btn reject_suggestion"><b>✗ Reject</b> <br> (This <%=resource.class.name.downcase%> <b>doesn't have</b> field <em><%= key %></em>: <%= value -%>)</a></li>
          </ul>
        </span>
    <% end -%>
  <% end -%>
  </div>
</div>
