<% activator ||= nil %>
<% active ||= false %>
<% view_all_link ||= nil %>
<% inc_expired_link ||= nil %>
<% shown_count ||= resources.count%>
<% total_count ||= resources.count %>
<% past_count ||= 0 %>
<% limit ||= 30 %>
<% model ||= Event %>
<% name ||= model.model_name.human.singularize.downcase %>
<% id ||= model.model_name.plural %>
<% active = activator.check_pane(id) if activator %>

<div id="<%= id %>" class="tab-pane fade<%= ' in active' if active -%>">
  <div class="search-results-count my-3">
    Showing <%= pluralize(shown_count, name) -%>
    <% all_btn_text = "Filter #{name.pluralize(shown_count)}" %>
    <% if limit && total_count > limit %>
      out of <%= total_count -%>
      <% all_btn_text = "View all #{name.pluralize(shown_count)} & filter" %>
    <% end %>
    <% if past_count > 0 %>
      <span class="muted">(also found <%= pluralize(past_count, 'past event') %>)</span>
    <% end %>
  </div>

  <% if shown_count > 0 && view_all_link %>
    <%= link_to all_btn_text, view_all_link, class: 'btn btn-xs btn-default' %>
  <% elsif past_count > 0 && inc_expired_link %>
    <%= link_to "View all #{name.pluralize(shown_count)} & filter", inc_expired_link, class: 'btn btn-xs btn-default' %>
  <% end %>

  <%= render partial: 'common/masonry_grid', locals: { objects: resources } %>
</div>
