<% model_name = f.object.class.name.underscore %>

<div class="form-group">
  <%= f.label field_name %><%= f.field_lock(field_name.to_sym) if f.object.respond_to?(:locked_fields) %>

  <div data-role="autocompleter-group" data-url="<%= url -%>" data-prefix="<%= "#{model_name}[#{field_name.to_s.singularize}_ids]" -%>">
    <%# This blank association is needed to trigger the delete when all associations are removed %>
    <input type="hidden" name="<%= model_name %>[<%= field_name.to_s.singularize %>_ids][]" value="" />

    <ul data-role="autocompleter-list">
      <% f.object.send(field_name).each do |resource| %>
          <%# This duplicates what is in javascripts/templates/autocompleter/resource.hbs :( %>
          <li data-id="<%= resource.id %>">
            <input type="hidden" name="<%= model_name %>[<%= field_name.to_s.singularize %>_ids][]" value="<%= resource.id %>" />
            <%= resource.title %> <a href="#" class="delete-list-item">&times;</a>
          </li>
      <% end %>
    </ul>
    <input type="text" data-role="autocompleter-input" autocomplete="off" class="form-control" placeholder="Add a new <%= field_name.to_s.singularize -%>...">
  </div>
</div>
