<!-- 
PARAMETERS:
f - the form 
resource - The object you wish to modify e.g. #<Material id: 99....
field_name - The field name that the dropdown is for 
			 e.g. 'package' for my_material.packages, or 'material' for my_package.materials

COMING SOON:
dropdown_options - rather than using <field_name>.all - pass the 
				   values you want. Preferably excluding already selected ones.


Example Usage
render :partial => 'common/dropdown', 
	   :locals => {:f => f, :resource => @package, :field_name => 'material' }
 -->


<% model_name =  resource.class.name.underscore #e.g. package %>

<div class="form-group">
  <label><%= field_name.pluralize.capitalize unless field_name.blank? %></label>

  <!-- have one empty one so something is always passed when the event listener triggers -->
  <input name="<%=model_name%>[<%=field_name%>_ids][]" value="" style="display:none"/>

  <div data-field="<%=field_name%>" data-model="<%=model_name%>">

  	<!-- display existing ones -->
    <div class="<%=field_name%> multiple-input-list">
      <% resource.send(field_name.pluralize).each do |r| %>
          <div class="multiple-list-item">
            <input type="text" class="multiple-input form-control"
            	   data-field='<%=field_name%>' data-model='<%=model_name%>'
            	   name="<%=model_name%>[<%=field_name%>_ids][]"
                   value="<%=r.try(:title) or r.name%>" readonly="readonly" disabled="disabled" />
            <input type="hidden" data-field="<%=field_name%>" name="<%=model_name%>[<%=field_name%>_ids][]" value="<%=r.id%>" />
            <input type="button" value="<%= "&times;".html_safe %>" class="dropdown-option-delete"
            	   data-field="<%=field_name%>" data-model='<%=model_name%>'
                   data-value="<%=r.id%>" data-name="<%= r.try(:title) or r.name%>"
            />
          </div>
      <% end %>
    </div>
    <!-- Create list of dropdown options-->
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Add <%=field_name%>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu <%=field_name%>-options" 
          data-field="<%=field_name%>" data-model="<%=model_name%>" 
          id="<%=field_name%>_packages" aria-labelledby="dropdownMenu1">
        <%# TODO: Replace with passed options parameter %>
        <% field_name.capitalize.constantize.all.each do |r| %>
            <li class="dropdown-option" id="<%=field_name%>-id-<%=r.id%>" value="<%=r.id%>"><a><%= r.try(:title) or r.name%></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
