<!-- 
PARAMETERS:
f - the form 
resource - The object you wish to modify e.g. #<Material id: 99....
field_name - The field name that the dropdown is for 
			 e.g. 'package' for my_material.packages, or 'material' for my_package.materials
options - Array of objects to populate the dropdown with. Object must respons to .id and .title


Example Usage
render :partial => 'common/dropdown', 
	   :locals => {:f => f,
                   :resource => @package,
                   :field_name => 'material',
                   :options => available_options_for(@material) #OPTIONAL - defaults to field_name.all
	   }
 -->

<% model_name =  resource.class.name.underscore #e.g. package %>
<% options = field_name.capitalize.constantize.all unless options %>
<!-- Name for the dropdown toggle button, if not specified will be set to 'Add <%#= field_name %>' -->
<% dropdown_toggle_button_name ||= '' %>

<div class="form-group">
  <label><%= field_name.pluralize.capitalize unless field_name.blank? %></label>

  <!-- have one empty one so something is always passed when the event listener triggers -->
  <input name="<%=model_name%>[<%= field_name %>_ids][]" value="" style="display:none"/>

  <div data-field="<%= field_name %>" data-model="<%= model_name %>">

    <!-- display existing ones -->
    <div class="<%=field_name%> multiple-input-list">
      <% resource.send(field_name.pluralize).each do |r| %>
          <div class="multiple-list-item">
            <input type="text" class="multiple-input form-control"
                   data-field='<%= field_name %>' data-model='<%= model_name %>'
                   name="<%= model_name %>[<%=field_name%>_ids][]"
                   value="<%= r.title %>" readonly="readonly" disabled="disabled" />
            <input type="hidden" data-field="<%= field_name %>" name="<%= model_name %>[<%= field_name %>_ids][]" value="<%= r.id %>" />
            <input type="button" value="<%= "&times;".html_safe %>" class="dropdown-option-delete"
                   data-field="<%= field_name %>" data-model='<%=model_name%>'
                   data-value="<%= r.id %>" data-name="<%= r.title %>"
            />
          </div>
      <% end %>
    </div>
    <!-- Create list of dropdown options-->
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= dropdown_toggle_button_name.blank? ? "Add #{field_name}" : dropdown_toggle_button_name %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu <%=field_name%>-options"
          data-field="<%=field_name%>" data-model="<%= model_name %>"
          id="<%= field_name %>_packages" aria-labelledby="dropdownMenu1">
        <% options.each do |r| %>
            <li class="dropdown-option" id="<%=field_name%>-id-<%= r.id %>" value="<%= r.id %>"><a><%= r.title %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
