<% api_url = external_resource.api_url_of_tool -%>
<%= content_tag(:div, class: 'col-md-12 col-sm-12 bounding-box', data: { 'biotools-url': api_url }) do %>
  <%= link_to(external_resource.url, target: '_blank', rel: 'nofollow noopener') do %>
    <h5>
      <i class="fa fa-external-link"></i>
      <%= external_resource.title %>
      <% if external_resource.is_fairsharing? -%>
        <img src="<%= image_url('fairsharing-logo.svg')-%>" class="pull-right" alt="Link to FAIRsharing" width="100px"/>
      <% end -%>
      <%= missing_icon(external_resource, 'medium') if current_user&.is_admin? %>
    </h5>
  <% end %>
<% end %>
