<% if external_resource.url.starts_with?('https://dev.bio.tools') %>
    <% api_uri = 'https://dev.bio.tools/api' + URI.split(external_resource.url)[5] %>
    <% id = Digest::SHA256.hexdigest external_resource.url %>
<% end %>


<div class="col-md-12 col-sm-12 bounding-box" data-api_uri="<%=api_uri || nil%>" data-id="<%=id || nil%>">
  <%= link_to(external_resource.url, target: :_blank) do %>
      <h4>
        <i class="fa fa-external-link" id="<%=id%>-resource-type-icon"></i>
        <%= external_resource.title %>
      </h4>
  <% end %>

  <% if api_uri %>
    <span id="<%=id%>-desc"></span>
      <div class="topics external-links" id="<%=id%>-topics">
        <strong>Topics:</strong>
      </div>
      <div id="<%=id%>-external-links" class="btn-group external-links">
      </div>
  <% end %>
</div>

<% if api_uri %>
    <script>
       Biotools.displayFullTool('<%=api_uri%>', '<%=id%>');
    </script>
<% end %>