<% model_name = f.object.class.name.underscore %>
<% form_field_name = "#{model_name}[#{field_name.to_s.singularize}_#{id_field.to_s}s]" %>
<% data = { url: url, prefix: form_field_name,
            'label-field' => label_field.to_s,
            'id-field' => id_field.to_s } %>
<% data[:template] = template if template %>

<div class="form-group" id="<%= field_name.to_s -%>-list">
  <%= f.label field_name %><%= f.field_lock(field_name.to_sym) if f.object.respond_to?(:locked_fields) %>
  <input name="event[material_ids][]" value="" type="hidden">

  <% f.object.send(field_name).map do |res| %>
    <% div_id = "#{field_name.to_s.singularize}_internal_resource_#{res.id}" %>
    <div id="<%= div_id -%>">
      <input type="hidden" name="<%= form_field_name -%>[]" value="<%= res.id -%>" />
      <div class="alert alert-info">
        <%= res.title -%>
        <a href="#" class="delete-internal-resource pull-right"
           style="text-decoration: none;"
           onclick="delete_internal_resource('<%= div_id -%>')">
          ×
        </a>
      </div>
    </div>
  <% end %>

</div>
