<!--
resource - the model e.g #<ContentProvider id: 80 ....
field_name - the name of the array attribute in its plural form e.g. authors, keywords
f - the current form
suggestions - an array of possibles to suggest


Example Usage:

render :partial => 'common/multiple_input', :locals => {:field_name => 'keywords', :resource => @content_provider, :f => f}

-->
<script type="application/javascript">

    $(document).ready(function () {
        $('.<%=field_name.singularize%>').on('keydown.autocomplete','.<%=field_name%>', function(){
            $(this).autocomplete({
                orientation: top,
                lookupLimit: 10,
                lookup: <%= suggestions ||= []-%>
            })
        })
    })
</script>

<% placeholder_text ||= '' %>
<% disabled = (defined? disabled) ? disabled : false %>

<div class="form-group">
  <%= f.label field_name.to_sym %>
  <div class="<%=field_name.singularize%> multiple-input-list">
    <% field_values = resource.send(field_name.to_sym) %>
    <% field_values = [''] if field_values.blank? %> <!-- Add one placeholder if the field's value consists of an empty array -->

    <% field_values.each do |val| %>
        <div class="multiple-list-item">
          <input type="text"
                 class="multiple-input form-control <%=field_name%>"
                 data-field='<%= field_name.singularize %>'
                 data-model="<%=resource.class.name.underscore%>"
                 name="<%=resource.class.name.underscore%>[<%= field_name %>][]"
                 value="<%= (field_name == 'scientific_topics' and !val.blank?) ? val.preferred_label : val %>"
                 <%= disabled ? "disabled" : '' %>
                 placeholder="<%= placeholder_text %>"
                 />
          <input type="button"
                 value='<%= "&times;".html_safe %>'
                 class="multiple-input-delete"
                 data-field="<%= field_name.singularize %>"/>
        </div>
    <% end %>
  </div>
  <a class="btn btn-info"><span class="multiple-input-add" data-field="<%=field_name.singularize%>"
                             data-model="<%=resource.class.name.underscore%>" placeholder-text="<%= placeholder_text %>"><i class="fa fa-plus"></i> Add <%= field_name.singularize.humanize.downcase %></span></a>
  <%#= error_span(material.send(field_name)) %>
</div>