<%#
resource - the model e.g ContentProvider id: 80 ....
field_name - the name of the array attribute in its plural form e.g. authors, keywords
f - the current form
suggestions - an array of possibles to suggest

Example Usage:
render :partial => 'common/multiple_input', :locals => {:field_name => 'keywords', :f => f}

%>

<% label ||= f.object.class.human_attribute_name(field_name) %>
<% model_name ||= f.object.class.model_name.param_key %>
<% form_field_name = "#{model_name}[#{field_name.to_s}]" %>
<% suggestions ||= [] %>
<% suggestions_url ||= nil %>
<% existing = f.object.send(field_name.to_sym) %>
<% existing = [''] if existing.blank? %> <%# Add one placeholder if the field's value consists of an empty array %>
<% required ||= false   # is a value required %>
<% errors ||= []        # check error count %>
<% title ||= ''         # check title defined %>
<% hint ||= nil %>
<% classes = 'form-group' %>
<% classes += ' hidden' if hidden %>
<% classes += ' has-error' if errors.size > 0 %>

<div class="<%= classes -%>" title="<%= title -%>" id="<%= "multi_input_#{field_name}" -%>">
  <% if required %>
    <label class="control-label string required">
      <abbr title="required">*</abbr>
    </label>
  <% end %>

  <%= f.label field_name.to_sym, label, class: 'control-label' %>
  <%= f.field_lock(field_name.to_sym) if f.object.respond_to?(:locked_fields) %>

  <%= content_tag(:p, hint, class: 'help-block') if hint %>

  <%= content_tag(:div, data: { role: 'multi-input', prefix: form_field_name, 'suggestions-url': suggestions_url }) do %>
    <%# This blank association is needed to trigger the delete when all associations are removed %>
    <input type="hidden" name="<%= form_field_name -%>[]" value=""/>
    <%= content_tag :script, raw(suggestions.to_json), type: 'application/json', data: { role: 'multi-input-suggestions' } %>
    <%= content_tag :script, raw(existing.to_json), type: 'application/json', data: { role: 'multi-input-existing' } %>

    <div class="multiple-input-list" data-role="multi-input-list">
      <%# Populated via javascript from the JSON above %>
      <a class="btn btn-icon multiple-input-add" data-role="multi-input-add" href="#" title="Add <%= label.singularize -%>">
        <i class="icon icon-h4 plus-icon"></i>
      </a>
    </div>

    <%= f.error field_name.to_sym %>
  <% end %>
</div>
