<% index ||= 'replace-me' %> <%# This is so we can render a blank version of this sub-form in the page, %>
                             <%# which can be dynamically cloned using JavaScript to add more People to the main form %>
<% field_name_prefix = "#{form_name}[person_links_attributes][#{index}]" %> <%# This format is dictated by "accepts_nested_attributes_for" %>

<div class="form-inline person-form" data-index="<%= index -%>" data-role="<%= role -%>">
  <%= hidden_field_tag("#{field_name_prefix}[id]", person_link&.id) %>
  <%= hidden_field_tag("#{field_name_prefix}[role]", role) %>
  <%= hidden_field_tag("#{field_name_prefix}[person_attributes][id]", person_link&.person&.id) %>

  <div class="form-group">
    <%= text_field_tag "#{field_name_prefix}[person_attributes][full_name]", person_link&.person&.full_name, :class => 'form-control person-full-name', :placeholder => 'Full Name' %>
  </div>

  <div class="form-group">
    <%= text_field_tag "#{field_name_prefix}[person_attributes][given_name]", person_link&.person&.given_name, :class => 'form-control person-given-name', :placeholder => 'Given Name (optional)' %>
  </div>

  <div class="form-group">
    <%= text_field_tag "#{field_name_prefix}[person_attributes][family_name]", person_link&.person&.family_name, :class => 'form-control person-family-name', :placeholder => 'Family Name (optional)' %>
  </div>

  <div class="form-group">
    <%= text_field_tag "#{field_name_prefix}[person_attributes][orcid]", person_link&.person&.orcid, :class => 'form-control person-orcid', :placeholder => 'ORCID (optional)' %>
  </div>

  <label class="ml-2 delete-person-btn">
    <i class="icon icon-sm cross-icon icon-greyscale"></i>
    <%= hidden_field_tag "#{field_name_prefix}[_destroy]", '0', :autocomplete => 'off' %>
    <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false, :class => 'destroy-attribute', :autocomplete => 'off' %>
  </label>
</div>
