<div class="list-card" style="width: 100%;">

  <div class='col-md-1 pull-right' style='margin: 10px; padding: 0;'>
    <% if trainer.user.gravatar_url.nil? %>
      <%= image_tag 'dresa/Trainers_Default.png', class: 'small-trainer-logo', style: 'margin: 0; padding: 0;' %>
    <% else %>
      <%= image_tag trainer.user.gravatar_url, class: 'small-trainer-logo', style: 'margin: 0; padding: 0;' %>
    <% end %>
  </div>

  <%= link_to(trainer.full_name, trainer, class: 'list-card-heading') %>

  <div class="dont-break-out">
    <p class></p>
    <div class="row" style='margin: 0;'>
      <div class="text-justify" style="display: inline; word-break: normal;">
        <p><%= render_markdown truncate(trainer.description, length: 300, separator: ' ') %></p>
      </div>
      <div class='' style='margin-top: 6px;'>
        <%= display_attribute(trainer, :location) %>
      </div>
    </div>
  </div>

  <%= render :partial => 'trainers/partials/trainer_schemaorg', :locals => { :trainer => trainer } %>

</div>
