<li class="masonry-brick media-item long">
  <%= link_to trainer_path(trainer), class: 'link-overlay' do %>
    <%= image_tag trainer.user.avatar_url, class: 'small-avatar pull-right' %>

    <h4><%= trainer.full_name %></h4>

    <div class="dont-break-out">
      <%= render_sanitized_markdown truncate(trainer.description, length: 300, separator: ' ') %>
    </div>

    <%= display_attribute(trainer, :location) %>

    <%= render partial: 'trainers/partials/trainer_schemaorg', locals: { trainer: trainer } %>
  <% end %>
</li>
