<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <%= render partial: "search/common/facet_sidebar",
                 locals: { resources: @trainers_results, resource_type: Trainer } %>
    </div>
  <% end %>

  <div id="content">
    <h2><%=t("features.trainers.long")%></h2>
    <% content_for :buttons do %>
      <!-- Register button -->
      <%= edit_button(current_user, text: 'Register as trainer') if current_user && policy(current_user).update? %>
      <!-- Info -->
      <%= info_button("What are trainers in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
        <%= render_markdown(TrainersHelper::TRAINERS_INFO) %>
      <% end %>
    <% end %>

    <%= render partial: "search/common/search_panel", locals: { resources: @trainers_results, resource_type: User } %>

    <%= render partial: 'common/masonry_grid', locals: { objects: @trainers } %>

    <%= render partial: 'search/common/pagination_bar', locals: { resources: @trainers } %>
  </div>
</div>
