<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
    <div id="sidebar" class="popout-sidebar">
      <%= render partial: "search/common/facet_sidebar",
                 locals: { resources: @trainers_results, resource_type: Trainer } %>
    </div>
  <% end %>

  <div id="content">
    <div class="row">
      <h2>Trainers</h2>
    </div>
    <% content_for :buttons do %>
      <%= info_button("What are trainers in #{TeSS::Config.site['title_short']}?", hide_text: true) do %>
        <%= render_markdown(TrainersHelper::TRAINERS_INFO) %>
      <% end %>
    <% end %>

    <% if TeSS::Config.solr_enabled %>
      <%= render partial: "search/common/search_panel", locals: { resources: @trainers_results,
                                                                  resource_type: User } %>
    <% end %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @trainers } %>

    <%= render @trainers %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @trainers } %>

  </div>


</div>
