<div class="wrapper collapsing-wrapper-tb">

  <div class="collapsing-sidebar" id="sidebar">
    <div id="gravatar_image">
      <%= image_tag @trainer.user.avatar_url, class: 'medium-trainer-logo hidden-lg hidden-md' %>
      <%= image_tag @trainer.user.avatar_url, class: 'large-trainer-logo hidden-sm hidden-xs' %>
    </div>
  </div>
  <div id="content">
    <!-- Field: full name -->
    <h2>
      <%= @trainer.full_name %>
    </h2>
    <!-- Field: website -->
    <% if @trainer.website.present? %>
      <div class="url-wrap">
        <%= external_link @trainer.website, @trainer.website, class: 'h5', target: '_blank', rel: 'noopener', track: true %>
      </div>
    <% end %>

    <!-- Field: orcid -->
    <% if @trainer.orcid.present? %>
      <div class="url-wrap">
        <%= external_link @trainer.orcid, @trainer.orcid, class: 'h5', target: '_blank', rel: 'noopener', track: true %>
      </div>
    <% end %>

    <!-- Field:  description -->
    <% if @trainer.description.present? %>
      <div class="description">
        <%= render_markdown @trainer.description %>
      </div>
    <% end %>

    <!-- Field: other fields -->
    <div class="dont-break-out">
      <%= display_attribute(@trainer, :email) %>
      <%= display_attribute(@trainer, :location) %>
      <%= display_attribute(@trainer, :experience) %>
      <%= display_attribute(@trainer, :expertise_academic) { |values| values.join(', ') } %>
      <%= display_attribute(@trainer, :expertise_technical) { |values| values.join(', ') } %>
      <%= display_attribute(@trainer, :fields) { |values| values.join(', ') } %>
      <%= display_attribute(@trainer, :interest) { |values| values.join(', ') } %>
      <%= display_attribute(@trainer, :activity) { |values| values.join(', ') } %>
      <%= display_attribute(@trainer, :language) { |values| values.map { |l| I18nData.languages[l] }.compact.join(', ') } %>
      <%= display_attribute(@trainer, :social_media) { |values| values.join(', ') } %>

      <!-- Other metadata -->
      <%= render partial: 'trainers/partials/twitter_card', locals: { trainer: @trainer } %>
    </div>
  </div>
</div>
