<h5><%= TeSS::Config.site['title_short'] %> became a reality through the hard work and contributions of &hellip;</h5>

<!-- show list on small screens -->
<ul class='hidden-lg'>
  <li>
    <%= link_to 'https://www.biocommons.org.au/', target: '_blank' do %>
      Australian Biocommons
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.ardc.edu.au/', target: '_blank' do %>
      Australian Research Data Commons (ARDC)
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.monash.edu/it/dsai', target: '_blank' do %>
      Department of Data Science and Artificial Intelligence, Monash University
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.federation.edu.au/', target: '_blank' do %>
      Federation University
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.intersect.org.au/', target: '_blank' do %>
      Intersect Australia
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.dese.gov.au/ncris', target: '_blank' do %>
      National Collaborative Research Infrasctructure Strategy (NCRIS)
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.pawsey.org.au/', target: '_blank' do %>
      Pawsey Supercomputing Centre
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.qcif.edu.au/', target: '_blank' do %>
      Queensland Cyber Infrastructure Foundation (QCIF)
    <% end %>
  </li>
  <li>
    <%= link_to 'https://www.sydney.edu.au/research/facilities/sydney-informatics-hub.html', target: '_blank' do %>
      Sydney Informatics Hub, University of Sydney
    <% end %>
  </li>
</ul>

<!-- show logos on medium and large screens -->
<div class="footer-logo-box-sm hidden-md hidden-sm hidden-xs">
  <%= link_to 'https://www.dese.gov.au/ncris', class: 'footer-logo-lg hidden-sm hidden-xs', target: '_blank' do %>
    <%= image_tag 'supporters/ncris_logo.jpg' %>
  <% end %>
</div>

<div class="footer-logo-box  hidden-md hidden-sm hidden-xs">
  <%= link_to 'https://www.pawsey.org.au/', class: 'footer-logo hidden-sm hidden-xs', target: '_blank' do %>
    <%= image_tag 'supporters/Pawsey-Logo-2.png', style: 'margin-left: 30px;' %>
  <% end %>
  <%= link_to 'https://www.ardc.edu.au/', class: 'footer-logo hidden-sm hidden-xs', target: '_blank' do %>
    <%= image_tag 'supporters/ARDC_logo.png', style: 'margin-left: 20px;' %>
  <% end %>
</div>

<div class="footer-logo-box-sm hidden-md hidden-sm hidden-xs">
  <%= link_to 'https://www.biocommons.org.au/', class: 'footer-logo hidden-sm  hidden-xs', target: '_blank' do %>
    <%= image_tag 'supporters/Australian-Biocommons-Logo-Horizontal-144dpi.jpg' %>
  <% end %>
  <%= link_to 'https://www.sydney.edu.au/researc/facilities/sydney-informatics-hub.html',
              class: 'footer-logo', target: '_blank' do %>
    <%= image_tag 'supporters/SIH_logo_official.jpg' %>
  <% end %>

</div>

<div class="footer-logo-box-sm hidden-md hidden-md hidden-sm hidden-xs">
  <%= link_to 'https://www.qcif.edu.au/', class: 'footer-logo hidden-sm hidden-xs', target: '_blank' do %>
    <%= image_tag 'supporters/QCIF_Logo_Master.png', style: 'margin-left: 0;' %>
  <% end %>
  <%= link_to 'https://www.monash.edu/it/dsai', class: 'footer-logo hidden-sm hidden-xs', target: '_blank' do %>
    <%= image_tag 'supporters/DSAI-Logo.png', style: 'margin-left: 0;' %>
  <% end %>
</div>

<div class="footer-logo-box hidden-md hidden-sm hidden-xs">
  <%= link_to 'https://www.federation.edu.au/', class: 'footer-logo hidden-sm hidden-xs', target: '_blank' do %>
    <%= image_tag 'supporters/Federation-Logo.jpg' %>
  <% end %>
  <%= link_to 'https://www.intersect.org.au/', class: 'footer-logo hidden-sm hidden-xs', target: '_blank' do %>
    <%= image_tag 'supporters/Intersect_Australia_logo.png' %>
  <% end %>
</div>
