<div class="col-sm-7">
  <%= link_to 'http://www.elixir-europe.org/excelerate', class: 'footer-logo hidden-xs', target: '_blank' do %>
    <%= image_tag('elixir/excelerate-logo.png') %>
  <% end %>
  <%= link_to 'http://www.bbsrc.ac.uk/research/grants/grants/AwardDetails.aspx?FundingReference=BB/L005050/1', class: 'footer-logo hidden-xs', target: '_blank' do %>
    <%= image_tag('elixir/bbsrc-logo.png') %>
  <% end %>
</div>
<div class="col-sm-5 text-right">
  <%= link_to 'http://www.oerc.ox.ac.uk/', class: 'footer-logo hidden-xs', target: '_blank' do %>
    <%= image_tag('elixir/oxford_logo.jpg') %>
  <% end %>
  <%= link_to 'http://www.manchester.ac.uk/', class: 'footer-logo hidden-xs', target: '_blank' do %>
    <%= image_tag('elixir/manchester_logo.png') %>
  <% end %>
  <%= link_to 'http://elixir-uk.org/', class: 'footer-logo', target: '_blank' do %>
    <%= image_tag('elixir/ELIXIR_UK_logo_orange.png') %>
  <% end %>
</div>
<div class="col-md-12 eu-notice hidden-xs">
  <%= image_tag('elixir/eu_flag.svg') %>
  TeSS is supported by ELIXIR through the <a href="http://www.elixir-europe.org/excelerate" target="_blank">ELIXIR-EXCELERATE grant</a>,
  which is funded by the European Union Horizon 2020 program under grant agreement <a href="https://cordis.europa.eu/project/rcn/198519_en.html" target="_blank">676559</a>.
</div>
