<footer class="footer">
  <div class="container">
    <%= link_to 'http://elixir-uk.org/', class: 'footer-logo', target: '_blank' do %>
      <%= image_tag('ELIXIR_UK_logo_orange.png') %>
    <% end %>
    <%= link_to 'http:www.manchester.ac.uk/', class: 'footer-logo hidden-xs', target: '_blank' do %>
        <%= image_tag('manchester_logo.png') %>
    <% end %>
    <%= link_to 'http://www.oerc.ox.ac.uk/', class: 'footer-logo hidden-xs', target: '_blank' do %>
        <%= image_tag('oxford_logo.jpeg') %>
    <% end %>

    <strong>Version: </strong><%= app_version_text -%> (alpha pre-release)<br />
    <a href="mailto:tess@elixir-uk.info">Contact us</a><br />
    <a href="https://github.com/ElixirUK/TeSS" target="_blank">Source code</a><br/>
    <a href="/about#ack">Funders, acknowledgements and image credits</a>
  </div>
</footer>
