<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-3 col-sm-4">
        <%= mail_to(TeSS::Config.contact_email, 'Contact us') %><br/>
        <%= link_to 'Privacy', privacy_path, target: '_blank' %><br/>
        <%= link_to 'Add your resources to ' + TeSS::Config.site['title_short'],
                    registering_resources_path, target: '_blank' %><br/>
        <%= link_to 'Funding & acknowledgements', us_path(anchor: 'funding'), target: '_blank' %><br/>
        <%= link_to "Source code [ version: #{app_version_text} ]", TeSS::Config.site['repository'], target: '_blank' %>
      </div>
      <div class="col-md-9 hidden-sm hidden-xs">
        <%= render :partial => 'layouts/dresa_funded_by' %>
      </div>
    </div>

    <div class="row hidden-sm hidden-xs" style="margin-bottom: 0;">
      <div class="col-md-12 supported-by">
        <%= render :partial => 'layouts/dresa_supported_by' %>
      </div>
    </div>

    <div class="row" style="margin-top: 0;">
      <div class="col-md-12 ack-country">
        <%= raw t 'footer.acknowledgement' %>
      </div>
    </div>

  </div>
</footer>
