<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <div class="footer-logo footer-item">
          <%= image_tag(TeSS::Config.site['favicon'], :alt => TeSS::Config.site['logo_alt']) %>
        </div>

        <div class="footer-item contact-link">
          <%= mail_to(TeSS::Config.contact_email) %><br/>
        </div>
      </div>

      <div class="col-sm-4 col-xs-6 text-left">
        <div class="footer-item">
          <%= link_to "About #{TeSS::Config.site['title_short']}", about_path %>
        </div>
        <div class="footer-item">
          <%= link_to 'Privacy', privacy_path %>
        </div>
        <% if cookie_consent.required? %>
          <div class="footer-item">
            <%= link_to 'Cookie preferences', cookies_consent_path %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4 col-xs-6 text-left">
        <div class="footer-item">
          <%= link_to 'Source code', TeSS::Config.site['repository'], target: '_blank', rel: 'noopener' %>
        </div>
        <div class="footer-item">
          <%= link_to "https://www.scilifelab.se/", target: "_blank", rel: "noopener noreferrer" do %>
            <%= image_tag(asset_path('scilifelab/SciLifeLab_Logotype_POS.png'), :alt => 'logo', width:'170px') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
