<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-8">
        <strong>Version: </strong><%= app_version_text -%><br />
        <%= mail_to(TeSS::Config.contact_email, 'Contact us') %><br/>
        <%= link_to 'Add your resources to ' + TeSS::Config.site['title_short'],
                    registering_resources_path, target: '_blank'  %><br/>
        <%= link_to 'Source code', TeSS::Config.site['repository'], target: '_blank' %><br/>
        <%= link_to 'Funding & acknowledgements', us_path(anchor: 'funding'), target: '_blank' %><br/>
        <%= link_to 'Privacy', privacy_path, target: '_blank' %>
      </div>
      <div class="col-sm-9 col-xs-4">
        <%= render :partial => 'layouts/' + TeSS::Config.site['supported_by'] %>
      </div>
    </div>
  </div>
</footer>
