<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <div class="footer-logo footer-item">
          <%= image_tag(TeSS::Config.site['logo'], :alt => TeSS::Config.site['logo_alt']) %>
        </div>

        <div class="footer-item contact-link">
          <%= mail_to(TeSS::Config.contact_email) %><br/>
        </div>

        <% if TeSS::Config.site.dig('footer', 'additional_links') %>
           <% TeSS::Config.site.dig('footer', 'additional_links').each do |link| %>
            <% if link[:location] == 'left' %>
              <div class="footer-item">
                <%= link_to link[:title], link[:url] %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <%= link_to t("home.providers.button_text"), registering_resources_path, class: 'btn btn-primary btn-sm', style: 'margin-top: 1em' %>
      </div>

      <div class="col-sm-4 col-xs-6 text-left">
        <div class="footer-item">
          <%= link_to t('footer.about', title: TeSS::Config.site['title_short']), about_path %>
        </div>
        <% if TeSS::Config.feature['spaces'] %>
          <div class="footer-item">
            <%= link_to t('footer.browse_spaces'), spaces_path %>
          </div>
        <% end %>
        <div class="footer-item">
          <%= link_to t('footer.funding'), us_path(anchor: 'funding') %>
        </div>
        <div class="footer-item">
          <%= link_to t('footer.privacy'), privacy_path %>
        </div>
        <% if cookie_consent.required? %>
          <div class="footer-item">
            <%= link_to t('footer.cookie_preferences'), cookies_consent_path %>
          </div>
        <% end %>
        <% if TeSS::Config.site.dig('footer', 'additional_links') %>
           <% TeSS::Config.site.dig('footer', 'additional_links').each do |link| %>
            <% if link[:location] == 'center' || !link[:location] %>
              <div class="footer-item">
                <%= link_to link[:title], link[:url] %>
              </div>
            <% end %>
          <% end %>
        <% end %>
       
      </div>

      <div class="col-sm-4 col-xs-6 text-left">
        <div class="footer-item">
          <%= t('footer.version') %> <code><%= app_version_text -%></code>
        </div>

        <div class="footer-item">
          <%= link_to t('footer.source_code'), TeSS::Config.site['repository'], target: '_blank', rel: 'noopener' %>
        </div>

        <div class="footer-item">
          <%= link_to t('footer.api_documentation'), asset_path('api/json_api', skip_pipeline: true) %>
        </div>

        <% if TeSS::Config.feature['bioschemas_testing'] %>
          <div class="footer-item">
            <%= link_to t('footer.bioschemas_testing_tool'), bioschemas_test_path %>
          </div>
        <% end %>

        <% if TeSS::Config.site.dig('footer', 'additional_links') %>
           <% TeSS::Config.site.dig('footer', 'additional_links').each do |link| %>
            <% if link[:location] == 'right' %>
              <div class="footer-item">
                <%= link_to link[:title], link[:url] %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%= render partial: 'layouts/supported_by' %>
    </div>
  </div>
</footer>
