<footer class="footer">
  <div class="container">
    <div class="row">

        <div class="col-sm-6">

          <div class="footer-logo footer-item">
            <%= image_tag(TeSS::Config.site['logo'], :alt => TeSS::Config.site['logo_alt']) %>
          </div>

          <div class="footer-item">
            <%= mail_to(TeSS::Config.contact_email) %><br/>
          </div>

          <div class="footer-item" style="margin-top: 25px;">
            <input type="button" value="Contribute" class="btn btn-primary" />
          </div>
        </div>

        <div class="col-sm-6 text-right">
          <div class="footer-item version">
            <strong>Version: </strong><%= app_version_text -%><br />
          </div>

          <div class="footer-item">
            <%= link_to "Add your training resources to #{TeSS::Config.site['title_short']}", registering_resources_path, target: '_blank'  %>
          </div>
          <div class="footer-item">
            <%= link_to 'Source code', TeSS::Config.site['repository'], target: '_blank' %>
          </div>
          <div class="footer-item">
            <%= link_to 'Funding & acknowledgements', us_path(anchor: 'funding'), target: '_blank' %>
          </div>
          <div class="footer-item">
            <%= link_to 'Privacy', privacy_path, target: '_blank' %>
          </div>

          <div class="mt-4 eu-notice hidden-sm hidden-xs">
            <%= image_tag('elixir/eu_flag.svg') %>
            TeSS is supported by ELIXIR through the <a href="http://www.elixir-europe.org/excelerate" target="_blank">ELIXIR-EXCELERATE grant</a>,
            which is funded by the European Union Horizon 2020 program under grant agreement <a href="https://cordis.europa.eu/project/rcn/198519_en.html" target="_blank">676559</a>.
          </div>
        </div>

      <div class="col-sm-12">
        <hr>
      </div>

        <%= render :partial => 'layouts/supported_by' %>
    </div>
  </div>
</footer>
