<%# header notice -%>
<% if TeSS::Config.header_notice&.strip.present? %>
  <nav class="header-notice">
    <div class="container">
      <div class="text-center">
        <%== TeSS::Config.header_notice %>
      </div>
    </div>
  </nav>
<% end %>

<header class="unified-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid" id="header-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if defined? TeSS::Config.site['logo'] and !TeSS::Config.site['logo'].blank? %>
          <a class="navbar-brand" href="/">
            <%= image_tag(TeSS::Config.site['logo'], alt: TeSS::Config.site['logo_alt']) %>
          </a>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <%# User Options -%>

        <% if user_signed_in? %>
          <ul class="user-options nav navbar-nav navbar-right">
            <%= render partial: 'layouts/user_menu' %>
          </ul>
        <% end %>
        
        <!--
              <%= render partial: 'layouts/login_menu' %>
        -->

        <%# Menu -%>
        <%
          tabs = [
            { feature: 'about', link: about_path },
            { feature: 'events', link: events_path },
            { feature: 'elearning_materials', link: elearning_materials_path },
            { feature: 'workflows', link: workflows_path },
            { feature: 'collections', link: collections_path },
            { feature: 'trainers', link: trainers_path },
            { feature: 'content_providers', link: content_providers_path },
            { feature: 'nodes', link: nodes_path },
            { feature: 'our_resources', link: our_resources_path}
          ].select do |t|
            t[:feature] == 'about' || TeSS::Config.feature[t[:feature]]
          end.sort_by do |t|
            TeSS::Config.site['tab_order'].index(t[:feature]) || 99
          end

          directory_tabs, main_tabs = tabs.partition { |t| TeSS::Config.site['directory_tabs']&.include?(t[:feature]) }
        %>

        <%= menu_group(pull: 'right') do %>
          <% main_tabs.each do |t| %>
            <%= menu_item t("features.#{t[:feature]}.short"), t[:link] %>
          <% end %>

          <% if directory_tabs.present? %>
            <li class="dropdown directory-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">
                Directory <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% directory_tabs.each do |t| %>
                  <%= menu_item t("features.#{t[:feature]}.short"), t[:link] %>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>

  <% if TeSS::Config.announcement_message&.strip.present? %>
    <div class="container">
      <div class="alert alert-info fade in" id="front-page-announcement">
        <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <%== TeSS::Config.announcement_message %>
      </div>
    </div>
  <% end %>

  <% if !defined? @skip_flash_messages_in_header or !@skip_flash_messages_in_header %>
    <div id="flash-container" class="container-fluid">
      <%= flash_messages %>
    </div>
  <% end %>
</header>

<%= render(partial: 'layouts/cookie_banner') if cookie_consent.show_banner? %>
