<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= site_title %></title>
  <%= stylesheet_link_tag 'application', integrity: true, media: 'all', 'data-turbolinks-track' => true %>

  <% if defined? TeSS::Config.site['favicon'] and !TeSS::Config.site['title'].blank? %>
    <%= favicon_link_tag(TeSS::Config.site['favicon'], :type => 'image/png') %>
  <% else %>
    <%= favicon_link_tag('favicon.png', :type => 'image/png') %>
  <% end %>

  <%= javascript_include_tag 'application', integrity: true, 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_api_key -%>&libraries=places"></script>

  <%# signup_js.html_safe -%>
  <%= csrf_meta_tags %>
  <% if TeSS::Config.prevent_robot_indexing %>
    <meta name="robots" content="noindex">
  <% end -%>

  <% if Rails.application.secrets.google_analytics_code %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% end %>

  <% if content_for? :og_header %>
    <%= yield :og_header %>
  <% else %>
    <%= render :partial => 'common/default_og' %>
  <% end %>

  <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script -->
  <script type="text/javascript" src="https://vocabs.ardc.edu.au/apps/assets/vocab_widget/js/vocab_widget_v2.js"></script>
  <link rel="stylesheet" type="text/css" href="https://vocabs.ardc.edu.au/apps/assets/vocab_widget/css/vocab_widget_v2.css" />

  <!-- script type="text/javascript" src="https://vocabs.ardc.edu.au/assets/core/lib/qtip2/jquery.qtip.js"></script -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/qtip2/2.2.1/basic/jquery.qtip.min.css" media="screen" />

</head>
