<%# header notice -%>
<% if TeSS::Config.header_notice&.strip.present? %>
  <nav class="header-notice">
    <div class="container">
      <div class="text-center">
        <%= raw TeSS::Config.header_notice %>
      </div>
    </div>
  </nav>
<% end %>

<header class="unified-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid" id="header-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if defined? TeSS::Config.site['logo'] and !TeSS::Config.site['logo'].blank? %>
          <a class="navbar-brand" href="/">
            <%= image_tag(TeSS::Config.site['logo'], alt: TeSS::Config.site['logo_alt']) %>
          </a>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <%# User Options -%>
        <div class="user-options navbar-nav navbar-right">
          <% if user_signed_in? %>
            <%= render partial: 'layouts/user_menu' %>
          <% else %>
            <%= render partial: 'layouts/login_menu' %>
          <% end %>
        </div>

        <%# Menu -%>
        <%= menu_group(pull: 'right') do %>
          <%= menu_item "About", about_path %>

          <% if TeSS::Config.feature['events'] == true %>
            <%= menu_item "Events", events_path %>
          <% end %>
          <% if TeSS::Config.feature['materials'] == true %>
            <%= menu_item "Materials", materials_path %>
          <% end %>
          <% if TeSS::Config.feature['e-learnings'] == true %>
            <%= menu_item "e-Learning", elearning_materials_path %>
          <% end %>
          <% if TeSS::Config.feature['workflows'] == true %>
            <%= menu_item "Workflows", workflows_path %>
          <% end %>
          <% if TeSS::Config.feature['collections'] == true %>
            <%= menu_item "Collections", collections_path %>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              Directory <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <% if TeSS::Config.feature['trainers'] == true %>
                <%= menu_item "Trainers", trainers_path %>
              <% end %>
              <% if TeSS::Config.feature['providers'] == true %>
                <%= menu_item "Providers", content_providers_path %>
              <% end %>
              <% if TeSS::Config.feature['nodes'] == true %>
                <%= menu_item "Nodes", nodes_path %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </div>
    </div>
  </nav>

  <% if TeSS::Config.announcement_message&.strip.present? %>
    <div class="container">
      <div class="alert alert-info fade in" id="front-page-announcement">
        <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <%= raw TeSS::Config.announcement_message %>
      </div>
    </div>
  <% end %>

  <% if !defined? @skip_flash_messages_in_header or !@skip_flash_messages_in_header %>
    <div id="flash-container" class="container-fluid">
      <%= flash_messages %>
    </div>
  <% end %>
</header>

<%= render(partial: 'layouts/cookie_banner') if cookie_consent.show_banner? %>
