<%# header notice -%>
<% if TeSS::Config.header_notice&.strip.present? %>
  <nav class="header-notice">
    <div class="container">
      <div class="text-center">
        <%= raw TeSS::Config.header_notice %>
      </div>
    </div>
  </nav>
<% end %>

<%# top header -%>
<header class="unified-header">
  <nav>
    <div class="container">
      <% if defined? TeSS::Config.site['logo'] and !TeSS::Config.site['logo'].blank? %>
        <a class="navbar-brand" href="/">
          <%= image_tag(TeSS::Config.site['logo'], :alt => TeSS::Config.site['logo_alt']) %>
        </a>
      <% end %>


      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#orange-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="orange-navbar-collapse">

        <%# User Options -%>
        <ul class="user-options nav navbar-nav">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: 'btn btn-default',
                          :data => { :confirm => 'Are you sure you want to log out?' } %>
            </li>

            <li>
              <%= link_to user_path(current_user),  title:  current_user.username, class: 'btn btn-primary' do %>
                <%= current_user.username %>
              <% end %>
            </li>


            <li>
              <%= link_to stars_path, title: 'View stars', class: 'btn btn-link btn-icon' do %>
                <i class="icon icon-h3 star-icon"></i>
              <% end %>
            </li>

            <li>
              <% if current_user.is_curator? || current_user.is_admin? %>
                <%= link_to users_path, :title => 'View users' do %>
                  <i class="fa fa-users fa-lg"></i>
                <% end %>
              <% end %>
            </li>
            <li>
            <% if current_user.is_curator? || current_user.is_admin? %>
              <% if TeSS::Config.feature['sources'] %>
                <%= link_to sources_path, :title => 'View ingestion sources' do %>
                  <i class="fa fa-cloud-download fa-lg"></i>
                <% end %>
              <% end %>
            <% end %>
            </li>
            <li>
              <% if current_user.is_admin? %>
              <%= link_to rails_admin_path, :title => 'View the administrator console' do %>
                <i class="fa fa-cog fa-lg"></i>
              <% end %>
            <% end %>
            </li>
            <li>
            <% if current_user.is_curator? || current_user.is_admin? %>
              <% if !TeSS::Config.feature['disabled'].include? 'topics' %>
                <%= link_to curate_topic_suggestions_path,
                            :title => "Assign scientific topics to #{TeSS::Config.site['title_short']} resources" do %>
                  <i class="fa fa-briefcase fa-lg"></i>
                <% end %>
              <% end %>
            <% end %>
            </li>
          <% else %>
            <div class='dropdown'>
              <div class='dropdown-toggle btn btn-primary' type="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                Log In
                <span class="caret"></span>
              </div>
              <ul class='dropdown-menu'>
                <% Devise.omniauth_configs.each do |provider, config| -%>
                  <li class='dropdown-item'>
                    <%= link_to "Log in with #{t("authentication.omniauth.providers.#{provider}", default: provider.to_s.titleize)}",
                                omniauth_authorize_path('user', provider), method: :post %>
                  </li>
                <% end %>

                <li class='dropdown-item'>
                  <%= link_to t('authentication.password.title'), new_user_session_path %>
                </li>

                <% if TeSS::Config.feature['registration'] %>
                  <li role="presentation" class="divider"></li>
                  <li class='dropdown-item'>
                    <%= link_to "Register", new_user_registration_path %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </ul>

        <%# Menu -%>
        <%= menu_group do %>
          <%= menu_item "About", about_path %>

          <% if TeSS::Config.feature['events'] == true %>
            <%= menu_item "Events", events_path %>
          <% end %>
          <% if TeSS::Config.feature['materials'] == true %>
            <%= menu_item "Materials", materials_path %>
          <% end %>
          <% if TeSS::Config.feature['e-learnings'] == true %>
            <%= menu_item "e-Learning", elearning_materials_path %>
          <% end %>
          <% if TeSS::Config.feature['workflows'] == true %>
            <%= menu_item "Workflows", workflows_path %>
          <% end %>
          <% if TeSS::Config.feature['collections'] == true %>
            <%= menu_item "Collections", collections_path %>
          <% end %>
          <% if TeSS::Config.feature['providers'] == true %>
            <%= menu_item "Providers", content_providers_path %>
          <% end %>
          <% if TeSS::Config.feature['trainers'] == true %>
            <%= menu_item "Trainers", trainers_path %>
          <% end %>
          <% if TeSS::Config.feature['nodes'] == true %>
            <%= menu_item "Nodes", nodes_path %>
          <% end %>

        <% end %>


      </div>

      <% if !defined? @skip_flash_messages_in_header or !@skip_flash_messages_in_header %>
        <div id="flash-container">
          <%= flash_messages %>
        </div>
      <% end %>
    </div>
  </nav>
</header>

