<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TeSS - Training eSupport System</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag('favicon.png', :type => 'image/png') %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY -%>&libraries=places"></script>
  <%= csrf_meta_tags %>
  <% if @test_server -%>
  <meta name="robots" content="noindex">
  <% end -%>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-59838289-2', 'auto');
    ga('send', 'pageview');

  </script>
</head>
