<header class="elixir-black-header">
  <div class="container">
    <!-- Navigation bar -->

    <nav class="navbar navbar-default" role="navigation" style="margin:0px; border:0px; background-color: #333333;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="http://www.elixir-europe.org/">
            <img src="/assets/hub-logo.png" style="padding-top:12px;">
          </a>
        </div>
        <div class="collapse navbar-collapse navbarCollapse">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
                <%= menu_group pull: :right do %>
                    <li class="<%= (request.fullpath == user_path(current_user)) ? 'active' : '' %>">
                      <%= link_to current_user.username, user_path(current_user) %>
                    </li>
                    <li class="<%= (request.fullpath == users_path) ? 'active' : '' %>">
                      <%= link_to users_path do %>
                          <i class="fa fa-users fa-lg"></i>
                      <% end %>
                    </li>
                    <% if current_user.is_admin? %>
                        <li class="<%= (request.fullpath == rails_admin_path) ? 'active' : '' %>">
                          <%= link_to rails_admin_path do %>
                              <i class="fa fa-cog fa-lg"></i>
                          <% end %>
                        </li>
                    <% end %>
                    <li class="<%= (request.fullpath == destroy_user_session_path) ? 'active' : '' %>">
                      <%= link_to "Log out", destroy_user_session_path, :method => :delete, :data => {:confirm => 'Are you sure you want to log out?'} %>
                    </li>
                <% end %>
            <% else %>
                <%= menu_group pull: :right do %>
                    <li class="<%= (request.fullpath == users_path) ? 'active' : '' %>">
                      <%= link_to users_path do %>
                          <i class="fa fa-users fa-lg"></i>
                      <% end %>
                    </li>
                    <li class="<%= (request.fullpath == new_user_session_path) ? 'active' : '' %>">
                      <%= link_to "Log in", new_user_session_path %>
                    </li>
                    <li class="<%= (request.fullpath == new_user_registration_path) ? 'active' : '' %>">
                      <%= link_to "Register", new_user_registration_path %>
                    </li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<header class="elixir-orange-header">
  <div class="container">
    <nav class="navbar navbar-default navbar-static-top" style="margin:0px; border:0px;" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag "ELIXIR_TeSS_logo_white-80px-height.png", :alt => "Training eSupport System", :class => "pull-left" %>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <div style="padding-top: 35px;">
          <ul class="nav nav-pills navbar-left">
            <!--<li><!%= menu_item "Home", root_path %></li>-->
            <li><%= menu_item "Events", events_path %></li>
            <li><%= menu_item "Materials", materials_path %></li>
            <li><%= menu_item "Packages", packages_path %></li>
            <li><%= menu_item "Workflows", workflows_path %></li>
            <li><%= menu_item "Providers", content_providers_path %></li>
            <li><%= menu_item "Nodes", nodes_path %></li>
            <li><%= menu_item "About", about_path %></li>
          </ul>

          <% if display_search_box %>
              <%= form_tag search_path, :method => :get, :class => "navbar-form navbar-right", :role => "search" do %>
                  <div class="form-group">
                    <input type="text" class="form-control" name='q' placeholder="Search training...">
                  </div>
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              <% end %>
          <% end %>

        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
</header>

<% if defined? ANNOUNCEMENT_MESSAGE and !ANNOUNCEMENT_MESSAGE.blank? %>
    <%= content_tag(:div, ANNOUNCEMENT_MESSAGE.html_safe(), class: "alert alert-danger fade in", style: "font-size: 120%; font-weight: bold; text-align: center; margin-bottom: 0px; margin-top: 5px;") do
      concat content_tag(:button, '&times;'.html_safe, class: "close", data: { dismiss: 'alert' }, "aria-label" => 'close')
      concat ANNOUNCEMENT_MESSAGE.html_safe()
    end
    %>
<% end %>

<% if !defined? @skip_flash_messages_in_header or !@skip_flash_messages_in_header%>
    <div id="flash-container" class="container" style="text-align: center;">
      <%= flash_messages %>
    </div>
<% end %>
