<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= site_title %></title>
  <%= favicon_link_tag(TeSS::Config.site['favicon'], type: 'image/png') if TeSS::Config.site['favicon'] %>
  <%= stylesheet_link_tag 'application', integrity: true, media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', integrity: true, 'data-turbolinks-track': 'reload' %>
  <% unless Rails.application.secrets.google_maps_api_key.blank? %>
    <%= javascript_include_tag("https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api_key}&libraries=places") %>
  <% end %>

  <%# signup_js.html_safe -%>
  <%= csrf_meta_tags %>
  <% if TeSS::Config.prevent_robot_indexing %>
    <meta name="robots" content="noindex">
  <% end -%>

  <% if TeSS::Config.analytics_enabled && cookie_consent.allow_tracking? %>
    <%= render 'layouts/google_analytics' %>
  <% end %>

  <% if content_for? :og_header %>
    <%= yield :og_header %>
  <% else %>
    <%= render :partial => 'common/default_og' %>
  <% end %>

  <% if @bioschemas.present? %>
    <% @bioschemas.each do |data| %>
      <script type="application/ld+json">
        <%== data.to_json %>
      </script>
    <% end %>
  <% end %>

  <%= yield :extra_head if content_for? :extra_head %>
</head>
