<div class="col-lg-7 col-md-12">
  <%= link_to 'http://www.elixir-europe.org/excelerate', class: 'footer-logo pull-left hidden-xs', target: '_blank' do %>
    <%= image_tag('elixir/excelerate-logo.png') %>
  <% end %>
</div>
<div class="col-lg-5 col-md-12">
  <%= link_to 'http://www.oerc.ox.ac.uk/', class: 'footer-logo hidden-xs', target: '_blank' do %>
    <%= image_tag('elixir/oxford_logo.jpg') %>
  <% end %>
  <%= link_to 'http://www.manchester.ac.uk/', class: 'footer-logo hidden-xs', target: '_blank' do %>
    <%= image_tag('elixir/manchester_logo.png') %>
  <% end %>
  <%= link_to 'http://www.bbsrc.ac.uk/research/grants/grants/AwardDetails.aspx?FundingReference=BB/L005050/1', class: 'footer-logo hidden-xs', target: '_blank' do %>
    <%= image_tag('elixir/bbsrc-logo.png') %>
  <% end %>
  <%= link_to 'http://elixir-uk.org/', class: 'footer-logo', target: '_blank' do %>
    <%= image_tag('elixir/ELIXIR_UK_logo_orange.png') %>
  <% end %>
</div>
