<div class="col-xs-12">
  <hr/>
  <div class="supporters">
    <%= link_to 'https://elixir.ut.ee/', class: 'footer-logo', target: '_blank', rel: 'noopener' do %>
      <%= image_tag('nodes/logos_svg/EE.svg') %>
    <% end %>
    <%= link_to 'http://elixir-uk.org/', class: 'footer-logo', target: '_blank', rel: 'noopener' do %>
      <%= image_tag('nodes/logos_svg/GB.svg') %>
    <% end %>
    <%= link_to 'http://www.bbsrc.ac.uk/research/grants/grants/AwardDetails.aspx?FundingReference=BB/L005050/1', class: 'footer-logo hidden-xs', target: '_blank', rel: 'noopener' do %>
      <%= image_tag('elixir/bbsrc-logo.svg') %>
    <% end %>
    <%= link_to 'http://www.manchester.ac.uk/', class: 'footer-logo hidden-xs', target: '_blank', rel: 'noopener' do %>
      <%= image_tag('elixir/uom-logo.svg') %>
    <% end %>
    <%= link_to 'http://www.oerc.ox.ac.uk/', class: 'footer-logo hidden-xs', target: '_blank', rel: 'noopener' do %>
      <%= image_tag('elixir/oerc-logo.svg') %>
    <% end %>

    <div class="eu-notice">
      <%= image_tag('elixir/eu-flag.svg') %>
      <div>
        TeSS has received funding from the European Union’s Horizon 2020 research and innovation programme under
        grant agreement No. <a href="https://cordis.europa.eu/project/rcn/198519_en.html" target="_blank">676559</a>.
      </div>
    </div>
  </div>
</div>
