<li class="dropdown" id="user-menu">
  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= image_tag current_user.avatar_url, class: 'rounded-avatar' %>
    <strong><%= current_user.username %></strong> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li class="dropdown-item">
      <%= link_to user_path(current_user),  title: current_user.username do %>
        <i class="fa fa-user-circle"></i> <%= t('menu.user.my_profile')%>
      <% end %>
    </li>

    <li class="dropdown-item">
      <%= link_to stars_path, title: t('menu.user.view_stars') do %>
        <i class="fa fa-star"></i> <%= t('menu.user.my_stars') %>
      <% end %>
    </li>

    <% if current_user.is_curator? || current_user.is_admin? %>
      <li role="presentation" class="divider"></li>

      <li class="dropdown-header"><%= t('menu.user.administration') %></li>

      <li class="dropdown-item">
        <%= link_to users_path, title: t('menu.user.view_users') do %>
          <i class="fa fa-users"></i> <%= t('menu.user.view_users') %>
        <% end %>
      </li>
      <% if TeSS::Config.feature['sources'] %>
        <li class="dropdown-item">
          <%= link_to sources_path, title: t('menu.user.view_ingestion_sources') do %>
            <i class="fa fa-cloud-download"></i> <%= t('menu.user.view_sources') %>
          <% end %>
        </li>
      <% end %>
      <% unless TeSS::Config.feature['disabled'].include?('topics') %>
        <li class="dropdown-item">
          <%= link_to curate_topic_suggestions_path,
                      title: t('menu.user.assign_scientific_topics',
                               title: TeSS::Config.site['title_short']) do %>
            <i class="fa fa-briefcase"></i> <%= t('menu.user.curate_topics') %>
          <% end %>
        </li>
      <% end %>
      <li class="dropdown-item">
        <%= link_to curate_users_path(with_content: true) do %>
          <i class="fa fa-user-times"></i> <%= t('menu.user.curate_users') %>
        <% end %>
      </li>
      <li class="dropdown-item">
        <% if current_user.is_admin? %>
          <%= link_to rails_admin_path, title: t('menu.user.view_admin_console') do %>
            <i class="fa fa-cog"></i> <%= t('menu.user.admin_console') %>
          <% end %>
        <% end %>
      </li>
    <% end %>

    <li role="presentation" class="divider"></li>

    <li class="dropdown-item">
      <%= link_to t('menu.user.log_out'), destroy_user_session_path, method: :delete,
                  data: { confirm: t('menu.user.log_out_confirm') } %>
    </li>
  </ul>
</li>
