<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>

<%# if "#{Rails.env}" == 'production' %>
    <!--<div class="jumbotron" style="text-align:center">-->
      <!--<h1> Not the TeSS you were expecting?</h1>-->

      <!--<p>This is our sandboxed development of a new improved TeSS. Any materials added here will be deleted-->
        <!--periodically.</p>-->

      <!--<p>The current production version of TeSS is up and running at-->
        <!--<a href="http://tess.elixir-uk.org">http://tess.elixir-uk.org</a></p>-->

      <!--<p><a class="btn btn-primary btn-large" href="http://tess.elixir-uk.org">Go to TeSS</a></p>-->
    <!--</div>-->
<%# end %>

<%= render :partial=>"layouts/header" %>

<div id="main-container" class="container">
  <!-- Breadcrumbs -->
  <%= render_breadcrumbs :partial => 'common/breadcrumbs' do |breadcrumbs| %>
      <%= content_tag(:div, breadcrumbs, {class: "breadcrumbs"}) %>
  <% end %>

  <%# Main content of every page -%>
  <%= yield :layout %>
</div>

<%= render :partial=>"layouts/footer" %>

</body>
</html>
