<!DOCTYPE html>
<html>
<head>
  <title>TeSS - Training eSupport System</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if "#{Rails.env}" == 'production' %>
    <div class="jumbotron" style="text-align:center">
      <h1>  Not the TeSS you were expecting?</h1>
      <p>This is our sandboxed development of a new improved TeSS. Any materials added here will be deleted periodically.</p>
      <p>The current production version of TeSS is up and running at <a href="http://tess.elixir-uk.org">http://tess.elixir-uk.org</a></p>
      <p><a class="btn btn-primary btn-large" href="http://tess.elixir-uk.org">Go to TeSS</a></p>
    </div>
<% end %>

<header class="account-masthead">
  <div class="container">
    <!-- Navigation bar -->
    <a href="http://www.elixir-europe.org/">
      <img src="http://elixir-uk.org/++theme++elixir-uktheme/static/hub-logo.png">
    </a>
        <% if current_user %>
            <%= menu_group :class=>"account", pull: :right do %>
                <%= menu_item current_user.username, user_path(current_user), :class=>"username"%>
                <%= menu_item "Sign out", destroy_user_session_path, :method => :delete %>
            <% end %>
        <% else %>
            <%= menu_group pull: :right do %>
                <%= menu_item "Sign In", new_user_session_path %>
                <%= menu_item "Sign Up", new_user_registration_path %>
            <% end %>
        <% end %>
      </div>
</header>


<header>
<%= nav_bar static: :top, responsive: true, :class =>'masthead navbar navbar-static-top masthead' do %>
<%= image_tag "https://tess.elixir-uk.org/images/ELIXIR_TeSS_logo_white-small-6.png", :class=>"head-image pull-left" %>
    <!--<%= menu_text "Training eSupport System" %>-->
    <ul class="nav nav-pills ">
        <%= menu_group :class=>"navigation" do %>
            <li><%= menu_item "Events", events_path %></li>
            <li><%= menu_item "Materials", materials_path %></li>
            <li><%= menu_item "Packages", packages_path %></li>
            <li><%= menu_item "Workflows", workflows_path %></li>
            <li><%= menu_item "Content Providers", content_providers_path, :class=>'li' %></li>
            <li><%= menu_item "Nodes", nodes_path %></li>
            <li><%= menu_item "About", about_path %></li>
        <% end %>
    </ul>
<% end %>
</header>




<div id="main-container" class="container">

  <%= flash_messages %>

  <% unless breadcrumbs.empty? %>
      <div class="breadcrumbs">
        <!--<%#= render_breadcrumbs :tag => 'li', :separator => ' ' %>-->
        <!--<%#= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder %>-->
        <%= render_breadcrumbs(" ", { class: '', item_class: '', divider_class: '', active_class: 'active' }) %>
      </div>
  <% end %>

  <%# main content part of every page -%>
  <%= yield :layout %>

</div>

</body>
</html>