<!DOCTYPE html>
<html>
<head>
  <title>TeSS - Training eSupport System</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag('favicon.png', :type => 'image/png') %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59838289-2', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

<% if "#{Rails.env}" == 'production' %>
    <div class="jumbotron" style="text-align:center">
      <h1>  Not the TeSS you were expecting?</h1>
      <p>This is our sandboxed development of a new improved TeSS. Any materials added here will be deleted periodically.</p>
      <p>The current production version of TeSS is up and running at <a href="http://tess.elixir-uk.org">http://tess.elixir-uk.org</a></p>
      <p><a class="btn btn-primary btn-large" href="http://tess.elixir-uk.org">Go to TeSS</a></p>
    </div>
<% end %>

<header class="elixir-black-header">
  <div class="container">
    <!-- Navigation bar -->
    <nav class="navbar navbar-default" style="margin:0px; border:0px; background-color: #333333;" role="navigation">
      <a href="http://www.elixir-europe.org/">
        <img src="/assets/hub-logo.png" style="padding-top:12px;">
      </a>
      <% if current_user %>
          <%= menu_group :class=>"account", pull: :right do %>
              <%= menu_item current_user.username, user_path(current_user), :class=>"username"%>
              <%= menu_item "Log out", destroy_user_session_path, :method => :delete %>
          <% end %>
      <% else %>
          <%= menu_group pull: :right do %>
              <%= menu_item "Log in", new_user_session_path %>
              <%= menu_item "Register", new_user_registration_path %>
          <% end %>
      <% end %>
    </nav>
  </div>
</header>

<header class="elixir-orange-header">
  <div class="container">
    <nav class="navbar navbar-default navbar-static-top" style="margin:0px; border:0px;" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag "ELIXIR_TeSS_logo_white-80px-height.png", :alt=>"Training eSupport System", :class=>"pull-left"%>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <div style="padding-top: 35px;">
          <ul class="nav nav-pills navbar-left">
            <!--<li><!%= menu_item "Home", root_path %></li>-->
            <li><%= menu_item "Events", events_path %></li>
            <li><%= menu_item "Materials", materials_path %></li>
            <li><%= menu_item "Packages", packages_path %></li>
            <li><%= menu_item "Workflows", workflows_path %></li>
            <li><%= menu_item "Content Providers", content_providers_path %></li>
            <li><%= menu_item "Nodes", nodes_path %></li>
            <li><%= menu_item "About", about_path %></li>
          </ul>

          <%= form_tag search_path, :method => :get, :class=>"navbar-form navbar-right", :role=>"search" do %>
              <div class="form-group">
                <input type="text" class="form-control" name='q' placeholder="Search...">
              </div>
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Submit</button>
          <% end %>

        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
</header>

<div id="main-container" class="container">

  <%= flash_messages %>

  <% unless breadcrumbs.empty? %>
      <div id="breadcrumbs">
        <ul class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
          <!--<%#= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder %>-->
          <!--<#%= render_breadcrumbs(" ", { class: '', item_class: '', divider_class: '', active_class: 'active' }) %>-->
        </ul>
  <% end %>

  <%# main content part of every page -%>
  <%= yield :layout %>

  </div>

</body>
</html>