<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>

<body class=<%= 'sticky-navbar-enabled' if TeSS::Config.feature['sticky_navbar'] %> <%= 'header-notice-present' if TeSS::Config.header_notice&.strip.present? %>>
<%= render partial: 'layouts/header' %>

<div id="main-container" class="<%= @container_class || 'container-fluid' %>">
  <%= render 'common/breadcrumbs' if @breadcrumbs %>

  <%# Main content of every page -%>
  <%= yield %>
</div>

<%= render partial: 'layouts/footer' %>

</body>
</html>
