<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>

<%= render :partial=>"layouts/header" %>

<div id="flash-container" style="margin: 5px 10px 0px 10px;">
  <%= flash_messages %>
</div>

<div id="main-container" class="workflows-container">
  <%= render 'common/breadcrumbs' if @breadcrumbs %>

  <%# Main content of every page -%>
  <%= yield :layout %>
</div>

<%= render :partial=>"layouts/footer" %>

</body>
</html>
