<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>

<%= render :partial=>"layouts/header" %>

<div id="flash-container" class="workflows-container" style="margin-top: 5px">
  <%= flash_messages %>
</div>

<div id="main-container" class="workflows-container">
  <%= render 'common/breadcrumbs' if @breadcrumbs %>

  <%# Main content of every page -%>
  <%= yield :layout %>
</div>

<%= render :partial=>"layouts/footer" %>

</body>
</html>
